@charset "utf-8";
/* CSS Document */
a ,a:hover ,a:focus {
	color:white;
}
.ourteam h1 {
	margin-bottom: 0px;
}
/*區塊顏色*/
.bg {
	/* color: white; */
	/* border-radius: 10px; */
	/* border: 3px white solid; */
	margin: 0px auto;
	padding: 0px 40px;
	padding-top: 0px;
}
.bgword {
	padding: 10px 30px 0px 30px;
}
.strongtop {
	padding-top: 40px;
}
.bg hr {
	margin-top: 0px;
}
.bg p {
	line-height: 2em;
}
.bg1 {
	/* background-color: rgb(26,171,165); */
	/* background-color: #DAD8D6; */
	background-color: #DAD8D6;
}
.bg2 {
	/* background-color: rgb(153,198,23); */
}
.bg3 {
	/* background-color: rgb(73,74,167); */
	background-color: #DAD8D6;
}
.bg4 {
	/* background-color: rgb(239,130,1); */
}
.bg5 {
	/* background-color: rgb(26,171,165); */
	background-color: #DAD8D6;
}
/*設定milestone切換頁css*/
.milestone li a{
	color:darkslategray;
}
.milestone .nav-pills>li{
	background: linear-gradient(whitesmoke, lightgray);;
}
.milestone .nav-pills>li.active>a,.nav-pills>li.active>a:hover{
	color:white;
	background-color:darkslategray;
}
.milestone .nav>li>a:hover,.nav-pills>li.active>a:hover{
	color:white;
	background-color:darkslategray;
}
.tab-pane .h4 {
	color:darkslategray;
	font-weight:bolder;
}

.aboutdreambanner_bg{
	background-color: #E5E5E5;
	clear: both;
}
.aboutdreambanner{
	width: 1200px;
	margin: 0 auto;
}
.aboutdreambanner_left{}
.aboutdreambanner_left img{
	width: 30%;
  float: left;
  margin-top: 13%;
  margin-left: 9%;
}
.aboutdreambanner_right{
	padding: 2% 2%;
}
.aboutdreambanner_right img{
	width: 50%;
	margin-left: 5%;
}


.aboutnote_bg{
	background-color: #CEDE00;
	clear: both;
	height: 270px;
}
.aboutnote_bg::after{
	clear: both;
	content: '';
	display: block;
}
.aboutnote{
	margin: 0 auto;
	width: 1200px;
	padding-left: 5%;
  padding-right: 5%;
}
.aboutnote_content{}
.aboutnote_content img{
	float:left;
	width: 100%;
	margin-bottom: 5%;
}


.aboutmedia_bg{
	background-color: #D8D1C9;
	height: 270px;
}
.aboutmedia_bg::after{
	clear: both;
	content: '';
	display: block;
}
.aboutmedia{
	margin: 0 auto;
	width: 1200px;
	padding-left: 5%;
  padding-right: 5%;
}
.aboutmedia_left{}
.aboutmedia_left img{
	width: 30%;
	float: left;
	margin-top: 6%;
	margin-left: 10%;
	margin-bottom: 4%;
}
.aboutmedia_right{}
.aboutmedia_right img{
	width: 35%;
  margin-left: 15%;
  margin-top: 6%;
}
.aboutdream_contect{
	margin-bottom: 40px;
}

.aboutdream_contect p{
	font-size: 14px !important;
	line-height: 2em !important;
}
.aboutmilestone_contect{
	margin-bottom: 40px;
}
.aboutmilestone_contect h1, h2{
	font-family: 'xingothic-tc';
	font-weight: 500 !important;
}
.aboutmilestone_contect h2{
	color: rgb(255, 147, 0) !important;
}
.aboutmilestone_contect h1{
	text-align: left;
}
.aboutmilestone_contect P{
	font-family: 'xingothic-tc';
	font-weight: 500 !important;
	font-size: 14px !important;
	line-height: 1.5em !important;
}
.nav {
    padding-left: 0 ;
    /* margin-bottom: 5% !important; */
    list-style: none;
}
.aboutmilestone_border{
	margin: 0 5%;
}
.outteam_Introduction{
	padding-top: 1em;
}
.outteam_Introduction p{
	color: #403F41;
	font-weight: 300 !important;
	font-size: 14pt;
	line-height: 1.8em !important;
}
.outteam_Introduction a{
	color: black;
	font-weight: 500 !important;
}
.outteam_Introduction strong{
	font-weight: 300 !important;
}
.outteam_Introduction h1{
  margin-top: 10px !important;
	font-size: 20pt !important;
	color: #002E3A !important;
}
.outteam_Introduction h2{
	color: #FF8300;
	font-size: 16pt;
  margin: 0.2em 0 !important;
	font-weight: 700 !important;
}
.outteam_Introduction h3{
	color: #191919;
	font-size: 12pt;
	margin: 0.2em 0 !important;
	font-weight: 300;
}
.aboutmedia_contect{
	margin-bottom: 40px;
}
.aboutmedia_contect h2{
	font-weight: 700 !important;
}
.aboutmedia_contect h1{
	font-weight: 500 !important;
}
.aboutmedia_contect p{
	font-weight: 300 !important;
	font-size: 16px;
	line-height: 1.5em !important;
  padding-right: 40px;
}
.aboutmedia_contect a{
	font-weight: 700 !important;
	font-size: 18px;
  color: darkslategray;
}
.top_member2{
	display: none;
}
.top_member2 img{
	visibility: hidden;
}
.top_member4{
	display:none;
}
.top_member4 img{
	visibility: hidden;
}
.down_member2{
	display:block;
}
.down_member2 img{
	visibility: visible;
}
.down_member4{
	display: block;
}
.down_member4 img{
	visibility: visible;
}
.ourteam_width_gray{
	width: 100%;
	background-color: #DAD8D6;
}
.ourteam_width_lightgray{
	width: 100%;
	background-color: #F1F1F2;
}
.image_member1 img{
	margin-top: 6% !important;
	margin-left: 30%;
	width: 70%;
}
.image_member2 img{
	margin-left: 0%;
	width: 70%;
}
.image_member3 img{
	margin-left: 30%;
	width: 70%;
}
.image_member4 img{
	margin-left: 0%;
	width: 70%;
}
.image_member5 img{
	margin-left: 30%;
	width: 70%;
  margin-top: 30px;
}


@media screen and (min-width: 960px) and (max-width: 1199px){
	.aboutdreambanner{
		width: 960px;
	}
	.aboutnote_bg{
		background-color: #CEDE00;
		clear: both;
		height: 220px;
	}
	.aboutnote{
		width: 960px;
	}
	.aboutmedia_bg{
		background-color: #D8D1C9;
		height: 210px;
	}
	.aboutmedia{
		width: 960px;
	}
	.image_member1 img{
		width: 80%;
    margin-top: 17% !important;
	}
	.image_member2 img{
		width: 80%;
    margin-top: 17% !important;
	}
	.image_member3 img{
		width: 80%;
    margin-top: 17% !important;
	}
	.image_member4 img{
		width: 80%;
    margin-top: 17% !important;
	}
	.image_member5 img{
		width: 80%;
    margin-top: 32% !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 959px){
	.aboutdreambanner{
		width: 768px;
	}
	.aboutnote_bg{
		background-color: #CEDE00;
		clear: both;
		height: 180px;
	}
	.aboutnote{
		width: 768px;
	}
	.aboutmedia_bg{
		background-color: #D8D1C9;
		height: 190px;
	}
	.aboutmedia{
		width: 768px;
	}
	.aboutmedia_left img{
		width: 35%;
    float: left;
    margin-top: 6%;
    margin-left: 5%;
    margin-bottom: 4%;
	}
	.aboutmedia_right img{
		width: 40%;
    margin-left: 15%;
    margin-top: 6%;
	}
	.image_member1 img{
		margin-top: 41% !important;
		margin-left: 0;
    width: 120%;
	}
	.image_member2 img{
		margin-top: 67% !important;
		width: 100%;
	}
	.image_member3 img{
		margin-top: 34% !important;
		margin-left: 0;
		width: 100%;
	}
	.image_member4 img{
		margin-top: 0px !important;
    width: 142%;
	}
	.image_member5 img{
		margin-top: 65% !important;
		margin-left: 0;
		width: 100%;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px){
	.aboutdreambanner{
		width: 480px;
	}
	.tr {
		text-align: left;
	}
	.strongtop {
		padding-top: 10px;
	}
	.aboutnote_bg{
		background-color: #CEDE00;
		clear: both;
		height: 100px;
	}
	.aboutnote{
		width: 480px;
	}
	.aboutnote_content img{
		float: left;
		width: 100%;
		margin-bottom: 8%;
	}
	.aboutmedia_bg{
		background-color: #D8D1C9;
		height: 110px;
	}
	.aboutmedia{
		width: 480px;
	}
	.aboutmedia_left img{
		width: 35%;
		float: left;
		margin-top: 6%;
		margin-left: 5%;
		margin-bottom: 4%;
	}
	.aboutmedia_right img{
		width: 40%;
		margin-left: 15%;
		margin-top: 6%;
	}
	.aboutmedia_contect p{
	  padding-right: 0px;
	}
	.aboutmedia_contect h1{
		text-align: left;
	}
	.image_member1 img{
		margin-top: 46% !important;
    width: 120%;
		margin-left: 0;
	}
	.image_member2 img{
		margin-top: 102% !important;
    width: 140%;
		margin-left: -20%;
	}
	.image_member3 img{
		margin-top: 38% !important;
		width: 100%;
		margin-left: 0;
	}
	.image_member4 img{
		margin-top: 0px !important;
    width: 104%;
		margin-left: 0;
	}
	.image_member5 img{
		margin-top: 66% !important;
    width: 105%;
		margin-left: 0;
	}
	.bgword {
		padding: 10px 30px 40px 30px;
	}
}
@media screen and (min-width: 390px) and (max-width: 479px){
	.bg1{
		padding-top: 20px;
    PADDING-BOTTOM: 30PX;
	}
	.bg2{
		padding-top: 20px;
		PADDING-BOTTOM: 30PX;
	}
	.aboutdreambanner{
		width: 390px;
	}
	.aboutnote_bg{
		background-color: #CEDE00;
		clear: both;
		height: 80px;
	}
	.aboutnote{
		width: 390px;
	}
	.aboutnote_content img{
		float: left;
		width: 100%;
		margin-bottom: 8%;
	}
	.aboutmedia_bg{
		background-color: #D8D1C9;
		height: 120px;
	}
	.aboutmedia{
		width: 390px;
	}
	.aboutmedia_left img{
		width: 35%;
		float: left;
		margin-top: 6%;
		margin-left: 5%;
		margin-bottom: 4%;
	}
	.aboutmedia_right img{
		width: 40%;
		margin-left: 15%;
		margin-top: 6%;
	}
	.aboutmedia_contect p{
	  padding-right: 0px;
	}
	.aboutmedia_contect h1{
		text-align: left;
	}

		.top_member2{
			display:block;
		}
		.top_member2 img{
			visibility: visible;
		}
		.top_member4{
			display:block;
		}
		.top_member4 img{
			visibility: visible;
		}
		.down_member2{
			display:none;
		}
		.down_member2 img{
			visibility: hidden;
		}
		.down_member4{
			display:none;
		}
		.down_member4 img{
			visibility: hidden;
		}
		.image_member1 img{
			margin-top: 6% !important;
			margin-left: 0%;
			width: 100%;
		}
		.image_member2 img{
			margin-left: 0%;
			width: 100%;
		}
		.image_member3 img{
			margin-left: 0%;
			width: 100%;
		}
		.image_member4 img{
			margin-left: 0%;
			width: 100%;
		}
		.image_member5 img{
			margin-left: 0%;
			width: 100%;
		}
}
@media screen and (min-width: 350px) and (max-width: 389px){
	.bg1{
		padding-top: 20px;
		PADDING-BOTTOM: 30PX;
	}
	.bg2{
		padding-top: 20px;
		PADDING-BOTTOM: 30PX;
	}
	.aboutdreambanner{
		width: 350px;
	}
	.aboutnote_bg{
		background-color: #CEDE00;
		clear: both;
		height: 80px;
	}
	.aboutnote{
		width: 350px;
	}
	.aboutnote_content img{
		float: left;
		width: 100%;
		margin-bottom: 8%;
	}
	.aboutmedia_bg{
		background-color: #D8D1C9;
		height: 90px;
	}
	.aboutmedia{
		width: 350px;
	}
	.aboutmedia_left img{
		width: 35%;
		float: left;
		margin-top: 6%;
		margin-left: 5%;
		margin-bottom: 4%;
	}
	.aboutmedia_right img{
		width: 40%;
		margin-left: 15%;
		margin-top: 6%;
	}
	.aboutmedia_contect p{
	  padding-right: 0px;
	}

		.top_member2{
			display:block;
		}
		.top_member2 img{
			visibility: visible;
		}
		.top_member4{
			display:block;
		}
		.top_member4 img{
			visibility: visible;
		}
		.down_member2{
			display:none;
		}
		.down_member2 img{
			visibility: hidden;
		}
		.down_member4{
			display:none;
		}
		.down_member4 img{
			visibility: hidden;
		}
		.image_member1 img{
			margin-top: 6% !important;
			width: 100%;
	    margin-left: 0px !important;
		}
		.image_member2 img{
			margin-left: 0%;
			width: 100%;
		}
		.image_member3 img{
			margin-left: 0%;
			width: 100%;
		}
		.image_member4 img{
			margin-left: 0%;
			width: 100%;
		}
		.image_member5 img{
			margin-left: 0%;
			width: 100%;
		}
}
