@charset "UTF-8";
/* CSS Document */
.blob{font-weight: 600 !important;}
.blob-lg{font-weight: 900 !important;}

.lm-1{margin-left: 5px !important;}
.lm-2{margin-left: 10px !important;}
.lm-3{margin-left: 15px !important;}
.lm-4{margin-left: 20px !important;}
.lm-5{margin-left: 25px !important;}

.rm-1{margin-right: 5px !important;}
.rm-2{margin-right: 10px !important;}
.rm-3{margin-right: 15px !important;}
.rm-4{margin-right: 20px !important;}
.rm-5{margin-right: 25px !important;}

.tm-0{margin-top: 0px !important;}
.tm-1{margin-top: 5px !important;}
.tm-2{margin-top: 10px !important;}
.tm-3{margin-top: 15px !important;}
.tm-4{margin-top: 20px !important;}
.tm-5{margin-top: 25px !important;}

.bm-1{margin-bottom: 5px !important;}
.bm-2{margin-bottom: 10px !important;}
.bm-3{margin-bottom: 15px !important;}
.bm-4{margin-bottom: 20px !important;}
.bm-5{margin-bottom: 25px !important;}

.lp-0{padding-left: 0px !important;}
.lp-1{padding-left: 5px !important;}
.lp-2{padding-left: 10px !important;}
.lp-3{padding-left: 15px !important;}
.lp-4{padding-left: 20px !important;}
.lp-5{padding-left: 25px !important;}

.rp-1{padding-right: 5px !important;}
.rp-2{padding-right: 10px !important;}
.rp-3{padding-right: 15px !important;}
.rp-4{padding-right: 20px !important;}
.rp-5{padding-right: 25px !important;}

.tp-1{padding-top: 5px !important;}
.tp-2{padding-top: 10px !important;}
.tp-3{padding-top: 15px !important;}
.tp-4{padding-top: 20px !important;}
.tp-5{padding-top: 25px !important;}

.bp-1{padding-bottom: 5px !important;}
.bp-2{padding-bottom: 10px !important;}
.bp-3{padding-bottom: 15px !important;}
.bp-4{padding-bottom: 20px !important;}
.bp-5{padding-bottom: 25px !important;}


.lb-0{border-left:1px solid #888 !important;padding-left: 5px;}
.lb-1{border-left:2px solid #888 !important;padding-left: 5px;}
.lb-2{border-left:3px solid #888 !important;padding-left: 5px;}
.lb-3{border-left:4px solid #888 !important;padding-left: 5px;}
.lb-4{border-left:5px solid #888 !important;padding-left: 5px;}
.lb-5{border-left:6px solid #888 !important;padding-left: 5px;}

.tb-0{border-top:1px solid #888 !important;padding-left: 5px;}
.tb-1{border-top:2px solid #888 !important;padding-left: 5px;}
.tb-2{border-top:3px solid #888 !important;padding-left: 5px;}
.tb-3{border-top:4px solid #888 !important;padding-left: 5px;}
.tb-4{border-top:5px solid #888 !important;padding-left: 5px;}
.tb-5{border-top:6px solid #888 !important;padding-left: 5px;}

.bb-0{border-bottom:1px solid #888 !important;padding-left: 5px;}
.bb-1{border-bottom:2px solid #888 !important;padding-left: 5px;}
.bb-2{border-bottom:3px solid #888 !important;padding-left: 5px;}
.bb-3{border-bottom:4px solid #888 !important;padding-left: 5px;}
.bb-4{border-bottom:5px solid #888 !important;padding-left: 5px;}
.bb-5{border-bottom:6px solid #888 !important;padding-left: 5px;}

.rb-0{border-right:1px solid #888 !important;padding-left: 5px;}
.rb-1{border-right:2px solid #888 !important;padding-left: 5px;}
.rb-2{border-right:3px solid #888 !important;padding-left: 5px;}
.rb-3{border-right:4px solid #888 !important;padding-left: 5px;}
.rb-4{border-right:5px solid #888 !important;padding-left: 5px;}
.rb-5{border-right:6px solid #888 !important;padding-left: 5px;}

.lb-c-danger{border-left-color: #d43f3a !important;}
.lb-c-danger{border-left-color: #d43f3a !important;}
.lb-c-warning{border-left-color: #985f0d !important;}
.lb-c-success{border-left-color: #4cae4c !important;}
.lb-c-primary{border-left-color: #2e6da4 !important;}
.lb-c-default{border-left-color: #ccc !important;}

.tb-c-danger{border-top-color: #d43f3a !important;}
.tb-c-danger{border-top-color: #d43f3a !important;}
.tb-c-warning{border-top-color: #985f0d !important;}
.tb-c-success{border-top-color: #4cae4c !important;}
.tb-c-primary{border-top-color: #2e6da4 !important;}
.tb-c-default{border-top-color: #ccc !important;}

.bb-c-danger{border-bottom-color: #d43f3a !important;}
.bb-c-danger{border-bottom-color: #d43f3a !important;}
.bb-c-warning{border-bottom-color: #985f0d !important;}
.bb-c-success{border-bottom-color: #4cae4c !important;}
.bb-c-primary{border-bottom-color: #2e6da4 !important;}
.bb-c-default{border-bottom-color: #ccc !important;}

.rb-c-danger{border-right-color: #d43f3a !important;}
.rb-c-danger{border-right-color: #d43f3a !important;}
.rb-c-warning{border-right-color: #985f0d !important;}
.rb-c-success{border-right-color: #4cae4c !important;}
.rb-c-primary{border-right-color: #2e6da4 !important;}
.rb-c-default{border-right-color: #ccc !important;}

.lh-0{line-height: 100% !important;}
.lh-1{line-height: 125% !important;}
.lh-2{line-height: 150% !important;}
.lh-3{line-height: 175% !important;}
.lh-4{line-height: 200% !important;}

.ls-1{letter-spacing: 1px !important;}
.ls-2{letter-spacing: 2px !important;}
.ls-3{letter-spacing: 3px !important;}
.ls-4{letter-spacing: 4px !important;}
.ls-5{letter-spacing: 5px !important;}

.gray-text-1{color:#333 !important;}
.gray-text-2{color:#444 !important;}
.gray-text-3{color:#555 !important;}
.gray-text-4{color:#666 !important;}
.gray-text-5{color:#777 !important;}
.gray-text-6{color:#888 !important;}
.gray-text-7{color:#999 !important;}

.gray-bgc-e{background-color:#eee !important;}

.white-text{color:#ffffff !important;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}

.dimgray{color:dimgray;}
.warning{color:rgb(255,131,0);}
.warning body,p{line-height: 30pt !important; font-size: 16pt; font-family: 'xingothic-tc'; font-weight: 500!important;}
.darkslategray{color:darkslategray;}
a:hover{text-decoration: none;}
