@charset "utf-8";
/*連結文字樣式*/
main {
	margin-bottom: 50px;
}
a ,a:hover ,a:focus {
	color:white;
}
.nav-pills li {
	width: 100px;
	text-align: center;
}
.i-item {
	padding-top: 20px;
	padding-right: 20px;
	text-align: right;
	margin-right: 30px;
}
/*課程區塊按鈕樣式*/
/*.btn-orange {
	color: white;
	background-color: rgb(255,131,0);
	border-color: rgb(255,131,0);
}*/
/*課程區塊按鈕滑鼠滑入樣式*/
/*.btn:hover {
	color: white;
	background-color: rgb(149,214,0);
	border-color: rgb(149,214,0);
}*/

/*設定classprove切換頁css*/
.youtube {
	margin-bottom: 20px;
}
.milestone li a{
	color:darkslategray;
}
.milestone .nav-pills>li{
	background: linear-gradient(whitesmoke, lightgray);;
}
.milestone .nav-pills>li.active>a,.nav-pills>li.active>a:hover{
	color:white;
	background-color:darkslategray;
}
.milestone .nav>li>a:hover,.nav-pills>li.active>a:hover{
	color:white;
	background-color:darkslategray;
}
.tab-pane .h4 {
	color:darkslategray;
	font-weight:bolder;
}
.provediv {
	padding: 10px 10px 10px 10px;
}
.provediv button {
	text-align:left;
}
.prove {
	text-align:left;
	border: 1px gray solid;
	background-color:#B7B7B7;
}
.orange {
	color:rgb(255,131,0);
	font-weight: bold;
}
.btn-whitesmoke {
	background-color: whitesmoke;
}
.provediv .modal-header {
	border-bottom: 0px;
}
.provediv .modal-content {
	background-color: rgba(255,255,255,0.00);
  	border: 0px solid ;
  	box-shadow:0px 0px 0px rgba(0,0,0,0.0);
  	background-clip: padding-box;
  	outline: 0;
}
.layoutprove {
	padding: 20px 20px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}
.close {
	opacity: 1.0;
	color: white;
}
.classbutton {
	/* padding-top: 20px; */
	margin: 10px auto;
	margin-bottom: 30px;
	clear: both;

}
.class1BG{
  background-image: url("../images/class/scratch-sm-min_bg_01.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
	/* background-position-y:20%; */
}
.class2BG{
  background-image: url("../images/class/scratch-sm-min_bg_02.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class3BG{
  background-image: url("../images/class/scratch-sm-min_bg_03.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class4BG{
  background-image: url("../images/class/scratch-sm-min_bg_04.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class5BG{
  background-image: url("../images/class/python-1-min_bg_01.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class6BG{
  background-image: url("../images/class/python-1-min_bg_02.jpg");
	background-size: 58%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class7BG{
  background-image: url("../images/class/udacity-min_bg_01.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class8BG{
  background-image: url("../images/class/classprove_bg_01.jpg");
	background-size: 68%;
  background-repeat: repeat-x;
	background-position-x:65%;
}
.class1{
	position: relative !important;
	width: 100%;
	margin: 0 auto;
}
.class1_img01{
	/* margin: 0 auto; */
}
.class1_img02{
	/* margin: 0 auto; */
}
.class1_img01 img {
	position: relative !important;
	margin-left: 18% !important;
	margin-top: 3.5%;
	width: 12%;
	/* border-style: solid;
	border-width: 10px; */
}
.class1_img02 img {
	position: relative !important;
	margin-left: 55% !important;
	width: 25%;
	margin-top: -13% !important;
	margin-bottom: 20px !important;
	/* border-style: solid;
	border-width: 10px; */
}
.class1_img03 img {
	position: relative !important;
	margin-left: 18% !important;
	margin-top: 3.5%;
	width: 12%;
	/* border-style: solid;
	border-width: 10px; */
}
.class1_img04 img {
	position: relative !important;
	margin-left: 38% !important;
	width: 47%;
	margin-top: -13% !important;
	margin-bottom: 20px !important;
}
.class1_img05 img {
	position: relative !important;
	margin-left: 31% !important;
	width: 54%;
	margin-top: -14.3% !important;
	margin-bottom: 20px !important;
}
.class1_img06 img {
	position: relative !important;
	margin-left: 18% !important;
	margin-top: 6.5%;
	width: 18%;
	/* border-style: solid;
	border-width: 10px; */
}
.class1_img07 img {
	position: relative !important;
	margin-left: 51% !important;
	width: 33%;
	margin-top: -12% !important;
	margin-bottom: 20px !important;
}
.class1_img08 img {
	position: relative !important;
	margin-left: 20% !important;
	width: 60%;
	margin-top: 0% !important;
	margin-bottom: 5% !important;
}
.class1_img_moon img {
	position: relative !important;
	margin-left: 78% !important;
	width: 1%;
	margin-top: -53% !important;
}

.class1_content{}

.scratchcs_content{
	margin-bottom: 30px;
}
.scratchcs_content span{
	font-size: 24px !important;
	font-weight: 500 !important;
}
.scratchcs_content p{
	font-size: 16px !important;
	line-height: 2em !important;
}



@media screen and (min-width: 960px) and (max-width: 1199px) {
	.class1BG, .class2BG, .class3BG, .class4BG, .class5BG, .class6BG, .class7BG{
		background-size: 70%;
		background-position-x:65%;
		/* background-position-y:8%; */
	}
	.class6BG{
		background-size: 61%;
		background-position-x:65%;
		/* background-position-y:8%; */
	}
	.class1_img01 img, .class1_img03 img {
		width: 13%;
	}
	.class1_img05 img {
		position: relative !important;
		margin-left: 31% !important;
		width: 54%;
		margin-top: -14.3% !important;
		margin-bottom: 20px !important;
	}
	.class1_img06 img {
		position: relative !important;
		margin-left: 18% !important;
		margin-top: 6.5%;
		width: 18%;
	}
	.class1_img07 img {
		margin-left: 51% !important;
		width: 33%;
		margin-top: -11.1% !important;
		margin-bottom: 20px !important;
	}

}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.class1BG, .class2BG, .class3BG, .class4BG, .class5BG, .class7BG{
		background-size: 70%;
		background-position-x:65%;
		/* background-position-y:8%; */
	}
	.class6BG{
		background-size: 80%;
		background-position-x:65%;
		/* background-position-y:8%; */
	}
	.class1{
		position: relative !important;
		width: 100%;
		/* border-style: solid;
		border-width: 10px; */
		/* border-style: solid;
		border-width: 10px; */
		margin: 0 auto;
	}
	.nav-pills li {
		width: 70px;
	}
	.classbutton {
		padding-top: 0px;
	}
	.class1_img01 img, .class1_img03 img {
		width: 20%;
	}
	.class1_img02 img {
		position: relative !important;
		margin-top: -21.1% !important;
		margin-bottom: 20px !important;
	}
	.class1_img04 img {
		position: relative !important;
		margin-left: 40% !important;
		width: 45%;
		margin-top: -19.6% !important;
		margin-bottom: 20px !important;
	}
	.class1_img05 img {
		position: relative !important;
		margin-left: 21% !important;
		width: 63%;
		margin-top: -17.8% !important;
		margin-bottom: 20px !important;
	}
	.class1_img06 img {
		position: relative !important;
		margin-left: 18% !important;
		margin-top: 4.5%;
		width: 18%;

	}
	.class1_img07 img {
		position: relative !important;
		margin-left: 51% !important;
		width: 33%;
		margin-top: -9% !important;
		margin-bottom: 20px !important;
	}
	.class1_img_moon img {
		position: relative !important;
		margin-left: 78% !important;
		width: 2%;
		margin-top: -55% !important;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	.class1BG, .class2BG, .class3BG, .class4BG, .class5BG, .class7BG{
		background-size: 70%;
		background-position-x:65%;
		/* background-position-y:8%; */
	}
	.class6BG{
		background-size: 80%;
		background-position-x:65%;
		/* background-position-y:8%; */
	}
	.class1{
		position: relative !important;
		width: 100%;
		/* border-style: solid;
		border-width: 10px; */
		/* border-style: solid;
		border-width: 10px; */
		margin: 0 auto;
	}
	.nav-pills li {
		width: 70px;
	}
	.classbutton {
		padding-top: 0px;
	}
	.class1_img01 img, .class1_img03 img {
		width: 20%;
	}
	.class1_img02 img {
		position: relative !important;
		margin-top: -21.1% !important;
		margin-bottom: 20px !important;
	}
	.class1_img04 img {
		position: relative !important;
		margin-left: 40% !important;
		width: 45%;
		margin-top: -19.5% !important;
		margin-bottom: 20px !important;
	}
	.class1_img05 img {
		position: relative !important;
		margin-left: 22% !important;
		width: 65%;
		margin-top: -18.4% !important;
		margin-bottom: 20px !important;
	}
	.class1_img06 img {
		position: relative !important;
		margin-left: 18% !important;
		margin-top: 4%;
		width: 20%;
	}
	.class1_img07 img {
		position: relative !important;
		margin-left: 51% !important;
		width: 33%;
		margin-top: -10% !important;
		margin-bottom: 20px !important;
	}
	.class1_img08 img {
		position: relative !important;
		margin-left: 13% !important;
		width: 80%;
		margin-top: 2% !important;
		margin-bottom: 5% !important;
	}
	.class1_img_moon img {
		position: relative !important;
		margin-left: 78% !important;
		width: 2%;
		margin-top: -57% !important;
	}
}

@media screen and (min-width: 390px) and (max-width: 479px){
	.class1BG, .class2BG, .class3BG, .class4BG, .class5BG, .class6BG{
		background-position-x: 50px;
		background-position-y:0%;
		background-size: 100% !important;
		/* background-size: 80%; */
	}
	.class5BG{
		background-position-x: 50px;
		background-position-y:0%;
		background-size: 80% !important;
		/* background-size: 80%; */
	}
	.class7BG{
		background-position-x: 50px;
		background-position-y:0%;
		background-size: 90% !important;
		/* background-size: 80%; */
	}
	.class1_img01 img, .class1_img03 img {
		position: relative !important;
		margin-left: 18% !important;
		margin-top: 3.5%;
		width: 25%;
	}
	.class1_img02 img {
		width: 35%;
    position: relative !important;
    margin-top: -26% !important;
    margin-bottom: 20px !important;
	}
	.class1_img04 img {
		position: relative !important;
		margin-left: 39% !important;
		width: 45%;
		margin-top: -21% !important;
		margin-bottom: 20px !important;
	}
	.class1_img05 img {
		position: relative !important;
		margin-left: 25% !important;
		width: 65%;
		margin-top: -15.9% !important;
		margin-bottom: 20px !important;
	}
	.class1_img06 img {
		position: relative !important;
		margin-left: 18% !important;
		margin-top: 6.5%;
		width: 30%;
	}
	.class1_img07 img {
		position: relative !important;
		margin-left: 51% !important;
		width: 33%;
		margin-top: -11% !important;
		margin-bottom: 20px !important;
	}
	.class1_img08 img {
		position: relative !important;
		margin-left: 13% !important;
		width: 80%;
		margin-top: 2% !important;
		margin-bottom: 5% !important;
	}
	.class1_img_moon img {
		position: relative !important;
		margin-left: 78% !important;
		width: 2%;
		margin-top: -80% !important;
	}
}

@media screen and (min-width: 350px) and (max-width: 389px){
	.class1BG, .class2BG, .class3BG, .class4BG, .class5BG, .class6BG{
		background-position-x: 50px;
		background-position-y:0%;
		background-size: 100% !important;
	}
	.class5BG{
		background-position-x: 50px;
		background-position-y:0%;
		background-size: 80% !important;
	}
	.class7BG{
		background-position-x: 50px;
		background-position-y:0%;
		background-size: 90% !important;
		/* background-size: 80%; */
	}
	.class1_img01 img, .class1_img03 img {
		width: 25%;
	}
	.class1_img02 img {
		width: 35%;
		position: relative !important;
		margin-top: -27% !important;
		margin-bottom: 20px !important;
	}
	.class1_img04 img {
		position: relative !important;
		margin-left: 41% !important;
		width: 45%;
		margin-top: -21% !important;
		margin-bottom: 20px !important;
	}
	.class1_img05 img {
		position: relative !important;
		margin-left: 24% !important;
		width: 70%;
		margin-top: -18% !important;
		margin-bottom: 20px !important;
	}
	.class1_img06 img {
		position: relative !important;
		margin-left: 18% !important;
		margin-top: 6.5%;
		width: 30%;
	}
	.class1_img07 img {
		position: relative !important;
		margin-left: 51% !important;
		width: 33%;
		margin-top: -11% !important;
		margin-bottom: 20px !important;
	}
	.class1_img08 img {
		position: relative !important;
		margin-left: 13% !important;
		width: 80%;
		margin-top: 2% !important;
		margin-bottom: 5% !important;
	}
	.class1_img_moon img {
		position: relative !important;
		margin-left: 78% !important;
		width: 2%;
		margin-top: -83% !important;
	}
	.class1_content{
		margin-left: 30px;
		margin-right: -30px;
	}
}
