@charset "utf-8";
/* CSS Document */
/* 全站字體定義 */
h1,h2,h3,h4,h5,h6 {
	font-family: 'xingothic-tc';
	font-weight: 700;
}
body,p {
	/*font-family: 'xingothic-tc';*/
	font-weight: 300;
	line-height: 20pt;
}
/* 全站連結顏色 */
a, a:focus, a:hover {
	color:white;
	text-decoration: none;
}
/* 全站連結底線 */
a:focus {
	text-decoration: none;
}
/*清除nav空白底線*/
.navbar {
	margin-bottom: 0px;
}
/*nav背景色及底線*/
.navbar-default {
	background-color: rgb(0,48,60);
	border-bottom: rgb(255,131,0) 3px solid;
}
/*logo位置*/
.navbar-brand {
	padding: 8px 0px 5px 20px;
}
/*nav文字顏色*/
.navbar-default .navbar-nav>li>a {
	color: white;
}
/*nav選取文字及背景色*/
.navbar-default .navbar-nav > li > a:hover {
	color: white;
	background-color: rgb(38,79,89);
}
/*nav點選展開後文字及背景色*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: white;
	background-color: rgb(38,79,89);
}
/*nav點選後文字及背景色*/
.navbar-default .navbar-nav>li>a:focus {
	color: white;
	background-color: rgb(38,79,89);
}
/*下拉式選單背景色*/
.dropdown-menu {
	background-color: rgb(0,48,60);
}
/*下拉式選單文字色*/
.dropdown-menu>li>a {
	color: white;
}
/*下拉式選單選取文字及背景色*/
.dropdown-menu>li>a:hover {
	color: white;
	background-color: rgb(38,79,89);
}
/*手機版漢堡紐hover背景色*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	/* background-color: rgb(38,79,89); */
	/* background-color: rgb(236,234,230); */
	background-color: rgba(236, 234, 230, 0);
}
/*手機版漢堡紐色*/
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
/*Logo置中*/
.logobefore{
	position:absolute;
	left:45%;
}
/*綠塊圖片*/
figcaption img {
	width: 100%;
	margin: 10px 0px 0px 0px;
}
/*code區塊位置*/
.code {
	text-align: center;
	padding: 30px 0px 0px 0px;
	background-color: darkslategray;
}
footer a,footer .glyphicon:hover{
	color: white;
}
/*頁尾背景色*/
.footer {
	background-color: rgb(26,171,165);
	padding: 20px 30px 0px 30px;
}
/*右下側箭頭點擊滾動上方樣式*/
.scrolltop {
	color: white;
	background-color: rgb(255,131,0);
	text-align:center;
	line-height:2em;
	border-radius:5px;
	position: fixed;
	width:30px;
	height:30px;
	bottom: 50px;
	right: 5px;
	z-index:999;
}
/*頁尾社群媒體以及連結文字*/
.myMOUSE {
	cursor: pointer;
}
footer .myMOUSE:hover{
	color:white;
}
.social {
	text-align: center;
	margin-top: 10px;
	line-height: 2em;
	color: white;
}
.social .h4 {
	text-align: left;
}
.social p {
	font-size: 12px;
	text-align: left;
}
/*頁尾連結文字顏色*/
.social a{
	color: white;
}
.social a:hover {
	color: rgb(255,131,0);
}
.copyright {
	color: white;
	text-align: center;;
	margin-top: 0px;
}
.copyright p{
	font-family: 'xingothic-tc';
	font-weight: 300 !important;
	font-size: 14px;
	line-height: 18px !important;
}
.footernavmd .h4,.footernavmd p {
	color: white;
	text-align: center;
}
.footernavmd p a {
	color: white;
}
.footernavmd .h4:hover,.footernavmd p a:hover {
	color: rgb(255,131,0);
}
.footernavmd .panel,.footernavmd .panel-default>.panel-heading {
	background-color: rgb(26,171,165);
}
.codingforfun{}
.codingforfun img{
	width: 100%;
}
.codingforfun p{
	font-size: 1vw;
  font-weight: 300 !important;
}
.classprove_contect{}

.classprove_contect h2{
	padding: 0 20px;
	color: darkslategray;
	font-weight: bolder;
	font-size: 16px;
}
.classprove_contect p{
  padding: 0 20px;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20pt !important;
	font-weight: 300 !important;
	padding-bottom: 0px;
}
.footer_padding div{
	padding-right: 0px !important;
}
.new_mailto a:link {
    color: rgb(255,255,255) !important;
}
.new_mailto a:visited {
    color: rgb(255,255,255) !important;
}
.new_mailto a:hover {
    color: rgb(255,255,255) !important;
}
.new_mailto a:active {
    color: rgb(255,255,255) !important;
}

@media (min-width:1199px){
	.footernavmd {
		display: none;
	}
	.codingforfun img{
		width: 100%;
	}
	.codingforfun p{
		font-size: 1vw;
		font-weight: 300 !important;

	}
}
@media (max-width: 1199px){
	.footernavlg {
		display: none;
	}
	.codingforfun img{
		width: 50%;
	}
	.codingforfun p{
		font-size: 2vw;
		font-weight: 300 !important;
		margin-right: 25%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	/*Logo置中*/
	.logobefore{
		position:absolute;
		left:55%;
	}
	.codingforfun img{
		width: 50%;
	}
	.codingforfun p{
		font-size: 2vw;
		font-weight: 300 !important;
		margin-right: 25%;
	}
}
@media (max-width: 767px){
	/*Logo置中*/
	a,a:hover {
		color:white;
		text-decoration: none;
	}
	.logobefore{
		position:absolute;
		left:35%;
	}
	/*手機版文字顏色*/
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: white;
	}
	/*手機版hover文字及背景顏色*/
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: white;
		background-color: rgb(38,79,89);
	}
	/*footerlogo位置*/
	.footerlogo {
		margin-top: 10px;
	}
	.darkslategrayspace {
		visibility: hidden;
	}
	.copyright p{
		font-family: 'xingothic-tc';
		font-weight: 300 !important;
		font-size: 12px;
		line-height: 18px !important;
	}
	.codingforfun img{
		width: 50%;
	}
	.codingforfun p{
		font-size: 2.5vw;
		font-weight: 300 !important;
		margin-right: 25%;
	}
}
/*自訂480px以下刪格系統*/
@media (max-width: 767px) and (min-width: 480px) {
	.col-xsm-12 {
	  width: 100%;
	}
	.col-xsm-11 {
	  width: 91.66666667%;
	}
	.col-xsm-10 {
	  width: 83.33333333%;
	}
	.col-xsm-9 {
	  width: 75%;
	}
	.col-xsm-8 {
	  width: 66.66666667%;
	}
	.col-xsm-7 {
	  width: 58.33333333%;
	}
	.col-xsm-6 {
	  width: 50%;
	}
	.col-xsm-5 {
	  width: 41.66666667%;
	}
	.col-xsm-4 {
	  width: 33.33333333%;
	}
	.col-xsm-3 {
	  width: 25%;
	}
	.col-xsm-2 {
	  width: 16.66666667%;
	}
	.col-xsm-1 {
	  width: 8.33333333%;
	}
	.copyright p{
		font-family: 'xingothic-tc';
		font-weight: 300 !important;
		font-size: 12px;
		line-height: 18px !important;
	}
	.codingforfun img{
		width: 80%;
	}
	.codingforfun p{
		font-size: 3.5vw;
    font-weight: 300 !important;
    margin-right: 10%;
	}
}
@media (max-width: 480px){
	/*Logo置中*/
	.navbar-brand {
    padding: 8px 0px 5px 23%;
	}
	.logobefore{
		position:absolute;
		left:20%;
	}
	.col-xxsm-12 {
	  width: 100%;
	}
	.col-xxsm-11 {
	  width: 91.66666667%;
	}
	.col-xxsm-10 {
	  width: 83.33333333%;
	}
	.col-xxsm-9 {
	  width: 75%;
	}
	.col-xxsm-8 {
	  width: 66.66666667%;
	}
	.col-xxsm-7 {
	  width: 58.33333333%;
	}
	.col-xxsm-6 {
	  width: 50%;
	}
	.col-xxsm-5 {
	  width: 41.66666667%;
	}
	.col-xxsm-4 {
	  width: 33.33333333%;
	}
	.col-xxsm-3 {
	  width: 25%;
	}
	.col-xxsm-2 {
	  width: 16.66666667%;
	}
	.col-xxsm-1 {
	  width: 8.33333333%;
	}
	.col-xxsm-offset-12 {
		margin-left: 100%;
	}
	.col-xxsm-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-xxsm-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-xxsm-offset-9 {
		margin-left: 75%;
	}
	.col-xxsm-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-xxsm-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-xxsm-offset-6 {
		margin-left: 50%;
	}
	.col-xxsm-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-xxsm-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-xxsm-offset-3 {
		margin-left: 25%;
	}
	.col-xxsm-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xxsm-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-xxsm-offset-0 {
		margin-left: 0%;
	}
	.copyright p{
		font-family: 'xingothic-tc';
		font-weight: 300 !important;
		font-size: 12px;
		line-height: 18px !important;
	}
	.codingforfun img{
		width: 80%;
	}
	.codingforfun p{
		font-size: 3.5vw;
    font-weight: 300 !important;
    margin-right: 10%;
	}
	.footer_Icon_Center{
		width: 100% !important;
    padding: 0 75px;
	}
}
/*課程區塊按鈕樣式*/
.btn-orange {
	color: white;
	background-color: rgb(255,131,0);
	border-color: rgb(255,131,0);
}
/*課程區塊按鈕滑鼠滑入樣式*/
.btn:hover {
	color: white;
	background-color: rgb(149,214,0);
	border-color: rgb(149,214,0);
}