<!DOCTYPE html>
<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="樂學程式學院辦學宗旨要讓孩子快樂學習程式,輕鬆踏出程式設計的第一步。以學生為本、以程式為體的翻轉教室學習,還能養成自學的好習慣,讓家長看見孩子的自信和轉變。彈指之間為自己的未來創造無限可能。">
    <meta name="copyright" content="樂學科技">
	<meta name="author" content="Coding4fun">

    <title>Flipping classroom</title>

    <!-- Bootstrap core CSS -->
    <link href="html/template/ads/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="html/template/ads/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="html/template/ads/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="html/template/ads/css/p2-creative.css" rel="stylesheet">


  </head>

  <body id="page-top">

    <!-- Navigation -->	
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">樂學程式學院</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#f-classroom">翻轉教室</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#exam">Scratch能力測驗</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase shadow-text">
              <strong>Coding For Fun 的翻轉教室</strong>
			  <br>
			  <strong>學習由自己掌握</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-strong text-lighted mb-5 shadow-text" >學習程式再也不是無止盡的修改與模仿
			<br>在樂學程式學院，我們更強調自學與解決問題能力</p>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="f-classroom">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white text-strong shadow-text">樂學翻轉教室</h2>
			<img src="html/template/ads/img/p1/logo.png">
            <hr class="light my-4">
            <p class="text-faded mb-4">首間採用「翻轉教室」方式教授程式課程，讓學習不再是一成不變的你說我聽
            <br> 孩子遠比您想像的更能掌握學習進度，老師現場引導，協助學生吸收與理解
            <br> 翻轉教室不只讓學生提升吸收成效，也透過動手做，紮實思考深度與廣度。</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="https://docs.google.com/forms/d/e/1FAIpQLSdT8UVsoxBZYkUjecEMrmWP9Rk0iuGvYM4mdOQ-ImaJlrP-Mw/viewform">報名免費體驗課程</a>
          </div>
        </div>
      </div>
    </section>

	<!-- 樂學課程 -->
    <section id="exam">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-strong">樂學 Scratch 能力測驗</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container text-center">
        <!-- <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i> -->
		<img class="img-fluid" src="html/template/ads/img/p2/exam.jpg">
        <h3 class="mb-3">   </h3>
        <p class="text-muted mb-4">我們為孩子提供不同面向的能力測驗報告
		<br>五大能力分析學習成效
		<br>程式熟練度、邏輯思考、口語表達、創意發想、Coding style
		<br>測驗不僅只是看結果，更重要的是實作過程
		<br>而我們最關心的是孩子邏輯思考與創意發想的的程度</p>
		<a class="btn btn-dark btn-xl sr-button" href="https://docs.google.com/forms/d/e/1FAIpQLSdT8UVsoxBZYkUjecEMrmWP9Rk0iuGvYM4mdOQ-ImaJlrP-Mw/viewform">報名能力測驗</a>
      </div>
    </section>


	<!-- images -->
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="html/template/ads/img/p1/01.JPG">
			  <img class="img-fluid" src="html/template/ads/img/p1/01.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    專題製作
                  </div>
                  <div class="project-name">
                    運用動畫和遊戲提升學習樂趣
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/02.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/02.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    口語表達
                  </div>
                  <div class="project-name">
                    練習發表、口說與增強邏輯能力
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/03.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/03.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    團體討論
                  </div>
                  <div class="project-name">
                    集思廣益，提升創造力
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/04.JPG" >
              <img class="img-fluid" src="html/template/ads/img/p1/04.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    程式研究
                  </div>
                  <div class="project-name">
                    培養好奇、探究問題的根本
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/05.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/05.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    自主學習
                  </div>
                  <div class="project-name">
                    嘗試不同解決問題的方法
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/06.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/06.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Coding for Fun
                  </div>
                  <div class="project-name">
                    快樂學程式
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h4 class="mb-4">每位學生皆依照自己的理解速度學程式，
            <br> 再也不用在班上等待/追趕別人的進度。
            <br> 按照自己的步調開心學習！</h4>
        <a class="btn btn-light btn-xl sr-button" href="https://docs.google.com/forms/d/e/1FAIpQLSdT8UVsoxBZYkUjecEMrmWP9Rk0iuGvYM4mdOQ-ImaJlrP-Mw/viewform">報名免費體驗課程</a>
      </div>
    </section>

	
	
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact US!</h2>
			<img src="html/template/ads/img/p1/unic-5.png">
            <hr class="my-4">
            <p class="mb-5 tail-info">彈指之間，創建未來<br><br>快樂學程式體驗館<br>台北市中正區忠孝東路一段138號3樓</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>(02) 2341-5471</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">coding4fun.info@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="html/template/ads/vendor/jquery/jquery.min.js"></script>
    <script src="html/template/ads/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="html/template/ads/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="html/template/ads/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="html/template/ads/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="html/template/ads/js/p2-creative.js"></script>

  </body>

</html>
