{% extends "base.html" %}
{% block title %}廣告{% endblock %}
{% block css %}
<style>
	#advertisetable,
	#adclasstable {
		width: 100%;
	}

	#advertisetable td,
	#advertisetable th,
	#adclasstable td,
	#adclasstable th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 18px;
	}

	#advertisetable thead tr,
	#adclasstable thead tr {
		background-color: white;
	}


	#advertisetable tbody tr:nth-child(even),
	#adclasstable tbody tr:nth-child(even) {
		background-color: #F39C12;
	}
	#advertisetable tbody tr:nth-child(odd),
	#adclasstable tbody tr:nth-child(odd) {
		background-color: #F1C40F;
	}


	#advertisetable tbody tr:hover:nth-child(even) {
		background-color: #e2900d;
		cursor: pointer;
	}

	#advertisetable tbody tr:hover:nth-child(odd) {
		background-color: #dbb20f;
		cursor: pointer;
	}

	.ui-state-default {
		font-size: 24px;
	}
</style>
<link rel="stylesheet" href="html/css/datepicker.css">
{% endblock %}
{% block content %}
	<br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-12"></div>
			<div class="col-lg-4 col-md-5 col-sm-6">
				<select class="form-control" id="city" onchange="changecity(true)">
					<option value="" selected>全臺</option>
				</select>
				<br>
				<select id="towns" class="form-control">
				</select>
				<br>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6">
				<select id="classtype" class="form-control">
					<option value="" selected>所有的課程</option>
				</select>
				<br>
				<div class="date-picker" style="float: left;">
					<div class="input">
						<div class="result">上課日期: <span id="classdate"></span></div>
						<button><i class="fa fa-calendar"></i></button>
					</div>
					<div class="calendar"></div>
				</div>
				<div class="date-picker-cancel" onclick="$('#classdate')[0].textContent = ''">
					&#10006;
				</div>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-12"></div>
			<div class="col-lg-8 col-md-10 col-sm-12">
				<button class="btn btn-block btn-info" onclick="loadadverise()">
					搜尋 <i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-12"></div>
			<div class="col-lg-8 col-md-10 col-sm-12">
				<br>
				<table id="advertisetable">
					<thead>
						<tr>
							<th>老師</th>
							<th>電話</th>
							<th>地區</th>
							<th>簡介</th>
						</tr>
					</thead>
					<tbody id="teachers"></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block bcontent %}
<div id="adclass-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('adclass-frame');" style="">X</a>
		<br>
		<div class="frame-content" style="padding-top: 0%;">
			<table id="adclasstable">
				<thead>
					<tr>
						<th>地址</th>
						<th>課程種類</th>
						<th>開課日期</th>
						<th>上課時間</th>
						<th>下課時間</th>
						<th>上課日</th>
					</tr>
				</thead>
				<tbody id="adclasses"></tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
	<script src="html/javascript/taiwan_town.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		CLASS_TO = {
			"python_01": "Python 初級",
			"scratch_1": "Scratch 初級",
			"hourofcode": "Hour of Code",
			"teacher_1": "教師訓練",
		}

		advertise_format = `
		<tr id="teacher-{5}" onclick="showadclass({5})">
			<td>{0}</td> <!-- Name -->
			<td>{1}</td> <!-- Phone -->
			<td>{2} {3}</td> <!-- City Town -->
			<td>{4}</td>
		</tr>
		`

		adclass_format = `
		<tr>
			<td>{0}</td>
			<td>{1}</td>
			<td>{2}</td>
			<td>{3}</td>
			<td>{4}</td>
			<td>{5}</td>
		</tr>
		`

		chinese_weekday = [
			"",
			"一",
			"二",
			"三",
			"四",
			"五",
			"六",
			"日",
		]

		CLASS_TO = {
			"python_01": "Python 初級",
			"scratch_1": "Scratch 初級",
			"hourofcode": "Hour of Code",
			"teacher_1": "教師訓練",
		}

		ads = {}
		function loadadverise() {
			c = $("#city")[0].value
			t = $("#towns")[0].value
			classtype = $("#classtype")[0].value;
			date = getdate("classdate")

			json = {};
			if (c !== "") {
				if (t != "") {
					t = city_towns[city].indexOf(t);
					json["town"] = t;
				}
				c = cities.indexOf(c);
				json["city"] = c;
			}
			if (classtype != "") {
				json["type"] = classtype;
			}
			if (date != "") {
				json["date"] = date;
			}


			$.ajax({
				url: host + "adarea/",
				type: "GET",
				data: json,
				success: function (teachers) {
					teachers_table = $("#teachers")[0]

					ads = {}
					teachers_table.innerHTML = "";

					types = new Set();
					cities_set = new Set();
					towns_set = {}
					$.each(teachers, function (_, i) {
						if ($("#teacher-" + i["id"])[0] == undefined) {
							t = city_towns[cities[i["city"]]][i["town"]]
							c = cities[i["city"]]

							summary = i["summary"]
							if (summary == "" || summary == null) {
								summary = "沒有自我介紹"
							}
							teachers_table.innerHTML += format(advertise_format,
								i["name"],
								i["phone"],
								c,
								t,
								summary.replace(/\n/g, "<br>"),
								i["id"])

							ads[i["id"]] = []
							cities_set.add(c)

							if (towns_set[c] == undefined) {
								towns_set[c] = []
							}
							if (!towns_set[c].includes(t)) {
								towns_set[c].push(t)
							}
						}

						ads[i["id"]].push({
							"address": i["address"],
							"type": i["type"],
							"date": i["date"],
							"start_time": i["start_time"],
							"end_time": i["end_time"],
							"weekdays": i["weekdays"],
							})
						types.add(i["type"])
					})

					types_html = `<option value="" selected>所有的課程</option>`
					$.each(Array.from(types), function (_, type) {
						types_html += format(`<option value="{0}">{1}</option>`,
							type,
							CLASS_TO[type])
					})
					$("#classtype").html(types_html)

					cities_html = `<option value="" selected>全臺</option>`
					$.each(Array.from(cities_set), function (_, city_chose) {
						cities_html += format(`<option value="{0}">{0}</option>`,
							city_chose)
					})
					$("#city").html(cities_html)

					city_towns = towns_set
				}
			});
		}

		function showadclass(tid) {
			show("adclass-frame");

			$("#adclasses")[0].innerHTML = ""
			$.each(ads[tid], function (a) {
				c_weekdays = []
				$.each(ads[tid][a]["weekdays"], function (i) {
					c_weekdays.push(
						chinese_weekday[
							ads[tid][a]["weekdays"][i]
							])
				})

				$("#adclasses")[0].innerHTML += format(
					adclass_format,
					ads[tid][a]["address"],
					CLASS_TO[ads[tid][a]["type"]],
					ads[tid][a]["date"],
					ads[tid][a]["start_time"],
					ads[tid][a]["end_time"],
					c_weekdays,
					ads[tid][a]["id"]);
			})
		}

		$(document).ready(function () {
			loadadverise()
			date = new Date();
			d = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate()
			$("#classdate").html(d)
		})
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="/html/javascript/datepicker.js"></script>
{% endblock %}