{% extends "base.html" %}
{% block title %}廣告{% endblock %}
{% block css %}
<style>
	table#advertisetable {
		width: 100%;
	}

	#advertisetable td,
	#advertisetable th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 18px;
	}

	#advertisetable tr {
		background-color: white;
	}

	#advertisetable > tbody > tr:nth-child(even) {
		background-color: #F39C12;
	}
	#advertisetable > tbody > tr:nth-child(odd) {
		background-color: #F1C40F;
	}
</style>
{% endblock %}
{% block content %}
	<br><br><br>
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-12"></div>
			<div class="col-lg-4 col-md-5 col-sm-6">
				<select class="form-control" id="city" onchange="changecity(true)">
					<option value="">全臺</option>
					<option value="臺北市" selected>臺北市</option>
					<option value="新北市">新北市</option>
					<option value="桃園市">桃園市</option>
					<option value="臺中市">臺中市</option>
					<option value="臺南市">臺南市</option>
					<option value="高雄市">高雄市</option>
					<option value="基隆市">基隆市</option>
					<option value="新竹市">新竹市</option>
					<option value="嘉義市">嘉義市</option>
					<option value="新竹縣">新竹縣</option>
					<option value="苗栗縣">苗栗縣</option>
					<option value="彰化縣">彰化縣</option>
					<option value="南投縣">南投縣</option>
					<option value="雲林縣">雲林縣</option>
					<option value="嘉義縣">嘉義縣</option>
					<option value="屏東縣">屏東縣</option>
					<option value="宜蘭縣">宜蘭縣</option>
					<option value="花蓮縣">花蓮縣</option>
					<option value="臺東縣">臺東縣</option>
					<option value="澎湖縣">澎湖縣</option>
					<option value="金門縣">金門縣</option>
					<option value="連江縣">連江縣</option>
				</select>
				<br>
				<select id="class" class="form-control">
					<option value="" selected>所有的課程</option>
					<option value="python_01">Python 初級</option>
					<option value="scratch_1">Scratch 初級</option>
					<option value="hourofcode">Hour of Code</option>
					<option value="teacher_1">教師訓練</option>
				</select>
				<br>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6">
				<select id="towns" class="form-control">
					<option value="" selected>全縣市</option>
					<option value="中正區">中正區</option>
					<option value="大同區">大同區</option>
					<option value="中山區">中山區</option>
					<option value="松山區">松山區</option>
					<option value="大安區">大安區</option>
					<option value="萬華區">萬華區</option>
					<option value="信義區">信義區</option>
					<option value="士林區">士林區</option>
					<option value="北投區">北投區</option>
					<option value="內湖區">內湖區</option>
					<option value="南港區">南港區</option>
					<option value="文山區">文山區</option>
				</select>
				<br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-12"></div>
			<div class="col-lg-8 col-md-10 col-sm-12">
				<button class="btn btn-block btn-info" onclick="loadadverise()">
					搜尋
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2 col-md-1 col-sm-12"></div>
			<div class="col-lg-8 col-md-10 col-sm-12">
				<br>
				<table id="advertisetable">
					<thead>
						<tr>
							<th>縣市</th>
							<th>鄉鎮市區</th>
							<th>課程種類</th>
							<th>老師</th>
							<th>電話</th>
						</tr>
					</thead>
					<tbody id="tadvertise"></tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="html/javascript/taiwan_town.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script>
		CLASS_TO = {
			"python_01": "Python 初級",
			"scratch_1": "Scratch 初級",
			"hourofcode": "Hour of Code",
			"teacher_1": "教師訓練",
		}

		advertise_format = `
		<tr>
		<td>{0}</td>
		<td>{1}</td>
		<td>{2}</td>
		<td>{3}</td>
		<td>{4}</td>
		</tr>
		`

		function loadadverise() {
			c = $("#city")[0].value
			t = $("#towns")[0].value
			cl = $("#class")[0].value

			json = {};
			if (c !== "") {
				if (t != "") {
					t = city_towns[city].indexOf(t);
					json["town"] = t;
				}
				c = cities.indexOf(c);
				json["city"] = c;
			}
			if (cl != "") {
				json["class"] = cl;
			}

			$.ajax({
				url: host + "advertise/",
				type: "GET",
				data: json,
				success: function (advertises) {
					$("#tadvertise")[0].innerHTML = "";
					for (a=0;a<advertises.length;a++) {
						city = cities[advertises[a]["city"]]
						town = city_towns[city][advertises[a]["town"]]

						types = [];
						for (i=0;i<advertises[a]["type"].length;i++) {
							types.push(CLASS_TO[advertises[a]["type"][i]])
						}
						
						$("#tadvertise")[0].innerHTML += format(
							advertise_format,
							city,
							town,
							types,
							advertises[a]["teacher"]["name"],
							advertises[a]["teacher"]["phone"]);
					}
				}
			});
		}
		loadadverise()
	</script>
{% endblock %}