<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>教師頁面</title>
	<script src="/html/javascript/jquery.min.js"></script>
	<script src="/html/javascript/jquery-ui.min.js"></script>
	<script src="/html/javascript/chart.min.js"></script>
	<script src="/html/bootstrap/js/bootstrap.js"></script>
	<script src="/html/javascript/taiwan_town.js"></script>
	<script src="/html/javascript/base.js"></script>
	<script src="/html/slick/slick.js" type="text/javascript" charset="utf-8"></script>
	<script src="/html/javascript/sha256.js"></script>
	<script src="/html/javascript/datepicker.js"></script>

	<link rel="stylesheet" href="/html/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/html/css/sb-admin.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="/html/css/circle-loading.css">
	<link rel="stylesheet" href="/html/slick/slick.css">
	<link rel="stylesheet" href="/html/slick/slick-theme.css">
	<link rel="stylesheet" href="/html/css/datepicker.css">
	<link rel="stylesheet" href="/html/css/checklist.css">
	<link rel="stylesheet" href="/html/css/teacher.css">
</head>

<body>

	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> 回首頁</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" onclick="logout()">
						登出
					</a>
				</li>
			</ul>

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav" id="navbar">
					<li id="button-main" class="active">
						<a onclick="change_page('main')"><i class="fa fa-fw fa-home"></i> 資訊</a>
					</li>
					<li id="button-change">
						<a onclick="change_page('change')"><i class="fa fa-fw fa-wrench"></i> 更改</a>
					</li>
					<li id="button-createclassroom">
						<a onclick="change_page('createclassroom')"><i class="fa fa-fw fa-plus"></i> 建立一個新的教室</a>
					</li>
					<li id="button-advertise">
						<a onclick="change_page('advertise')"><i class="fa fa-fw fa-edit"></i> 廣告管理</a>
					</li>
					<li>
						<a href="mailto:shalley.tsay@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> 聯絡我們</a>
					</li>
					<li>
						<a data-toggle="collapse" data-target="#classrooms" class="" aria-expanded="true">
							教室列表 <i class="fa fa-fw fa-caret-down"></i>
						</a>
						<ul id="classrooms" class="collapse" aria-expanded="true">
							<li>
								<a>你還沒有任何的教室</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div id="p-main" class="page-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>教室</h3>
						<div id="classroom-main"></div>
						<hr>
						<center>
							<a id="suggest_chrome" target="_blank" href="https://www.google.com.tw/chrome/browser/desktop/">
								<h4>建議使用 Google Chrome 操作</h4>
								<img width="150" src="https://www.google.com.tw/chrome/assets/common/images/chrome_logo_2x.png?mmfb=a5234ae3c4265f687c7fffae2760a907" alt="">
							</a>
						</center>
					</div>
				</div>
			</div>
		</div>

		<div id="p-change" class="page-wrapper" hidden>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3 id="teacher-name"></h3>
						<hr>
					</div>
					<div class="col-md-2 col-xs-12">
						<b>變更密碼</b>
						<br><br>
					</div>
					<div class="col-md-8 col-xs-12" id="changepasswordframe">
						<input type="password" class="form-control" placeholder="舊密碼" id="oldpassword"><br>
						<input type="password" class="form-control" placeholder="新密碼 (建議 8-16 英文字母, 數字)" id="newpassword"><br>
						<input type="password" class="form-control" placeholder="確認新密碼" id="renewpassword"><br>
						<button class="btn btn-success" onclick="changepassword()">更改密碼</button>
						<br><br>
					</div>
					<div class="col-md-12 col-xs-12"></div>
					<div class="col-md-2 col-xs-12">
						<b>變更自我介紹</b>
						<br><br>
					</div>
					<div class="col-md-8 col-xs-12" id="changepasswordframe">
						<textarea id="self-intro" class="form-control" maxlength="120" placeholder="自我介紹 (120 字以下)" cols="30" rows="10"></textarea><br>
						<button class="btn btn-success" onclick="changesummary()">更改自我介紹</button>
					</div>
				</div>
			</div>
		</div>

		<div id="p-createclassroom" class="page-wrapper" hidden>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>建立一個新的教室</h3>
						<hr>
					</div>
					<div class="col-md-6">
						<input type="text" class="form-control" placeholder="教室名稱" id="classroom-name">
						<br>
					</div>
					<div class="col-md-6">
						<select id="select-type" class="form-control" name="class_permission" onchange="changeclassroomtype()"></select>
						<br>
					</div>
					<div class="col-md-12" id="students_info">
						<h3>
							學生資料
							<small onmouseover="$('#hoverimg').show();" onmouseout="$('#hoverimg').hide();">
								建議利用 Excel, Number 編輯後再貼上 (?)
							</small>
							<img hidden id="hoverimg" src="html/images/scratch_table.png" height="150px" alt="" />
						</h3>
						<textarea class="form-control" rows="10" id="field" onkeyup="$('#create_classroom_b')[0].disabled = true;remove_blank(this)"></textarea>
						<br>
					</div>
					<div class="col-md-12">
						<button type="button" class="btn btn-info btn-lg btn-block" id="check_students_b" onclick="check_students()">
							<i class="fa fa-check" aria-hidden="true"></i> 檢查學生資料
						</button>
						<br>
						<table class="table" id="s-students-table" hidden>
							<thead id="studentsthead"></thead>
							<tbody id="students"></tbody>
						</table>
						<button type="button" class="btn btn-primary btn-lg btn-block" disabled id="create_classroom_b" onclick="create_classroom()">
							<i class="fa fa-plus" aria-hidden="true"></i> 建立教室
						</button>
					</div>
				</div>
			</div>
		</div>

		<div id="p-advertise" class="page-wrapper" hidden>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h3>
							地區管理
							<small>
								廣告上限 <span id="ext_area">5</span>
								全區廣告上限 <span id="whole_city">0</span>
							</small>
						</h3>
						<hr>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<select class="form-control" id="city" onchange="changecity()">
							<option value="臺北市">臺北市</option>
							<option value="新北市">新北市</option>
							<option value="桃園市">桃園市</option>
							<option value="臺中市">臺中市</option>
							<option value="臺南市">臺南市</option>
							<option value="高雄市">高雄市</option>
							<option value="基隆市">基隆市</option>
							<option value="新竹市">新竹市</option>
							<option value="嘉義市">嘉義市</option>
							<option value="新竹縣">新竹縣</option>
							<option value="苗栗縣">苗栗縣</option>
							<option value="彰化縣">彰化縣</option>
							<option value="南投縣">南投縣</option>
							<option value="雲林縣">雲林縣</option>
							<option value="嘉義縣">嘉義縣</option>
							<option value="屏東縣">屏東縣</option>
							<option value="宜蘭縣">宜蘭縣</option>
							<option value="花蓮縣">花蓮縣</option>
							<option value="臺東縣">臺東縣</option>
							<option value="澎湖縣">澎湖縣</option>
							<option value="金門縣">金門縣</option>
							<option value="連江縣">連江縣</option>
						</select>
						<br>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<select id="towns" class="form-control">
							<option value="中正區">中正區</option>
							<option value="大同區">大同區</option>
							<option value="中山區">中山區</option>
							<option value="松山區">松山區</option>
							<option value="大安區">大安區</option>
							<option value="萬華區">萬華區</option>
							<option value="信義區">信義區</option>
							<option value="士林區">士林區</option>
							<option value="北投區">北投區</option>
							<option value="內湖區">內湖區</option>
							<option value="南港區">南港區</option>
							<option value="文山區">文山區</option>
						</select>
						<br>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<button type="button" class="btn btn-info btn-block" onclick="newarea()">
							新增地區
						</button>
						<br>
					</div>
					<div class="col-md-12 col-sm-12">
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>縣市</th>
									<th>鄉鎮市區</th>
									<th></th>
								</tr>
							</thead>
							<tbody id="tadvertise"></tbody>
						</table>
					</div>
					<div class="col-sm-12">
						<h3>招生管理</h3>
						<hr>
					</div>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="class-address" placeholder="上課地址">
						<br>
					</div>
					<div class="col-sm-6">
						<select id="class-type" class="form-control" name="class_permission"></select>
						<br>
					</div>
					<div class="col-sm-6">
						<h5>開課日期</h5>
						<div class="date-picker">
							<div class="input">
								<div class="result"><span id="classdate"></span></div>
								<button><i class="fa fa-calendar"></i></button>
							</div>
							<div class="calendar"></div>
						</div>
						<br>
						<h5>結束日期 (可留空)</h5>
						<div class="date-picker" style="float: left">
							<div class="input">
								<div class="result"><span id="classenddate"></span></div>
								<button><i class="fa fa-calendar"></i></button>
							</div>
							<div class="calendar"></div>
						</div>
						<div class="date-picker-cancel" onclick="$('#classenddate')[0].textContent = ''" style="width: 20px;padding: 0px 4px">
							<i class="fa fa-times" aria-hidden="true"></i>
						</div>
						<br>
						<br>
						<br>
					</div>
					<div class="col-sm-6">
						<dl class="check-list-right" id="classlist" style="clear: left">
							<dt>上課日</dt>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-1" value="1">
								<label for="weekdays-1">星期一</label>
							</dd>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-2" value="2">
								<label for="weekdays-2">星期二</label>
							</dd>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-3" value="3">
								<label for="weekdays-3">星期三</label>
							</dd>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-4" value="4">
								<label for="weekdays-4">星期四</label>
							</dd>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-5" value="5">
								<label for="weekdays-5">星期五</label>
							</dd>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-6" value="6">
								<label for="weekdays-6">星期六</label>
							</dd>
							<dd>
								<input name="weekdays" type="checkbox" id="weekdays-7" value="7">
								<label for="weekdays-7">星期日</label>
							</dd>
						</dl>
					</div>
					<div class="col-sm-6">
						<div class="clock">
							<div class="title"></div>
							<div class="hourblock">
								<button class="hourup" id="1">▲</button>
								<div class="hour" id="hour1">9</div>
								<button class="hourdown" id="1">▼</button>
							</div>
							<div class="minblock">
								<button class="minup" id="1">▲</button>
								<div class="min" id="min1">30</div>
								<button class="mindown" id="1">▼</button>
							</div>
							<div class="ampm">
								<button class="ampmb" id="ampmb1">AM</button>
							</div>
						</div>
						<br><br>
						<div class="clock">
							<div class="title">結束時間</div>
							<div class="hourblock">
								<button class="hourup" id="2">▲</button>
								<div class="hour" id="hour2">12</div>
								<button class="hourdown" id="2">▼</button>
							</div>
							<div class="minblock">
								<button class="minup" id="2">▲</button>
								<div class="min" id="min2">30</div>
								<button class="mindown" id="2">▼</button>
							</div>
							<div class="ampm">
								<button class="ampmb" id="ampmb2">AM</button>
							</div>
						</div>
						<br><br>
					</div>
					<div class="col-sm-12">
						<button class="btn btn-info btn-block" onclick="newadclass()">新的招生文</button>
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>課程種類</th>
									<th>開課日期</th>
									<th>結束日期</th>
									<th>上課日</th>
									<th>上課時間</th>
									<th>下課時間</th>
									<th>地址</th>
								</tr>
							</thead>
							<tbody id="tadclass"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div id="p-classroomview" class="page-wrapper" hidden>
			<h3>
				<span id="class-name"></span>
				<small>
					<span id="student-num"></span> 個學生
					<div class="text-right">
						課程種類 - <span id="classroom-type"></span>
					</div>
				</small>
			</h3>
			
			<div class="btn-group" role="group" >
				<button type="button" class="btn btn-default" onclick="showClassroomJob('publish')">公佈事項</button>
				<button type="button" class="btn btn-default" onclick="showClassroomJob('homework')">功課</button>
				<button type="button" class="btn btn-default" onclick="showClassroomJob('grade')">評量成績</button>
				<button type="button" class="btn btn-default" onclick="showClassroomJob('alter')">教室更改</button>
			</div>
			<hr>

			<div id="clsrom-publish" class="clsrom-job" hidden>
				<h4>公佈的檔案</h4>
				<label style="cursor: pointer;color:dodgerblue;font-weight:700" for="annocefile">上傳 <i class="fa fa-cloud-upload" aria-hidden="true"></i></label>
				<form action="/rest/1/upload/teacherfile" method="post" enctype="multipart/form-data" id="annoceform" hidden>
					<input type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="annoce" id="annocefile" type="file" onchange="upload_annoce()">
					<input type="text" name="tkey" id="annoce-tkey">
					<input type="text" name="clsrid" id="annoce-clsrid">
				</form>
				<br>
				<ul id="filelist"></ul>
				<br><br>
				<h4>公佈的連結</h4>
				<span id="links" style="display: inline;"></span>
				<button style="padding: 9px 10px" onclick="newLinksField()"><i class="fa fa-fw fa-plus"></i></button>
				<button style="padding: 9px 30px" onclick="saveLinks()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
			</div>

			<div id="clsrom-homework" class="clsrom-job" hidden>
				<h4>功課</h4>
				<a style="cursor: pointer;color:dodgerblue;font-weight:700" id="refreshclassroom">重新載入功課 <i class="fa fa-refresh" aria-hidden="true"></i></a>
				<div id="buttonsgroup"></div>
				<div id="homewrok"></div>
				<hr>
				<div id="porjects"></div>
				<br><br>
			</div>

			<div id="clsrom-grade" class="clsrom-job" hidden>
				<h4>評量成績</h4>
				<br>
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						評量選擇 <i class="fa fa-caret-down" aria-hidden="true"></i>
					</button>
					<ul class="dropdown-menu" id="grade-form"></ul>
				</div><br>
				<div class="btn-group" role="group" >
					<button type="button" class="btn btn-default" onclick="showChart('first')">第一次答對率</button>
					<button type="button" class="btn btn-default" onclick="showChart('times')">第幾次完成</button>
					<button type="button" class="btn btn-default" onclick="showChart('finish')">完成率</button>
					<button type="button" class="btn btn-default" onclick="showChart('data')">個別資料</button>
				</div>
				<br><br>
				<canvas id="chart" width="400" height="400"></canvas>
				<div id="grade-detail">
					<h4 id="grade-detail-name"></h4><br>
					<table class="table homework">
						<thead id="grade-detail-head"></thead>
						<tbody id="grade-detail-body"></tbody>
					</table>
					<br><br>
					<h4 id="student-detail-name"></h4><br>
					<table class="table homework" id="student-detail">
						<thead id="student-detail-head"></thead>
						<tbody id="student-detail-body"></tbody>
					</table>
				</div>
			</div>
			
			<div id="clsrom-alter" class="clsrom-job" hidden>
				<h4>教室更改 - 教室名稱</h4>
				<input id="change-classroom-name" class="form-control" type="text">
				<h4>教室更改 - 學生資料</h4>
				<textarea class="form-control" rows="10" id="change-students" onkeyup="remove_blank(this)"></textarea>
				<br>
				<button type="button" class="btn btn-warning btn-lg" onclick="resetChangeClassroomField()">
					<i class="fa fa-refresh" aria-hidden="true"></i> 重設資料
				</button>
				<button type="button" class="btn btn-info btn-lg" onclick="checkChangeStudent()">
					<i class="fa fa-check" aria-hidden="true"></i> 檢查學生資料
				</button>
				<br><br>
				<table class="table" id="change-students-table" hidden>
					<thead id="change-students-head"></thead>
					<tbody id="change-students-body"></tbody>
				</table>
				<br>
				<button id="change-student-btn" type="button" class="btn btn-primary btn-lg btn-block" onclick="changeStudents()" disabled>
					<i class="fa fa-wrench" aria-hidden="true"></i> 更新教室
				</button>
				<br>
				<button style="padding: 9px 10px" onclick="deleteClassroom()"><i class="fa fa-fw fa-times"></i></button>
			</div>
		</div>
	</div>

	<div id="bg" hidden>
		<svg width="120" height="120">
			<circle id="c1" cx="50" cy="50" r="40" />
			<circle id="c2" cx="50" cy="50" r="30" />
			<circle id="c3" cx="50" cy="50" r="20" />
		</svg>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="project_viewer">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" onclick="$('#scratch_iframe')[0].src = ''">&times;</span></button>
					<h4 class="modal-title" id="project-title"></h4>
				</div>
				<div class="modal-body">
					<iframe id="scratch_iframe" width="580" height="500" frameborder="0" style="background: white;overflow-y: scroll;"></iframe>
					<div id="file" style="line-height:14px;overflow-x:scroll;white-space:nowrap"></div>
					<br>
					<span style="color: gray" id="hwinfo"></span>
					<br><br>
					<textarea maxlength="100" placeholder="作品評論 (100 字以下)" id="project-comment" cols="30" rows="5" class="form-control"></textarea>
				</div>
				<div class="modal-footer">
					<button id="copycode" onclick="copyCode()" type="button" class="btn btn-info">複製程式</button>
					<button id="changecomment" type="button" class="btn btn-success">改評論</button>
					<a target="_blank" id="s_project_page" target="_blank">
						<button type="button" class="btn btn-warning">看程式</button>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="change-student">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="change-student-title"></h4>
				</div>
				<div class="modal-body">
					<h5>教室名字</h5>
					<input id="change_classroom_name" type="text" class="form-control" />
				</div>
				<div class="modal-body" id="change-student-table">
					
				</div>
				<div class="modal-footer">
					<span style="color: grey">如果要刪除學生, 就把他的資料通通清空</span>
					<button type="button" class="btn btn-info" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-warning" onclick="checkChangeStudent()">更改</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" id="answer-detail">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="answer-detail-title"></h4>
				</div>
				<div class="modal-body" id="answer-detail-body"></div>
			</div>
		</div>
	</div>

	<script>
		CLASS_TO = {
			"python_01": "Python 初級",
			"scratch_1": "Scratch 初級",
			"scratch_02": "Scratch 應用",
			"hourofcode": "Hour of Code",
			"teacher_1": "教師訓練",
		}

		class_fromat = `<option value="{0}">{1}</option>`

		classroom_name = null;

		$(document).on('ready', function() {
			tkey = getCookie("teacher-key")
			if (tkey == "") {location.pathname = "/teacher/login"}
			$.ajax({
				url: host + "teacher/",
				data: {"tkey": tkey},
				success: function (msg) {
					advertise_limit = 5 + msg["ext_area"]
					$("#teacher-name").html(msg["name"])
					$("#ext_area").html(advertise_limit)
					$("#whole_city").html(msg["whole_city"])
					$("#self-intro").html(msg["summary"])

					$.each(msg["class_permission"], function (_, v) {
						$.each($("[name=class_permission]"), function (_, c) {
							c.innerHTML += format(class_fromat,
								v,
								CLASS_TO[v])
						})
					})
					changeclassroomtype(msg["class_permission"][0]);
				},
				error: function (err) {location.pathname = "/teacher/login"}
			})

			loadallclassroom();
		});

		function change_page(d) {
			$("[class=active]")[0].classList.remove("active");
			$("#button-" + d)[0].classList.add("active");

			$("[class=page-wrapper]").hide();
			$("#p-" + d).show();

			if (d == "advertise") {
				loadadarea();
				loadadclass();
			}
		}

		function logout() {
			storeCookie("teacher-key", "");
			storeCookie("teacher-userid", "");
			storeCookie("teacher-id", "");
			location.reload();
		}

		// advertise
		advertise_limit = 5;
		advertise_num = 0;
		advertise_format = `
		<tr>
		<td>{0}</td>
		<td>{1}</td>
		<td class="b-close" onclick="deletearea('{2}')"><i class="fa fa-times"></i></td>
		</tr>
		`

		function newarea() {
			if (advertise_num >= advertise_limit) {
				alert("達到上限")
				return;
			}

			city = $("#city")[0].value;
			town = $("#towns")[0].value;

			town = city_towns[city].indexOf(town);
			city = cities.indexOf(city);

			json = {
				"tkey": getCookie("teacher-key"),
				"city": city,
				"town": town,
				}
			$.ajax({
				url: host + "adarea/",
				type: "POST",
				dataType: "json",
				data: JSON.stringify(json),
				contentType: "application/json; charset=utf-8",
				success: function (msg) {
					loadadarea();
				},
				error: function (err) {
					p1 = err.responseText.indexOf("<p>") + 3
					errortype = err.responseText.substring(p1, err.responseText.indexOf("</p>", p1))
					if (errortype == "This advertise repeat") {
						alert(format("這個區域你已經有了: {0}, {1}",
							$("#city")[0].value,
							$("#towns")[0].value))
					}
				}
			})
		}

		function loadadarea() {
			$.ajax({
				url: host + "adarea/",
				type: "GET",
				data: {"tkey": getCookie("teacher-key")},
				success: function (msg) {
					$("#tadvertise")[0].innerHTML = "";

					if (msg["adareas"] == undefined) {
						return ;
					}
					adareas = msg["adareas"]
					advertise_num = adareas.length
					for (a=0;a<adareas.length;a++) {
						city = cities[adareas[a]["city"]]
						town = city_towns[city][adareas[a]["town"]]

						$("#tadvertise")[0].innerHTML += format(
							advertise_format,
							city,
							town,
							adareas[a]["id"]);
					}
				}
			})
		}

		function deletearea(aid) {
			json = {"tkey": getCookie("teacher-key"), "aid": aid}
			$.ajax({
				url: host + "adarea?" + $.param(json),
				type: "DELETE",
				success: function(result) {
					loadadarea();
				}
			});
		}

		function changepassword() {
			password = $("#oldpassword")[0].value
			newpassword = $("#newpassword")[0].value
			check_password = $("#renewpassword")[0].value

			if (!(password && newpassword && check_password)) {
				alert("不能留空");
				return;
			}
			if (password == newpassword) {
				alert("密碼沒有改變");
				return;
			}
			if (newpassword != check_password) {
				alert("請確定密碼一致");
				return;
			}
			password = sha256(password);
			newpassword = sha256(newpassword);

			json = {
				"tkey": getCookie("teacher-key"),
				"password": password,
				"newpassword": newpassword,
			}
			$.ajax({
				url: host + "teacher/password",
				type: "PUT",
				dataType: "json",
				data: JSON.stringify(json),
				contentType: "application/json; charset=utf-8",
				success: function (msg) {
					alert("密碼已改變, 請重新登錄");
					logout();
				},
				error: function (error) {
					p1 = error.responseText.indexOf("<p>") + 3
					errortype = error.responseText.substring(p1, error.responseText.indexOf("</p>", p1))
					if (errortype == "Username or password wrong") {
						alert("密碼不正確");
						return;
					}
				}
			})
		}

		function changesummary() {
			summary = $("#self-intro")[0].value

			if (summary == "") {
				alert("自我介紹不可留空")
				return;
			}
			if (summary.length > 120) {
				alert("自解介紹過長")
				return;
			}

			json = {
				"tkey": getCookie("teacher-key"),
				"summary": summary,
			}

			$.ajax({
				url: host + "teacher/",
				type: "PUT",
				dataType: "json",
				data: JSON.stringify(json),
				contentType: "application/json; charset=utf-8",
				success: function (msg) {
					alert("自我介紹已改變")
				},
				error: function (error) {
					console.log(error)
				}
			})
		}

		function upload_annoce () {
			e = $("#annocefile")[0]
			accept = e.accept.split(",")
			filename = e.files[0]["name"]

			breaked = false;
			$.each(accept, function (_, i) {
				if (filename.endsWith(i)) {
					breaked = true;
					return false;
				} 
			})
			if (breaked) {
				$("#annoce-tkey")[0].value = getCookie("teacher-key");
				$("#annoce-clsrid")[0].value = classroom["id"];
				$("#annoceform")[0].submit();
			}
		}

		$(document).ready(function () {
			try {
				if (!!window.chrome & !!window.chrome.webstore) {
					$("#suggest_chrome").hide()
				}
			}
			catch (err) {}
		})
	</script>

	<script src="html/javascript/teacher/classroom.js" type="text/javascript" charset="utf-8"></script>
	<script src="html/javascript/teacher/createclassroom.js" type="text/javascript" charset="utf-8"></script>
	<script src="html/javascript/teacher/ad.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>
