{% extends "base.html" %}
{% block title %}實證{% endblock %}
{% block css %}
<link href="/html/stylecss/class.css" rel="stylesheet" type="text/css">
<style>
	.video-index {
		position: relative;
		background: black;
		width: 100px;
		height: 100px;
		bottom: 0;
	}
</style>
{% endblock %}
{% block content %}

	<main class="milestone bm-5">
		<div class="class8BG">
			<div class="class1">
				<!-- <img src="/html/images/class/scratch-sm-min.png" alt=""> -->
				<div class="class1_img08">
					<img src="/html/images/class/classprove_min.png" alt="">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
					<!-- Nav tabs -->
					{# <ul class="nav nav-pills" role="tablist">
						<li role="presentation">
							<a href="#teacherprove" aria-controls="teacherprove" role="tab" data-toggle="tab">老師</a>
						</li>
					</ul> #}
				</div>
			</div>
			  <!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="teacherprove">
					<div class="row">
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove1">
								<div class="classprove_contect">
									<h2 class="h4">張老師</h2>
									<p>
										在樂學科技的教學方法與以往的學習方式很不同，自學是最重要的一部分，有自願學習的能力才懂得解決問題。scratch初階班小朋友從完全不懂程式，到最後能創作出一個作品，覺得寫程式非常好玩。而...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">張老師</h2>
															<p>
																在樂學科技的教學方法與以往的學習方式很不同，自學是最重要的一部分，有自願學習的能力才懂得解決問題。<br><br>

																scratch初階班小朋友從完全不懂程式，到最後能創作出一個作品，覺得寫程式非常好玩。<br><br>

																而scratch應用班和進階班的同學，能夠逐漸瞭解各種複雜的邏輯，創作出更有趣的作品。最喜歡看他們絞盡腦汁的樣子，其實我好羨慕，為什麼以前沒有這樣的環境可以學習程式？<br><br>

																python課程中我發現學生的程式創作有無限的可能，能寫出比scratch更多更自由的想法，覺得python課程是一個容易讓人親近又簡單上手的程式語言。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove2">
								<div class="classprove_contect">
									<h2 class="h4">黃老師/家長</h2>
									<p>
										我除了是教師，也是家長。在孩子小學三年級時，我開始教他scratch，做了一些簡單的動畫，但一旦我沒有時間教他，他就停住了，所以孩子的學習進度，和學習動力，都是受到媽媽所左右。孩子四年級時，我參加了...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">黃老師/家長</h2>
															<p>
																我除了是教師，也是家長。對於程式學習和程式教學有興趣的我，在孩子小學三年級時，我開始教他scratch，做了一些簡單的動畫，孩子覺得有趣，但一旦我沒有時間教他，他就停住了，所以孩子的學習進度，和學習動力，都是受到媽媽所左右。<br><br>

																孩子四年級時，我參加了程式教育專家蔡淑玲老師所開設的scratch與python師資培訓課程，同時，我也讓孩子看Coding for Fun 的線上課程自學scratch，透過淺顯易懂，循序漸進，且精心設計的課程，孩子從「被動學」程式，變成了「主動學」程式，且樂在其中，每個課程主題裡，老師所設計需要學生動動腦或動動手的部分，他都躍躍欲試......<br><br>

																孩子按照自己的理解和學習進度，自己上線看課，自己做coding練習，只有在遇到困難，或程式執行結果不如預期，且經過苦思不得其解時，才會向我求助，而我也就師資培訓時所學到的教學技巧，引導他如何敘述問題，如何修正思考邏輯，以及如何除錯（debug）。<br><br>

																Coding for Fun的課程還未上完，有一天，孩子突然跟我說：「媽媽，我終於知道為什麼妳寫程式，常常寫到不想休息了！」看著他眼裡閃耀著興奮的光芒，我會心一笑，回答他：「因為你也寫到停不下來了，對不對？」孩子用力且肯定的點了個頭，隨即轉身繼續忘我地寫他自己設計的遊戲專案……至此，我知道，孩子已經嘗到自學的成就感，且身上的自學模式按鈕，已經啟動！

															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove3">
								<div class="classprove_contect">
									<h2 class="h4">中央大學 學習與教學研究所學生</h2>
									<p>
										三年前曾聽老師介紹過Scratch，，當時不以為意，以為只是一個可愛的幼教遊戲軟體，並沒有再深入瞭解。這學期書報討論，老師們安排Scratch程式的自學課程，才開始接觸與研究Scratch，接觸之後才發現程式的概念是以...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">中央大學 學習與教學研究所學生</h2>
															<p>
																三年前曾聽老師介紹過Scratch，，當時不以為意，以為只是一個可愛的幼教遊戲軟體，並沒有再深入瞭解。這學期書報討論，老師們安排Scratch程式的自學課程，才開始接觸與研究Scratch，接觸之後才發現原來Scratch程式功能非常完整，程式的概念是以舞台與角色為主體，程式語法是編輯在舞台與角色中，這個方式是源自於視覺化視窗程式的表單與元件的概念。<br><br>

																因為我主修資訊管理系，所以自學Scratch程式的門檻不會太高，Scratch程式的運作邏輯與一般視覺化視窗程式相同。而最讓我驚艷的是非資訊科系背景的同學與學弟妹們的表現實在太棒了，同學大家的主修主要是英文、國文、數學、教育與社會科，應該都沒什麼機會學習寫程式，卻能做出這麼高水準的作品，在老師們的自學課程安排下，大家都能設計出豐富多元的程式專案，讓我好佩服。
																記得我大一時必修程式設計，因為上大學前完全沒有程式的概念，上課聽不懂老師的講解，只好下課後在家把教科書上的程式範例一個一個輸入程式編輯軟體來練習與觀察，花了兩個學期才把C語言與VB語言學好。這堂書報討論課，老師提供自學的教材，在專案的目標領導下，大家都能完成超高水準的作品，真的是很成功的學習與教學模式。<br><br>

																與學生我同組的三位碩班學妹，以前都沒有程式設計的經驗，在期中與期末的專案時，她們都很積極的嘗試設計遊戲，當我在做專案整合時去閱讀她們的程式邏輯，發現雖然她們因為還不熟悉元件概念的程式設計而有一些小Bug，例如把同一個造型在不同角色間混用，導致角色的程式邏輯不夠獨立性，但是也可以看出她們在解決問題時的創意與巧思，讓我也學到如何分析閱讀別人的程式設計邏輯，未來如果我擔任資訊電腦教師，也能給學生許多創意的發想。<br><br>

																有人說未來人工智慧的時代，最重要的能力是能用數理邏輯進行思考並描述問題，才能有效的運用人工智慧。這學期書報討論讓我學習到很多，也開始喜歡上Scratch程式設計軟體，有機會我會推薦給我的學生，讓他們也開始學習程式設計，培養數理邏輯思考的基本能力，能夠把抽象的問題轉換為「如果…就」、「如果…否則…」、「若…則重複…」、「當…就…」等結構化的描述。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--第一列row end-->
					<div class="row">
						
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove4">
								<div class="classprove_contect">
									<h2 class="h4">王老師</h2>
									<p>
										十多年前因健康問題提早"退休"離開教職，卻有更多的時間陪伴學習障礙的小兒子，過動的他在小五之前從來待不住教室、是個特殊兒，我那時開始學Flash幫他設計補救教學課程，以早年Fortran...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">王老師</h2>
															<p>
																十多年前因健康問題提早"退休"離開教職，卻有更多的時間陪伴學習障礙的小兒子，過動的他在小五之前從來待不住教室、是個特殊兒，我那時開始學Flash幫他設計補救教學課程，以早年Fortran古董程式語言的概念接軌到物件導向的JavaScript，用Flash作出互動式的數學遊戲出題機，這是我糊裡糊塗的"翻轉教室"初體驗，轉眼小兒子如今也入社會成了上班族。大兒子高中時，我則利用暑假幫他加強英文、並強迫推銷了Flash和js語法，雖說當時效果有限，但後來他自己有興趣在大學學了Java、考過了認證，研究所畢業後進入某上市公司成為軟體工程師，以上是我家親子間非正規的程式應用與交流史。<br><br>

																兩年前偶然在臉書看見(coding4fun/樂學科技) 蔡淑玲老師分享 "讓孩子快樂學程式" 的相關文章，許多理念與我心有戚戚焉，有種相見恨晚的感覺，她主張以孩子為中心設計翻轉教室的教學方式、建立他們自學能力、培養帶得走的技能 (ex.解決問題、邏輯、創意、語言閱讀等)，使不同學習速度 (快思或慢想) 的孩子都被照顧到！同時發現她也是為了幫助家中的孩子學習，才設計了這套線上教學系統 (Scratch &amp; Python初級課程)，這樣的初心也是父母心、讓我蠻容易體會。我花了很大的力氣與摸索才幫到我家孩子一小把，相信這套系統化、有專業背景開發的教材，一定可以幫助更多的孩子、進入高度智能化的未來世界 (AI、工業4.0)。因此，我以年過半百的"高齡"加入樂學的師資培訓，去年通過Scratch初級認證、今年則是Python的初級認證，成為該兩項課程的授權教學老師。<br><br>

																我非資訊科系背景畢業，離開校園與職場多年，但曾經為了解決孩子的需要與當下的問題，我會燃起熱情去自學、尋找解決方案(solution)，因此這樣的初心也可以再次讓我與這世界的知識接軌，正是印證了蔡淑玲老師的教育理念 – 從程式啟蒙教育中培養孩子自學、解決問題的能力，這種帶得走的能力可以令人終身受惠，尤其在資訊變化一日千里的今天，孩子未來需要不斷學習新的技術與理念，才能掌握幸福的工作與生活條件。<br><br>

																在Scratch與Python師資訓練的過程與實際教學的經驗中，我發現翻轉教室的課程設計內容，將龐大陌生的程式語言切成環環相扣的小章節，讓孩子在線上依照自己的速度邊學邊做、從克服小問題累積成就感與能力，加上作業與評量的輔助檢測與隨班老師的解惑通關，孩子們會不知不覺地被課程帶向有趣的樂學彼岸，這大概就是讓孩子快樂學程式的一種具體實現吧！最近我帶過一個Scratch暑期班、一個Python冬令營，目前在帶平日的Python春季班，希望Coding4fun的精神與效果，能從這個程式啟蒙園地裡的師生之間向外繼續蔓延！
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- 第二列 -->
				</div>
			  </div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}
{% block script %}
<script>
	videos = [
		"https://www.youtube.com/embed/ytIHIFdYBrQ?rel=0",
		"https://www.youtube.com/embed/oRVPtrOvFJ4?rel=0",
		"https://www.youtube.com/embed/93FIj3CQils?rel=0",
		"https://www.youtube.com/embed/CQFa5fQGVkY?rel=0",
	]
	function jump_video (index) {
		if (videos[index - 1] != undefined) {
			$("#video")[0].src = videos[index - 1];
			$(".pagination .active")[0].classList.remove("active");
			$("#pagination-" + index)[0].classList.add("active");
		}
	}
</script>
{% endblock %}