<!DOCTYPE html>
<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126629654-1"></script>
    <script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126629654-1');
	</script>
	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="樂學程式學院辦學宗旨要讓孩子快樂學習程式,輕鬆踏出程式設計的第一步。以學生為本、以程式為體的翻轉教室學習,還能養成自學的好習慣,讓家長看見孩子的自信和轉變。彈指之間為自己的未來創造無限可能。">
    <meta name="copyright" content="樂學科技">
	<meta name="author" content="Coding4fun">

    <title>Join us! Start a new business!</title>

    <!-- Bootstrap core CSS -->
    <link href="html/template/ads/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="html/template/ads/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="html/template/ads/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="html/template/ads/css/p5-creative.css" rel="stylesheet">


  </head>

  <body id="page-top">

    <!-- Navigation -->	
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">樂學程式學院</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase shadow-text">
              <strong>軟體吃掉全世界</strong>
			        <br><strong>為您打好程式基礎</strong>
              <br><strong>從零開始！</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-strong text-lighted mb-5 shadow-text" >
            到補習班、學習線上課程、買書自修，卻學不會程式？<br>
            樂學給您程式設計的心法，打通任督二脈<br>
            一理通，百理通！學懂程式，就是這麼簡單！<br>
            省下您跌跌撞撞的痛苦時光！<br>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white text-strong shadow-text">樂學程式學院</h2>
			<img src="html/template/ads/img/p1/logo.png">
            <hr class="light my-4">
            <p class="text-faded mb-4">精心設計的教材
            <br> 以學生為主體
            <br> 「快思」或「慢想」都學得有自信
            <br> 從創意出發, 人人都能學
            <br> 讓您不怕犯錯/不怕失敗</p>
            <a class="btn btn-light btn-xl sr-button" href="https://goo.gl/forms/gVFdPZ5WTQ7ZfnI72">報名課程</a>
          </div>
        </div>
      </div>
    </section>

	<!-- 樂學課程 -->
    <section id="courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-strong">樂學課程</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!-- <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i> -->
			  <img src="html/template/ads/img/p1/scratch.png">
              <h3 class="mb-3">Scratch 基礎班</h3>
              <p class="text-muted mb-0">在探索、遊戲與創作中，了解 Scratch 的全貌，給孩子全方位的學習，開啟學習程式興趣，養成孩子探索與嘗試的自學能力</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!-- <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i> -->
			  <img src="html/template/ads/img/p1/scratch2.png">
              <h3 class="mb-3">Scratch 應用班</h3>
              <p class="text-muted mb-0">本著翻轉教室的自主精神，專案式教學。引導孩子主動思考與應用，札根運算思維</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!-- <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i> -->
			  <img src="html/template/ads/img/p1/scratch2.png">
              <h3 class="mb-3">Scratch 進階班</h3>
              <p class="text-muted mb-0">
              引導孩子創作、分析問題、解決問題，深化程式技巧，讓孩子展現巧思與設計，充分應用運算思維</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <!-- <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i> -->
              <img src="html/template/ads/img/p1/python.png">
			  <h3 class="mb-3">Python 基礎班</h3>
              <p class="text-muted mb-0">嘗試並理解程式語言為何要這樣設計，了解程式的架構與運作方式。邊學邊動手，克服打字與思考的障礙，培養自學以及解決問題的能力</p>
            </div>
          </div>
        </div>
      </div>
    </section>

	<!-- images -->
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box" href="html/template/ads/img/p1/01.JPG">
			  <img class="img-fluid" src="html/template/ads/img/p1/01.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    專題製作
                  </div>
                  <div class="project-name">
                    運用動畫和遊戲提升學習樂趣
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/02.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/02.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    口語表達
                  </div>
                  <div class="project-name">
                    練習發表、口說與增強邏輯能力
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/03.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/03.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    團體討論
                  </div>
                  <div class="project-name">
                    集思廣益，提升創造力
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/04.JPG" >
              <img class="img-fluid" src="html/template/ads/img/p1/04.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    程式研究
                  </div>
                  <div class="project-name">
                    培養好奇、探究問題的根本
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/05.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/05.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    自主學習
                  </div>
                  <div class="project-name">
                    嘗試不同解決問題的方法
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="html/template/ads/img/p1/06.JPG">
              <img class="img-fluid" src="html/template/ads/img/p1/06.JPG" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Coding for Fun
                  </div>
                  <div class="project-name">
                    快樂學程式
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h4 class="mb-4">歡迎
        <br><br>對程式好奇的您
		    <br>對程式害怕的您
        <br>對程式憧憬的您
        <br><br>快樂學程式，Coding for Fun！</h4>
        <a class="btn btn-light btn-xl sr-button" href="https://goo.gl/forms/gVFdPZ5WTQ7ZfnI72">報名課程</a>
      </div>
    </section>
	
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact US!</h2>
			<img src="html/template/ads/img/p1/unic-5.png">
            <hr class="my-4">
            <p class="mb-5 tail-info">彈指之間，創建未來<br><br>快樂學程式體驗館<br>台北市中正區忠孝東路一段138號3樓</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
            <p>(02) 2341-5471</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">coding4fun.info@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="html/template/ads/vendor/jquery/jquery.min.js"></script>
    <script src="html/template/ads/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="html/template/ads/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="html/template/ads/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="html/template/ads/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="html/template/ads/js/p5-creative.js"></script>

  </body>

</html>
