div.container-card {
	width: 80%;
	background-color: rgba(245, 245, 245, 1);
	box-shadow: 0px 0px 10px 0px;
	text-align: left;
	padding: 20px;
}

div.card-title {
	font-size: 24px;
}

.container-card a {
	color:orange;
}