.top-bar {
	display: flex;
	width: 90%;
	height: 64px;
	top: 0;
	background: #2181bc;
	border-radius: 10px;
	padding: 6px;
}

.open {
	z-index: 2;
	cursor: pointer;
	flex: 1;
	position: relative;
	color: #eee;
	font-size: 20px;
}

.open #type {
	color: #eeff55;
	font-weight: 900;
	font-size:24px;
	position: static;
}

.open #start {
	color: white;
	font-size:12px;
	font-weight: 600;
}

.open #detail {
	text-align: right;
	font-size: 13px;
}

.open table td {
	font-size: 16px;
	line-height: 22px;
	color: #144ee2;
	font-weight: 700;
}

.open input {
	display: none;
}

.open ul {
	display : inline-block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: -5px;
}

.open ul li {
	display : inline-block;
	width: 48%;
	height: 35px;
}

.open ul li:before {
	content: "○ ";
}

.fix-content {
	height: 0px;
}

.open .content {
	z-index: 2;
	display: block;
	position: absolute;
	width: calc(100% + 13.5px);
	margin-left: -6px;
	background-color: #89d2ff;
	padding: 15px;
	box-sizing: border-box;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.open.slide-down .content {
	opacity: 0;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s, opacity 0.5s;
}

.open.slide-down input:checked ~ .content {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.open.pop-in .content {
	opacity: 0;
	transform-origin: center top;
	transform: scale3d(0, 0, 0);
	transition: transform 0.5s, opacity 0.5s;
}

.open.pop-in input:checked ~ .content {
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.open.flip-down {
	perspective-origin: center, top;
	perspective: 400px;
}

.open.flip-down .content {
	opacity: 0;
	transform-origin: top center;
	transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 10%, 0);
	transition: transform 0.5s, opacity 0.5s;
}

.open.flip-down input:checked ~ .content {
	transform: rotate3d(1, 0, 0, 0deg);
	opacity: 1;
}

.open.flip-down.flip-back .content {
	transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 10%, 0);
}