div.class_block {
	font-family: fonta;
	display:inline-block;
	background-color: rgba(254, 144, 0,1);
	border-right: 1px solid rgb(219, 238, 252);
	border-left: 1px solid rgb(219, 238, 252);
	height:30px;
	text-align: center;
	font-size: 20px;
	cursor:pointer;
	color: white;
}

div#video {
	width:80%;
}

div.button-display {
	top: 2px;
	width:88%;
	position: relative;
	transform: translate(-50%, 0px);
	height:55px;
	text-align:left;
}

div.lesson-display {
	top: 120px;
	width:90%;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

div#classname-now {
	position: fixed;
	right: 10px;
	/*float:right;*/
	display:inline;
	font-size: 30px;
	color: rgba(43,142,183,1);
	font-family: fonta;
}

button#lesson-dropdown {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 24px;
}

ul#lessons {
	top:30px;
	font-size: 24px;
}

div.rightarrow,
div.leftarrow {
	position: fixed;
	font-size: 50px;
	top: 300px;
}

div.leftarrow {
	left: 10px;
}

div.rightarrow {
	right: 10px;
}

.leftarrow a,
.rightarrow a{
  color: rgb(43,142,183);
}

.leftarrow a:hover,
.rightarrow a:hover {
  color: rgb(30,105,138);
}

.leftarrow a:active,
.rightarrow a:active {
  color: rgb(26,90,120);
}

div#answer {
  position: relative;
  top: -3px;
  width: 100%;
  height: 5px;
  background-color: #ead141;
}