.classroom-card .card-img {
	width: 100px;
	float:left;
}

.classroom-card {
	padding: 5px;
	box-shadow: 0px 0px 3px 1px gray;
	width: 80%;
	height: 280px;
	text-align: left;
}

.classroom-card .homework {
	float:left;
	max-width: 80%;
}

.homework th,
.homework td {
	text-align: center;
}

.homework td a {
	color: orange;
	text-decoration: none;
}

div#scratch_project {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100001;
	text-align: center;
	line-height: 100vh;
	background-color: rgba(0,0,0,0.7);
}

#activity-view,
#activity-list,
#hw-view {
	background: white;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#file {
	overflow-x: scroll;
	white-space: wrap;
}

.modal-body {
	line-height: 12px;
	font-size: 12px;
	text-align: left;
}

iframe#scratch_iframe {
	background: white;
	overflow-y: scroll;
}

div.py_file_hw {
	display: inline-block;
	/*background: #366f9e;*/
	width: 100px;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	color: rgb(43, 142, 183);
	border: 2px solid rgb(43, 142, 183);
	margin: 5px;
	cursor: pointer;
}