#subject_id {display: none}

.menu {
	position: absolute;
	left: 0;
	top: 60px;
	bottom: 0;
	background: rgb(6, 48, 58);
	color: white;
	width: 200px;
	height: calc(100% - 60px);
	transition-duration: 0.2s;
	overflow-y: scroll;
}

.menu.shrink {
	left: -200px;
}

.lesson {
	max-height: 100%;
}

.menu .lesson .title {
	font-weight: 900;
	height: 50px;
	letter-spacing: 2px;
	background: rgb(4, 36, 44);
	padding: 10px;
	cursor: pointer;
}

.menu .lesson .title:hover {
	margin-left: 0;
	background: white;
	color: black;
}

.menu .lesson.shrink .title:hover {
	margin-left: 30px;
}

.menu .lesson .video-bar {
	position: absolute;
	right: 0;
	left: 0;
	height: calc(100% - 100px);
	overflow-y: scroll;
}

.menu .lesson .video-bar .video {
	position: relative;
	padding: 10px 0px;
	padding-left: 20px;
	background: rgb(5, 38, 46);
	cursor: pointer;
	transition-duration: 0.2s;
	left: 30px;
}

.menu .lesson .video-bar .video:hover {
	background: white;
	color:black;
	left: 15px;
}

.menu .lesson .video-bar .video.active {
	left: 0;
	background: white;
	color: rgb(6, 48, 58);
}

/*.menu .lesson .video-bar .video.active:before {
	content: "✔";
	position: absolute;
	color: red;
	left: 3px;
}*/

.menu #description {
	font-weight: 900;
	position: relative;
	padding: 10px 0px;
	padding-left: 10px;
	background: rgb(5, 38, 46);
	cursor: pointer;
	transition-duration: 0.2s;
	left: 0;
	font-size: 24px;
	height: 50px;
}

.menu #description:hover {
	background: white;
	color: black;
}

#view-block {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
	transition-duration: 0.2s;
	padding-top: 15px;
}

#view-block.shrink {
	margin-left: 200px;
	width: calc(100% - 200px);
}

#view-block #toggle_btn {
	position: absolute;
	background: rgb(6, 48, 58);
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: white;
	cursor: pointer;
	padding-left: 5px;
}

#view-block #footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: gray;
}

#view-block #footer #prev,
#view-block #footer #next {
	position: relative;
	width: 100px;
	height: 30px;
	top: 10px;
	background: rgb(200, 200, 200);
	border-radius: 10px;
	border: none;
	color: white;
}

#view-block #footer #prev:hover,
#view-block #footer #next:hover {
	background: rgb(155, 155, 155);
	color: lightblue;
}

#view-block #footer #prev:active,
#view-block #footer #next:active {
	background: rgb(133, 133, 133);
}


#view-block #footer #prev {
	left: 10px;
}

#view-block #footer #next {
	right: calc(-100% + 220px);
}

/*#view-block #video {
	margin: 0 3%;
	margin-bottom: 30px;
}*/

#view-block #video #videoframe {
	position: absolute;
	top: 50px;
	left: 1%;
	width: 98%;
	height: 280px;
}

#view-block #video #videoframe.python {height: 390px;}

@media (min-width: 600px) {
	#view-block #video #videoframe {height: 330px;}
	#view-block #video #videoframe.python {height: 450px;}
}
@media (min-width: 700px) {
	#view-block #video #videoframe {height: 360px;}
	#view-block #video #videoframe.python {height: 520px;}
}
@media (min-width: 800px) {
	#view-block #video #videoframe {height: 390px;}
}
@media (min-width: 900px) {
	#view-block #video #videoframe {height: 420px;}
}
@media (min-width: 1000px) {
	#view-block #video #videoframe {height: 450px;}
}
@media (min-width: 1100px) {
	#view-block #video #videoframe {height: 480px;}
}
@media (min-width: 1200px) {
	#view-block #video #videoframe {height: 510px;}
}

#view-block #title {
	font-size: 24px;
	margin-top: -15px;
	padding-left: 45px;
	color: rgb(6, 48, 58);
	display: inline-block;
}

#view-block #btns {
	padding-left: 30px;
	display: inline-block;
}

#view-block #btns .btn {
	margin-top: -15px;
	background: rgb(6, 48, 58);
	color: white;
	transition-duration: 0.2s;
	border-radius: 0;
}

#view-block #btns .btn:hover {
	background: white;
	color: rgb(6, 48, 58);
}

/*eavluation*/
#test {
	background: white;
	text-align: left;
}

#test button.submit {
	cursor: pointer;
	color: #FFF;
	width: 100px;
	height: 30px;
	border-radius: 5px;
    border: none;
	background-color: cornflowerblue;
	margin: 10px;
}

#test button.submit:hover {
	color: #EEE;
	background-color: #4981e5;
}
#test button.submit:active {
	color: #CCC;
}

#test button.answer {
	cursor: pointer;
	color: #FFF;
	width: 100px;
	height: 30px;
	border-radius: 5px;
    border: none;
	background-color: tomato;
	margin: 10px;
}

#test button.answer:hover {
	color: #EEE;
	background-color: #dd4b30;
}
#test button.answer:active {
	color: #CCC;
}

.question {
	padding: 20px;
	border-radius: 10px;
}

.question .title {
	font-size: 24px;
	/*color: cornflowerblue;*/
}

.question label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;

	font-size: 20px;
	vertical-align: top;
}

.question input[type=checkbox] {
	display: none;
}

.question .checkbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px cornflowerblue solid;
	background: white;
	border-radius: 3px;
	margin-right: 10px;
}

.question input[type=checkbox]:checked + label > div {
	background: cornflowerblue;
}

.question input[type=radio] {
	display: none;
}

.question .radio {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px cornflowerblue solid;
	background: white;
	border-radius: 10px;
	margin-right: 10px;
}

.question input[type=radio]:checked + label > div {
	background: cornflowerblue;
}