.my-sidebar {
	float:left;
	display: inline-block;
	background: linear-gradient(to bottom, rgb(246, 244, 241), rgb(233, 229, 224));
	width: 130px;
	height: 250px;
	text-align: center;
}

.my-sidebar .item {
	padding: 3px 0px;
	line-height: 30px;
	color: rgb(101, 91, 81);
	font-weight: bold;
	cursor: pointer;
}

.my-sidebar .item.active {
	background: linear-gradient(to bottom, rgb(213, 209, 202), rgb(212, 205, 194));
}

#questions {
	margin-left: 10px;
	float:left;
	display: inline-block;
	width: calc(100% - 150px);
}

.question {
	background: linear-gradient(to bottom, rgb(248, 246, 244), rgb(241, 239, 235), rgb(238, 235, 230), rgb(233, 230, 224));
	background-size: 100% 30px;
	background-repeat: no-repeat;
	padding-left: 25px;
	cursor: pointer;
	transition-duration: .3s;
	margin-bottom: 5px;
}

.question .collapse {
	display: inline-block;
	width: 30px;
	text-align: center;
	line-height: 30px;
	transform: rotate(0deg, 0deg);
	color: rgb(101, 91, 81);
	transition-duration: .3s;
}

.question.detail .collapse {
	transform: rotate(90deg);
	color: rgb(229, 121, 55);
}

.question .title {
	display: inline-block;
	line-height: 30px;
	margin-left: 12px;
	color: rgb(101, 91, 81);
}

.question.detail .title {
	color: rgb(229, 121, 55);
}

.question .detail {
	display: none;
	margin-left: 44px;
	padding: 15px 0px;
	color: rgb(101, 91, 81);
	transition-duration: .3s;
	line-height: 30px;
}

.question.detail .detail {
	display:block;
}

.question .detail a {
	position: relative;
	color: black;
	font-weight: 900;
}

.question .detail .hashtag {
	background: lightgray;
	color: cornflowerblue;
	border-radius: 5px;
	padding: 2px 4px;
}