div.my-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: rgb(43,142,183);
}

div.fixcontainer {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
}

img#navbarlogo {
	background-color: rgb(43,142,183);

	max-height: 80px;
	position: fixed;
	top:10px;
	left: 0px;
}

ul.navbar {
	position: fixed;
	left:60px;
	top:0px;
}

li.navtext {
	display: inline-block;
	color:white;
	font-size: 28px;
	transform: translate(0%,70%);

	font-weight: bold;
	padding-right: 30px;
}

a#account-logo {
	font-weight: bold;
	position: relative;
	font-size: 24px;
	top: 28px;
	right: 50px;
}

div.loginsignup-frame {
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: rgba(30,30,30,0.9);
	width: 100%;
	height: 100%;
	padding-top: 5%;
	padding-left: 10%;
	z-index: 100;
}

div.loginsignup-frame-inside {
	width: 90%;
	height: 90%;
	border-radius: 5px;
	background-color: white;
}

div.frame-content {
  /*padding-left: 10%;*/
  overflow-y: scroll;
  height:85%;
  padding-top: 20%;
}
a#closeloginframe {
	color:gray;
	padding-left: 15px;
	padding-top: 15px;
	font-family: fonta;
	font-size: 24px;
	text-decoration: none;
}

input#number {
	width: 200px;
}

button#submit {
	font-family: fonta;
	border-radius: 5px;
	width: 25%;
	color:white;
	font-weight: bold;
	height:48px;
	font-size:24px;
	padding-top:5px;
	border:none;
	background-color:rgba(43,142,183,1);
	box-shadow: 0 9px #ccc;
}

button#submit:hover {
	background-color: rgba(30,105,138,1);
}

button#submit:active {
  background-color: rgba(30,105,138,1);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.login-errorms {
	font-size:36px;
	font-weight: bold;
	font-family: fonta;
	color:rgba(200,45,45,0.7);
}

div.show {display:block;}



td {
  padding-top:10px;
  text-align: center;
  font-family: fonta;
  font-size: 30px;
}

div#accountmenu {
	top: 75px;
	right: 50px;
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@media (max-width: 800px) {
	a#account-logo {
		top: 36px;
		font-size: 20px;
	}

	li.navtext {
		/*display: inline;*/
		padding-top: 10px;
		font-size: 20px;
		padding-right: 10px;
		/*padding-left: 0px;*/
	}
}

div#linksmenu,
div#how-to-learn {
	top: 40px;
	left: 180px;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div#how-to-learn {
	left: 20px;
	top: 160px;
}

@media (min-width: 768px) {
	div.frame-content {
		padding-top: 10%;
	}

	div.loginsignup-frame {
		padding-top: 5%;
	}
}
div.dropdown a {
	font-size: 20px;
	font-family: fonta;
	text-align: center;
	color: black;
	text-decoration: none;
	display: block;
}

div.dropdown a:hover {
	background-color: #f1f1f1;
}

div.opinionframe {
	position: fixed;
	width: 64px;
	height: 64px;
	bottom: 40px;
	right: 40px;
}

div.opinion-label {
	display: none;
	position: fixed;
	height: 40px;
	background-color: #DDD;
	bottom: 40px;
	right: 105px;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color: black;
	font-family: fonta;
	padding-top: 5px;
	font-size: 30px;
}

textarea#opinion {
	font-size: 18px;
	border-radius: 5px;
	width: 90%;
	height: 50%;
	font-size: 30px;
	border: 3px rgba(0, 0, 0, 1);
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
	padding-top: 5px;
}


label.btn-primary {
	color: #fff;
	background-color: #0094ff;
}
label.btn {
	display: inline-block;
	padding: .375rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: .25rem;
}
label {
	display: inline-block;
	margin-bottom: .5rem;
}

.btn-check {
  position: relative;
  display: inline-block;
  margin: 10px;
}
.btn-check input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);            
}

.btn-check input[type="checkbox"]:checked + .btn {
	color: #ffa10a;
	background-color: #015796;
	background-image: none;
	background-image: none;
	outline: 0;
}

.btn-check input[type="checkbox"]:focus + .btn,
.btn-check input[type="checkbox"]:hover + .btn {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	color: #fff;
	background-color: #0086e8;
}       

.btn-check input[type="checkbox"]:checked:focus + .btn,
.btn-check input[type="checkbox"]:checked:hover + .btn {
	color: #ffa10a;
	background-color: #015796;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

label.file-button {
	border-radius: 5px;
	text-align: left;
	width: 200px;
	height: 30px;
	font-size: 14px;
	border: 3px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
	background: white;
	cursor: pointer;
	overflow-y: hidden;
}

label.file-button:hover {
	background: #DDD;
}

.hover {
	cursor: pointer;
	opacity: 0.7;
	font-weight: 400;
}
.hover:hover {
	opacity: 1;
	font-weight: 900;
}

.hint {
	color: gray;
	font-size: 10px;
}