<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coding 4 Fun 單機版網站</title>

	<script src="/html/javascript/jquery.min.js"></script>
	<script src="/html/bootstrap/js/bootstrap.js"></script>
	<script src="/html/javascript/base.js"></script>

	<link href="/html/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/html/css/font.css" rel="stylesheet">
	<link href="/html/css/theme.css" rel="stylesheet">
	<link href="/html/css/class.css" rel="stylesheet">
</head>
<body>
	<div class="fixcontainer"></div>
	<div>
		{% if class %}
			<br><br><br>
			<center>
			<div id="a">
			</div>
			<br>
			<div id="video"></div>
			</center>

			<div class="lesson-display">
				<div id="classname-now"></div>
				<div class="dropdown push-left" style="width:50%;display:inline;font-family:fonta;">
					<button class="btn btn-default dropdown-toggle" type="button" id="lesson-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Dropdown
					</button>
					<ul class="dropdown-menu" aria-labelledby="lesson-dropdown" id="lessons">
					</ul>
				</div>
				<div class="button-display" id="buttons" style="display:inline"></div>
				
				<div class="leftarrow">
					<a onclick="prev()"><b>
						<
					</b></a>
				</div>
				<div class="rightarrow">
					<a onclick="next()"><b>
						>
					</b></a>
				</div>
			</div>
			<br><br>

			<script>
				document.onkeydown = changeclass;

				function changeclass(e) {
					e = e || window.event;
					e = e.keyCode

					if (e == 37) {
						prev();
					}
					if (e == 39) {
						next();
					}
				}

				var lesson = 0
				var video = 0

				var classblock = `<div class="class_block"\
				 style="width:{0}%" onclick="video_jump({3})">{1}<div id="answer" style="display: {4}"></div></div>`;

				var videoblock = `<div class=\"embed-responsive embed-responsive-16by9\">
				<iframe id="videoframe" src=\"{0}&amp;showinfo=0\" frameborder=\"0\" allowfullscreen></iframe>
				</div>`

				var privatevideoblock = `<div class=\"embed-responsive embed-responsive-16by9\">
				<iframe id="videoframe" src='http://{0}/video/{1}?video={2}&nextvid={3}'></iframe>
				</div>`

				var buttonblock = `<a target=\"_blank\" href=\"{1}\">
				<button class=\"btn btn-primary\">{0}</button></a>`

				var lessonblock = `<li><a onclick="lesson={0};display_lesson()">{1}</a></li>`

				var questionblock = `<br /><br />
				<div style="text-align: left;">
				<a onclick="video_jump({0})"><button class="btn btn-primary">問題</button></a>
				</div>
				`

				function display_description() {
					if (class_["description-video"] == "") {
						return ;
					}

					$("#a")[0].innerHTML = "";
					$("#lesson-dropdown")[0].innerHTML = `課程介紹 <i class="fa fa-sort-asc" aria-hidden="true"></i>`
					$("#buttons")[0].innerHTML = ""
					lesson = -1

					a = format(videoblock, class_["description-video"])
					$("#video")[0].innerHTML = a;
					$("#classname-now")[0].innerHTML = "";
				}

				function display_lessons() {
					l = class_["info"]
					if (class_["description-video"] != "") {
						b = "<li><a onclick=\"display_description()\">課程介紹</a></li>\
						<li role=\"separator\" class=\"divider\"></li>"
					}
					else {
						b = ""
					}
					for (i=0;i<l.length;i++) {
						if (class_.hasOwnProperty("titles")) {
							if (class_["titles"][i] != undefined) {
								b += format(lessonblock, i, class_["titles"][i]);
								continue
							}
						}
						b += format(lessonblock, i, "課程" + (i + 1));
					}
					$("#lessons")[0].innerHTML = b;
				}

				function display_lesson() {
					l = class_["info"][lesson]
					oneblock = 90 / l.length;

					b = "";
					for (i=0;i<l.length;i++) {
						if (l[i]["answer"] != "") {
							b += format(classblock, oneblock, i + 1, l[i]["class_name"], i, "block");
							continue
						}
						b += format(classblock, oneblock, i + 1, l[i]["class_name"], i, "none");
					}
					$("#a")[0].innerHTML = b;
					if (class_.hasOwnProperty("titles")){
						if (class_["titles"][lesson] != undefined) {
							$("#lesson-dropdown")[0].innerHTML = class_["titles"][lesson] +
								` <i class="fa fa-sort-asc" aria-hidden="true"></i>`
						}
						else {
							$("#lesson-dropdown")[0].innerHTML = "課程" + (lesson + 1) +
								` <i class="fa fa-sort-asc" aria-hidden="true"></i>`
						}
					}
					else {
						$("#lesson-dropdown")[0].innerHTML = "課程" + (lesson + 1) +
							` <i class="fa fa-sort-asc" aria-hidden="true"></i>`
					}

					video = 0
					display_video()
				}

				function display_video() {
					classvideo = class_["info"][lesson][video]
					if (classvideo["video"].indexOf("youtube") > -1) {
						a = format(videoblock, classvideo["video"])
					}
					else {
						a = format(privatevideoblock, window.location.host, getCookie("key"), classvideo["video"], "")
						if (classvideo["answer"] != "") {
							a = format(privatevideoblock, window.location.host, getCookie("key"), classvideo["video"], classvideo["answer"])
						}
					}

					$("#video")[0].innerHTML = a;
					$("#classname-now")[0].innerHTML = classvideo["class_name"];

					buttons = ""
					button = classvideo["buttons"]
					for (i=0; i<button.length; i++) {
						buttons += format(buttonblock, button[i][0], button[i][1])
					}
					$("#buttons")[0].innerHTML = buttons
				}

				function video_jump(classnumber) {
					video = classnumber;
					display_video();
				}

				function prev() {
					if (video > 0) {
						video -= 1;
						display_video();
					} 
				}

				function next() {
					if (video < class_["info"][lesson].length - 1) {
						video += 1;
						display_video();
					} 
				}

				function showanswer(classnumber) {
					video = classnumber;

					link = class_["info"][lesson][video]["answer"]
					if (link.indexOf("youtube") > -1) {
						a = format(videoblock, link)
					}
					else {
						a = format(privatevideoblock, window.location.host, getCookie("key"), link)
					}

					a += format(questionblock, video)

					$("#video")[0].innerHTML = a;
					$("#classname-now")[0].innerHTML = class_["info"][lesson][video]["class_name"] + " 解答";
				}

				class_ = {{ class }}
				display_lessons()
				display_lesson()
				display_description()
			</script>
		{% else %}
			<br><br>
			<center>
				<form method="post">
					<input name="code" type="text" class="form-control text-center" placeholder="代碼">
					<br><br>
					<button class="btn btn-primary">看課程</button>
				</form>
			</center>
		{% endif %}
	</div>
	<div class="my-container">
		<div class="account-logo">
			<a href="/admin" id="account-logo">Admin</a>
		</div>
		<a href="/">
			<img id="navbarlogo" src="/html/images/kidcodingicon.png" alt="">
		</a>
	</div>
	<script>
		function show(eid) {
			$("#" + eid).show();
		}

		function hide(eid) {
			$("#" + eid).hide();
		}

		function toggle(eid) {
			$("#" + eid).toggle()
		}
	</script>
</body>
</html>