{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div style="width: 90%;padding-left: 10%">
	<br><br>
	<a href="/admin/news">
		<button class="btn btn-orange">最新消息管理</button>
	</a>
	<a href="/admin/questions">
		<button class="btn btn-orange">問題管理</button>
	</a>
	<a href="/admin/files">
		<button class="btn btn-orange">檔案管理</button>
	</a>
	<a href="/admin/users">
		<button class="btn btn-orange">使用者管理</button>
	</a>
	<a href="/admin/teacher">
		<button class="btn btn-orange">老師和使用者帳號合併</button>
	</a>
	<!-- <a href="/admin/activity">
		<button class="btn btn-orange">活動管理</button>
	</a>
	<a href="/admin/report">
		<button class="btn btn-orange">回報管理</button>
	</a> -->
	<!-- <a href="/admin/presentation">
		<button class="btn btn-orange">教師說明會管理</button>
	</a> -->
</div>
<br>
{% endblock %}