{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div style="width: 90%;padding-left: 10%">
	<br><br>
	<a href="/admin/news">
		<button id="submit">最新消息管理</button>
	</a>
	<a href="/admin/questions">
		<button id="submit">問題管理</button>
	</a>
	<a href="/admin/files">
		<button id="submit">檔案管理</button>
	</a>
	<br><br><br>
	<a href="/admin/users">
		<button id="submit">使用者管理</button>
	</a>
	<a href="/admin/teacher">
		<button id="submit">老師管理</button>
	</a>
	<a href="/admin/activity">
		<button id="submit">活動管理</button>
	</a>
	<br><br><br>
	<a href="/admin/report">
		<button id="submit">回報管理</button>
	</a>
	<a href="/admin/presentation">
		<button id="submit">教師說明會管理</button>
	</a>
</div>
{% endblock %}