{% extends "base.html" %}
{% block title %}Admin 問題管理{% endblock %}
{% block css %}
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#userstable td,
	#userstable th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 18px;
	}

	#userstable tr {
		background-color: white;
	}

	#userstable tr.i:nth-child(even) {
		background-color: #F39C12;
	}
	#userstable tr.i:nth-child(odd) {
		background-color: #F1C40F;
	}
</style>
<link rel="stylesheet" href="/html/css/question.css">
{% endblock %}
{% block content %}
<div style="width: 90%;padding-left: 10%">
	<br><br>
	<a href="/admin/"><button id="submit">< 回去</button></a>
	<br><br>
	<table id="userstable">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Type</th>
				<th>Solved</th>
				<th>Create At</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody id="users">
		</tbody>
	</table>
	<br><br>
</div>
{% endblock %}
{% block bcontent %}
<div id="question-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('question-frame');" style="">X</a><br>
		<div class="frame-content" style="padding-top: 0%;padding-left: 10%">
			<span id="title"></span><br>
			<span id="question-writer"></span>
			<span id="type" class="type"></span>
			<span id="create_at"></span>
			<button class="btn btn-warning btn-xs" id="closequestion"> 關閉問題 </button>
			<hr>
			<span id="content"></span>
			<br>
			<div id="files">
				沒有檔案
			</div>
			<div id="answers"></div>
			<br>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
var q_typelist = [
	"Scratch",
	"Python",
	"Other",
]

var q_solvedlist = {
	true: "已解決",
	false: "未解決",
}

user_format = `\
<tr class="i">
	<td>{0}</td>
	<td><a onclick="openquestion('{0}')" style='cursor: pointer;text-decoration: none'>{1}</a></td>
	<td>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" id="dropdownMenu{0}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				{2}
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu{0}">
				<li><a onclick="changetype('{0}', 0)">Scratch</a></li>
				<li><a onclick="changetype('{0}', 1)">Python</a></li>
				<li><a onclick="changetype('{0}', 2)">Other</a></li>
			</ul>
		</div>
	</td>
	<td>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" id="dropdownMenu{0}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				{3}
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu{0}">
				<li><a onclick="closequestion('{0}', 'True')">已解決</a></li>
				<li><a onclick="closequestion('{0}', 'False')">未解決</a></li>
			</ul>
		</div>
	</td>
	<td>{4}</td>
	<td><a onclick="deletequestion('{0}')" style="color:red;font-weight:bold;cursor:pointer;text-decoration:none">X</a></td>
</tr>\
`

users_table = $("#users")[0]
var page = 0

function changetype(id, type) {
	if (type > q_typelist.length - 1) {
		return ;
	}
	c = prompt("你確定改變問題種類?\n如果是的話請輸入問題的 Id")
	if (c != id) {
		alert("輸入失敗")
		return ;
	}
	$.ajax({
		url: host + "question/",
		type: "PUT",
		dataType: "json",
		data: JSON.stringify({"key": getCookie("key"), "qid":id, "type":type}),
		contentType: "application/json; charset=utf-8",
		success: function (msg) {
			loadquestion();
		}
	})
}

function closequestion(id, solved) {
	c = prompt("你確定要關閉或開啟問題?\n如果是的話請輸入問題的 Id")
	if (c != id) {
		alert("輸入失敗")
		return ;
	}
	$.ajax({
		url: host + "question/",
		type: "PUT",
		dataType: "json",
		data: JSON.stringify({"key": getCookie("key"), "qid":id, "solved":solved}),
		contentType: "application/json; charset=utf-8",
		success: function (msg) {
			loadquestion();
		}
	})
}

function deletequestion(id) {
	c = prompt("你確定要刪除這個問題?\n如果是的話請輸入問題的 Id")
	if (c != id) {
		alert("輸入失敗")
		return ;
	}
	url = window.location.origin + "/rest/1/question/?id={0}&key={1}"
	$.ajax({
		url: format(url, id, getCookie("key")),
		type: 'DELETE',
		success: function(result) {
			loadquestion();
		}
	});
}

function changefilename(filename) {
	l = filename.split(".")
	return l[l.length - 1]
}

function loadquestion() {
	users_table.innerHTML = ""
	$.ajax({
		url: host + "question/",
		type: "GET",
		data: {},
		success: function (msg) {
			page = msg["pages"]
			questions = msg["questions"]
			for (i=0; i<questions.length; i++) {
				user = format(user_format, questions[i]["id"],
					questions[i]["title"], q_typelist[questions[i]["type"]],
					q_solvedlist[questions[i]["solved"]],
					questions[i]["create_at"])
				users_table.innerHTML += user
			}
		},
		error: function (msg) {
			console.logs(msg)
		}
	}).done(function (msg) {
		if (page > 1) {
			for (p=2; p<=page; p++) {
				$.ajax({
					url: host + "question/",
					type: "GET",
					data: {"page": p - 1},
					success: function (msg) {
						page = msg["page"]
						questions = msg["questions"]
						for (i=0; i<questions.length; i++) {
							user = format(user_format, questions[i]["id"],
								questions[i]["title"], q_typelist[questions[i]["type"]],
								q_solvedlist[questions[i]["solved"]],
								questions[i]["create_at"])
							users_table.innerHTML += user
						}
					},
					error: function (msg) {
						console.logs(msg)
					}
				})
			}
		}
	})
}

function getanswer(qid) {
	string_param = {"qid": qid}
	$.ajax({
		url: host + "answer/",
		type: "GET",
		data: string_param,
		success: function (msg) {
			answer_format = `<hr />
			<span id="writer"> {1} </span> <sup id="time"> {2} </sup><br />
			<div style="padding-left:30px">
				{0}
			</div>
			`

			answers = ""
			for (i=0;i<msg["answers"].length;i++) {
				m = msg["answers"][i]
				answers += format(answer_format, m["content"].replace(/\n/g, "<br>"),
					m["writer"], m["create_at"]);

				file_format = '<a target="_blank" class="file-link" download href="{0}">- 檔案 {1} - {2} </a><br>'

				file_display = "<div style=\"padding-left:30px\">"
				if (m["file1"] != "") {
					file_display += format(file_format, m["file1"], "1", changefilename(m["file1"]))
					if (m["file2"] != "") {
						file_display += format(file_format, m["file2"], "2", changefilename(m["file2"]))
						if (m["file3"] != "") {
							file_display += format(file_format, m["file3"], "3", changefilename(m["file3"]))
						}
					}
					answers += file_display + "</div></div>";
				}

			}
			answers += "<hr>"
			$("#answers")[0].innerHTML = answers;
		},
		error: function (msg) {
			$("#answers")[0].innerHTML = "<hr /> 目前沒有解答 <hr />";
			// NO ANSWER
		}
	})
}

function showquestion(qid) {
	string_param = {"id":qid}
	$.ajax({
		url: host + "question/",
		type: "GET",
		data: string_param,
		success: function (msg) {
			$("#content")[0].innerHTML = msg["content"].replace(/\n/g, "<br>");
			$("#type")[0].innerHTML = q_typelist[msg["type"]];

			a = "<div id=\"solved\" style=\"background-color:"
			if (msg["solved"]) {
					a += "LimeGreen";
			}
			else {
					a += "Crimson";
			}
			a += "\"></div> " + msg["title"];
			$("#title")[0].innerHTML = a;
			$("#create_at")[0].innerHTML = msg["create_at"];
			$("#question-writer")[0].innerHTML = msg["writer"];
			
			if (getCookie("id") != msg["writer_id"]) {
				$("#closequestion")[0].disabled = true;
				$("#closequestion")[0].onclick = null;
			}
			else {
				$("#closequestion")[0].disabled = false;
				if (msg["solved"]) {
					$("#closequestion")[0].onclick = function () {closequestion("False")};
					$("#closequestion")[0].innerHTML = "開啟問題";
				}
				else {
					$("#closequestion")[0].onclick = function () {closequestion("True")};
					$("#closequestion")[0].innerHTML = "關閉問題";
				}
			}
			
			file_format = '<a target="_blank" class="file-link" download href="{0}">- 檔案 {1} - {2} </a><br>'

			file_display = ""
			if (msg["file1"] != "") {
				file_display += format(file_format, msg["file1"], "1", changefilename(msg["file1"]))
				if (msg["file2"] != "") {
					file_display += format(file_format, msg["file2"], "2", changefilename(msg["file2"]))
					if (msg["file3"] != "") {
						file_display += format(file_format, msg["file3"], "3", changefilename(msg["file3"]))
					}
				}
				$("#files")[0].innerHTML = file_display;
			}
			else {
				$("#files")[0].innerHTML = "沒有檔案";
			}

			getanswer(qid);
			question_id = qid;
		}
	})
}

function openquestion (id) {
	show("question-frame");
	showquestion(id);
}

loadquestion();
</script>
{% endblock %}