{% extends "base.html" %}
{% block title %}Admin 老師管理{% endblock %}
{% block css %}
<link rel="stylesheet" href="/html/css/editor.css">
<link rel="stylesheet" href="/html/css/checklist.css">
<style>
	.preview a {
		color:orange;
		text-decoration:none;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	.table td,
	.table th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 20px;
	}

	.table tr {
		cursor: pointer;
		background-color: white;
	}

	.table tr.i:nth-child(even) {
		background-color: #F39C12;
	}
	.table tr.i:nth-child(odd) {
		background-color: #F1C40F;
	}

	i.fa-minus,
	i.fa-plus {
		cursor: pointer;
	}

	td> ul {
		margin: 2px;
		list-style: none;
	}

	td> ul> li:before {
		content:"#";
		color: #66d;
	}

	td> ul> li {
		/*display:inline;*/
		padding-right: 15px;
	}

	#sidebtn1 {
		float: right;
		font-size: 16px;
		width: 30px;
		height: 90px;
		background: #063044;
		color: white;
		word-spacing: 30px;
		text-align: center;
		cursor: pointer;
	}

	#sidebtn1:hover {
		background: white;
		color: #063044;
	}

	#sidebtn2 {
		margin-top: 95px;
		margin-right: -30px;
		float: right;
		font-size: 16px;
		width: 30px;
		height: 90px;
		background: #063044;
		color: white;
		word-spacing: 30px;
		text-align: center;
		cursor: pointer;
	}

	#sidebtn2:hover {
		background: white;
		color: #063044;
	}
</style>
{% endblock %}
{% block content %}
<main>
	<br><br>
	<a href="/admin/" style="padding-left: 14%"><button class="btn btn-orange">< 回去</button></a>
	<br><br>
	<div class="container text-center">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>帳號</th>
					<th>名字</th>
					<th>電話</th>
				</tr>
			</thead>
			<tbody id="teachers"></tbody>
		</table>
	</div>
	<br><br><br><br><br>
</main>
{% endblock %}
{% block bcontent %}
<div class="modal fade" id="teacher-info-frame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<a href="javascript:;"><span aria-hidden="true" style="color: black;">&Chi;</span></a>
				</button>
			</div>

			<div class="modal-body" id="yt-player">
				<input id="dangerous" type="checkbox">  Id 有沒有跟 User 重複<br>
				<input id="selectall" onclick="selectall(this)" type="checkbox"> 全選 <br>
				<table>
					<thead>
						<tr>
							<th>城市</th>
							<th>鄉鎮</th>
						</tr>
					</thead>
					<tbody id="adarea"></tbody>
				</table>
				<hr>
				<table>
					<thead>
						<tr>
							<th>地址</th>
							<th>開始時間</th>
							<th>類型</th>
						</tr>
					</thead>
					<tbody id="adclass"></tbody>
				</table>
				<hr>
				<table>
					<thead>
						<tr>
							<th>名稱</th>
							<th>類型</th>
							<th>建立時間</th>
						</tr>
					</thead>
					<tbody id="classroom"></tbody>
				</table><br>
				<input id="newuserid" type="text" placeholder="要連到的使用者帳號">
				<button class="btn btn-orange" onclick="update()">更改</button>
			</div>
		</a>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="/html/js/taiwan_town.js"></script>
<script>
	selected_teacher = null;
	teachers_info_format = `<tr class="i" onclick="openteacher({0})">
		<td>{0}</td>
		<td>{1}</td>
		<td>{2}</td>
		<td>{3}</td>
	</tr>`

	tow_field_format = `<tr>
		<td><input id="{2}" class="update-select" type="checkbox" /></td>
		<td>{0}</td>
		<td>{1}</td>
	</tr>`

	three_field_format = `<tr>
		<td><input id="{3}" class="update-select" type="checkbox" /></td>
		<td>{0}</td>
		<td>{1}</td>
		<td>{2}</td>
	</tr>`

	function openteacher (id) {
		selected_teacher = id;
		$("#teacher-info-frame").modal("show");
		$("#dangerous")[0].checked = teachers[id]["dangerous"];
		$("#selectall")[0].checked = false;
		$("#selectall")[0].name = id

		if (teachers[id]["suggest"] != undefined) {
			$("#newuserid")[0].value = teachers[id]["suggest"]
		}
		else {
			$("#newuserid")[0].value = ""
		}
		
		var adareas_html = "";
		var adclasses_html = "";
		var classrooms_html = "";

		$.each(teachers[id]["adareas"], function (_, adarea) {
			city = cities[adarea["city"]]
			adareas_html += format(tow_field_format,
				city,
				city_towns[city][adarea["town"]],
				"adarea-" + adarea["id"],
				id,
				)
		})

		$.each(teachers[id]["adclasses"], function (_, adclass) {
			adclasses_html += format(three_field_format,
				adclass["address"],
				adclass["date"],
				adclass["type"],
				"adclass-" + adclass["id"],
				id,
				)
		})

		$.each(teachers[id]["classrooms"], function (_, classroom) {
			classrooms_html += format(three_field_format,
				classroom["name"],
				classroom["type"],
				classroom["create_at"],
				"classroom-" + classroom["id"],
				id,
				)
		})

		$("#adarea")[0].innerHTML = adareas_html;
		$("#adclass")[0].innerHTML = adclasses_html;
		$("#classroom")[0].innerHTML = classrooms_html;
	}

	function selectall (e) {
		console.log(e.checked)
		$.each($(".update-select"), function (_, i) {
			i.checked = e.checked
		})
	}

	function update () {
		var newuserid = $("#newuserid")[0].value
		var classrooms_id = [];
		var adarea_id = [];
		var adclass_id = [];

		if (newuserid == "") {
			alert("不可留空");
			return;
		}

		$.each($(".update-select"), function (_, i) {
			select_id = i.id
			type = select_id.substring(0, select_id.indexOf("-"));
			var id = select_id.substring(select_id.indexOf("-") + 1);
			id = parseInt(id);
			if (type == "adarea") {
				adarea_id.push(id);
			}
			else if (type == "adclass") {
				adclass_id.push(id);
			}
			else {
				classrooms_id.push(id);
			}
		})
		json = {
			"key": getCookie("key"),
			"teacher": selected_teacher,
			"classrooms": classrooms_id,
			"adarea": adarea_id,
			"adclass": adclass_id,
			"newuserid": newuserid,
		}

		console.log(classrooms_id, adarea_id, adclass_id)
		$.ajax({
			url: host + "teachermerge/",
			type: "PUT",
			dataType: "json",
			data: JSON.stringify(json),
			contentType: "application/json; charset=utf-8",
			success: function (msg) {
				alert("成功更改 !")
			},
			error: function (err) {
				console.log(err)
			}
		})
	}

	teachers = null
	$.ajax({
		url: host + "teachermerge/",
		data: {"key": getCookie("key")},
		success: function (msg) {
			teachers = msg
			var teacher_info_table_html = ""
			$.each(teachers, function (_, teacher) {
				teacher_info_table_html += format(teachers_info_format,
					teacher["id"],
					teacher["userid"],
					teacher["name"],
					teacher["phone"],
					)
			})
			$("#teachers")[0].innerHTML = teacher_info_table_html
		}
	})
</script>
{% endblock %}