{% extends "base.html" %}
{% block title %}Admin 老師管理{% endblock %}
{% block css %}
<link rel="stylesheet" href="/html/css/editor.css">
<link rel="stylesheet" href="/html/css/checklist.css">
<style>
	.preview a {
		color:orange;
		text-decoration:none;
	}

	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	.table td,
	.table th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 20px;
	}

	.table tr {
		background-color: white;
	}

	.table tr.i:nth-child(even) {
		background-color: #F39C12;
	}
	.table tr.i:nth-child(odd) {
		background-color: #F1C40F;
	}

	i.fa-minus,
	i.fa-plus {
		cursor: pointer;
	}

	td> ul {
		margin: 2px;
	}

	td> ul> li:before {
		content:"#";
		color: #66d;
	}

	td> ul> li {
		display:inline;
		padding-right: 15px;
	}
</style>
{% endblock %}
{% block content %}
	<br><br>
	<a href="/admin/" style="padding-left: 14%"><button id="submit">< 回去</button></a>
	<br><br>
	<div class="container text-center">
		<input type="text" name="userid" placeholder="帳號">
		<br><br>
		<input type="text" name="password" placeholder="密碼">
		<br><br>
		<input type="text" name="name" placeholder="名字">
		<br><br>
		<input type="text" name="phone" placeholder="電話">
		<br><br>
		<dl class="check-list-right" id="classlist">
			<dt>教學課程權限</dt>
		</dl>
		<div id="signup-errormsg" class="login-errorms">
		</div>
		<button id="submit" onclick="signup()">註冊</button>
		<br><br><br>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>帳號</th>
					<th>名字</th>
					<th>電話</th>
					<th>停用</th>
					<th style="width: 200px;">額外的廣告數量</th>
				</tr>
			</thead>
			<tbody id="teachers">
			</tbody>
		</table>
	</div>
	<br><br><br><br><br>
{% endblock %}
{% block script %}
<script>
	teacher_format = `\
	<tr class="i">
		<td>{0}</td>
		<td>{1}{7}</td>
		<td>{2}</td>
		<td>{3}</td>
		<td><input type="checkbox" {4} /></td>
		<td>
			地區: <i class="fa fa-minus" onclick="change_area('{0}', -1)"></i>
			{5}
			<i class="fa fa-plus" onclick="change_area('{0}', 1)"></i><br />
			整縣市: <i class="fa fa-minus" onclick="change_city('{0}', -1)"></i>
			{6}
			<i class="fa fa-plus" onclick="change_city('{0}', 1)"></i>
		</td>
	</tr>`

	classs_format = `\
	<dd>
		<input name="class_permission" type="checkbox" id="cid-{0}" value="{1}">
		<label for="cid-{0}">{2}</label>
	</dd>
	`
	CLASS_TO = {
		"python_01": "Python 初級",
		"scratch_1": "Scratch 初級",
		"hourofcode": "Hour of Code",
		"teacher_1": "教師訓練",
	}

	teachers_table = $("#teachers")[0]

	function signup() {
		errormsg = $("#signup-errormsg")[0]

		userid = $("[name=userid]")[0].value;
		password = $("[name=password]")[0].value;
		name = $("[name=name]")[0].value;
		phone = $("[name=phone]")[0].value;

		checked_list = [];
		c = $("[name=class_permission]")
		for (i=0;i<c.length;i++) {
			if (c[i].checked) {
				checked_list.push(c[i].value);
			}
		}

		if (!(userid && password && name && phone)) {
			errormsg.innerHTML = "請不要留空白";
			return
		}

		if (checked_list.length == 0) {
			errormsg.innerHTML = "課程權限至少多於一個";
			return
		}

		password = sha256(password);

		json = {
			"key": getCookie("key"),
			"userid": userid,
			"password": password,
			"name": name,
			"phone": phone,
			"class_permission": checked_list,
			}
		$.ajax({
			url: host + "teacher/",
			type: "POST",
			dataType: "json",
			data: JSON.stringify(json),
			contentType: "application/json; charset=utf-8",
			success: function (msg) {
				location.reload()
			}
		})
	}

	function change_area(tid, num) {
		$.ajax({
			url: host + "teacher/",
			type: "PUT",
			dataType: "json",
			data: JSON.stringify({"key":getCookie("key"), "tid": tid, "ext_area": num}),
			contentType: "application/json; charset=utf-8",
			success: function (msg) {
				load_teachers();
			}
		})
	}

	function change_city(tid, num) {
		$.ajax({
			url: host + "teacher/",
			type: "PUT",
			dataType: "json",
			data: JSON.stringify({"key":getCookie("key"), "tid": tid, "whole_city": num}),
			contentType: "application/json; charset=utf-8",
			success: function (msg) {
				load_teachers();
			}
		})
	}

	function load_teachers() {
		$.ajax({
			url: host + "teacher/",
			type: "GET",
			data: {"key": getCookie("key")},
			success: function (msg) {
				teachers_table.innerHTML = "";
				teachers = msg["teachers"]
				for (i=0; i<teachers.length; i++) {
					disabled = ""
					if (teachers[i]["disabled"]) {
						disabled = "disabled"
					}

					p = "<ul>"
					permissions = teachers[i]["class_permission"]
					for (e=0;e<permissions.length;e++) {
						p += "<li>" + permissions[e] + "</li>"
					}
					p += "</ul>"

					user = format(teacher_format,
						teachers[i]["id"],
						teachers[i]["userid"],
						teachers[i]["name"],
						teachers[i]["phone"],
						disabled,
						5 + teachers[i]["ext_area"],
						teachers[i]["whole_city"],
						p,
						)

					teachers_table.innerHTML += user
				}
			}
		})
	}

	function load_class() {
		$.ajax(host+"classes/price").success(function (msg) {
			listcount = 1
			for (i=0;i<msg["paid"].length;i++) {
				$("#classlist")[0].innerHTML += format(classs_format,
					listcount,
					msg["paid"][i],
					msg["paid"][i],)

				listcount ++
			}
			for (i=0;i<msg["free"].length;i++) {
				$("#classlist")[0].innerHTML += format(classs_format,
					listcount,
					msg["free"][i],
					CLASS_TO[msg["free"][i]],)

				listcount ++
			}
		})
	}
	load_class();
	load_teachers();
</script>
{% endblock %}