{% extends "base.html" %}
{% block title %}Admin 使用者管理{% endblock %}
{% block css %}
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#userstable td,
	#userstable th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 18px;
	}

	#userstable tr {
		background-color: white;
	}

	#userstable tr.i:nth-child(even) {
		background-color: #F39C12;
	}
	#userstable tr.i:nth-child(odd) {
		background-color: #F1C40F;
	}
</style>
{% endblock %}
{% block content %}
<div style="width: 90%;padding-left: 10%">
	<br><br>
	<a href="/admin/"><button id="submit">< 回去</button></a>
	<br><br>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li><a onclick="loaduser('0')">0</a></li>
			<li><a onclick="loaduser('1')">1</a></li>
			<li><a onclick="loaduser('2')">2</a></li>
			<li><a onclick="loaduser('3')">3</a></li>
			<li><a onclick="loaduser('4')">4</a></li>
			<li><a onclick="loaduser('5')">5</a></li>
			<li><a onclick="loaduser('6')">6</a></li>
			<li><a onclick="loaduser('7')">7</a></li>
			<li><a onclick="loaduser('8')">8</a></li>
			<li><a onclick="loaduser('9')">9</a></li>

			<li><a onclick="loaduser('a')">a</a></li>
			<li><a onclick="loaduser('b')">b</a></li>
			<li><a onclick="loaduser('c')">c</a></li>
			<li><a onclick="loaduser('d')">d</a></li>
			<li><a onclick="loaduser('e')">e</a></li>
			<li><a onclick="loaduser('f')">f</a></li>
			<li><a onclick="loaduser('g')">g</a></li>
			<li><a onclick="loaduser('h')">h</a></li>
			<li><a onclick="loaduser('i')">i</a></li>
			<li><a onclick="loaduser('j')">j</a></li>
			<li><a onclick="loaduser('k')">k</a></li>
			<li><a onclick="loaduser('l')">l</a></li>
			<li><a onclick="loaduser('m')">m</a></li>
			<li><a onclick="loaduser('n')">n</a></li>
			<li><a onclick="loaduser('o')">o</a></li>
			<li><a onclick="loaduser('p')">p</a></li>
			<li><a onclick="loaduser('q')">q</a></li>
			<li><a onclick="loaduser('r')">r</a></li>
			<li><a onclick="loaduser('s')">s</a></li>
			<li><a onclick="loaduser('t')">t</a></li>
			<li><a onclick="loaduser('u')">u</a></li>
			<li><a onclick="loaduser('v')">v</a></li>
			<li><a onclick="loaduser('w')">w</a></li>
			<li><a onclick="loaduser('x')">x</a></li>
			<li><a onclick="loaduser('y')">y</a></li>
			<li><a onclick="loaduser('z')">z</a></li>
		</ul>
	</nav>
	<br>
	<table id="userstable">
		<tbody id="users">
			<tr>
				<th>Id</th>
				<th>Userid</th>
				<th>Email</th>
				<th>Birth Year</th>
				<th>Nickname</th>
				<th>Admin</th>
				<th>Job</th>
				<th>Point</th>
				<th>Create At</th>
			</tr>
		</tbody>
	</table>
	<br><br>
</div>
{% endblock %}
{% block bcontent %}
<div id="userinfo-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('userinfo-frame');" style="">X</a>
		<br>
		<div class="frame-content" style="padding-top: 0%;">
			<table id="userinfo2" style="width:90%">
				<tr>
					<td>Id</td>
					<td id="userinfo-id"></td>		
				</tr>
				<tr>
					<td>帳號</td>
					<td id="userinfo-userid"></td>		
				</tr>
				<tr>
					<td>積分</td>
					<td id="userinfo-point"></td>		
				</tr>
				<tr>
					<td>等級</td>
					<td id="userinfo-level"></td>		
				</tr>
				<tr>
					<td>暱稱</td>
					<td id="userinfo-nick"></td>		
				</tr>
				<tr>
					<td>Email</td>
					<td id="userinfo-email"></td>		
				</tr>
				<tr>
					<td>出生年</td>
					<td id="userinfo-birth"></td>		
				</tr>
				<tr>
					<td>註冊日期</td>
					<td id="userinfo-createat"></td>		
				</tr>
				<tr>
					<td>工作</td>
					<td id="userinfo-job"></td>		
				</tr>
				<tr>
					<td>管理者</td>
					<td id="userinfo-admin"></td>		
				</tr>
				<tr>
					<td>Email 認證</td>
					<td id="userinfo-active"></td>		
				</tr>
				<tr>
					<td>被封鎖</td>
					<td id="userinfo-disabled">
						<button id="disable" class="btn btn-danger btn-lg">
							封鎖使用者
						</button>
						<button id="undisable" class="btn btn-success btn-lg">
							解鎖使用者
						</button>
					</td>		
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
var paid_class = [];

user_format = `\
<tr class="i">
	<td>{0}</td>
	<td><a onclick="showdetail({0})">{1}</a></td>
	<td>{2}</td>
	<td>{3}</td>
	<td>{4}</td>
</tr>\
`

var users_table = $("#users")[0]
var alphatable = "abcdefghijklmnopqrstuvwxyz0123456789"

function loaduser(alpha) {
	// console.log(alpha)
	$.ajax({
		url: host + "user/",
		type: "GET",
		data: {"key": getCookie("key"), "userid": alpha},
		success: function (msg) {
			html = "<tr><th>Id</th><th>Userid</th><th>Email</th><th>Nickname</th><th>Create At</th></tr>"
			for (i=0; i<msg.length; i++) {
				user = format(user_format, msg[i]["id"],
					msg[i]["userid"],
					msg[i]["email"],
					msg[i]["nickname"],
					msg[i]["create_at"])
				html += user
			}
			users_table.innerHTML = html
		}
	})
}

function showdetail(uid) {
	$.ajax({
		url: host + "user/",
		type: "GET",
		data: {"key": getCookie("key"), "id": uid},
		success: function (msg) {
			show('userinfo-frame');
			$("#userinfo-id")[0].innerHTML = msg["id"];
			$("#userinfo-userid")[0].innerHTML = msg["userid"];
			$("#userinfo-point")[0].innerHTML = msg["point"];
			$("#userinfo-nick")[0].innerHTML = msg["nickname"];
			$("#userinfo-email")[0].innerHTML = msg["email"];
			$("#userinfo-birth")[0].innerHTML = msg["birth_year"];
			$("#userinfo-createat")[0].innerHTML = msg["create_at"];
			$("#userinfo-job")[0].innerHTML = msg["job"];
			$("#userinfo-admin")[0].innerHTML = msg["admin"];
			$("#userinfo-active")[0].innerHTML = msg["active"]

			$("#userinfo-level")[0].innerHTML = "一般";
			point = msg["point"];
			if (point > 200) {$("#userinfo-level")[0].innerHTML = "鑽石"}
			else if (point > 100) {$("#userinfo-level")[0].innerHTML = "白金"}
			else if (point > 20) {$("#userinfo-level")[0].innerHTML = "黃金"}

			if (msg["disabled"]) {
				$("#undisable").show();
				$("#disable").hide();

				$("#undisable")[0].onclick = function () {
					disableuser(msg["id"], false)
				}
			}
			else {
				$("#undisable").hide();
				$("#disable").show();

				$("#disable")[0].onclick = function () {
					disableuser(msg["id"], true)
				}
			}

			for (i=0;i<paid_class.length;i++) {
				classid = paid_class[i]
				if (classid in msg){
					$("#" + classid)[0].checked = true;
					$("#" + classid)[0].onclick = function () {
						openclass(classid, msg["id"], "False")}
				}
				else {
					$("#" + classid)[0].checked = false;
					$("#" + classid)[0].onclick = function () {
						openclass(classid, msg["id"], "True")}
				}
			}
		}
	})
}

function openclass(classid, uid, open_close) {
	j = {"class": classid, "uid": uid, "key": getCookie("key")}
	if (open_close) {
		$.ajax({
			url: host + "classes/",
			type: "POST",
			dataType: "json",
			data: JSON.stringify(j),
			contentType: "application/json; charset=utf-8",
			success: function (msg) {
				$("#" + classid)[0].onclick = function () {openclass(classid, uid, !open_close)}
			},
			error: function (error) {
				console.log(error)
			}
		})
	}
	else {
		url = host + "classes/?class={0}&uid={1}&key={2}"
		$.ajax({
			url: format(url, classid, uid, getCookie("key")),
			type: "DELETE",
			data: j,
			success: function (msg) {
				$("#" + classid)[0].onclick = function () {openclass(classid, uid, !open_close)}
			},
			error: function (error) {
				console.log(error)
			}
		})
	}
	// $(c#lassid).onclick = openclass(classid, uid, !open_close);
}

function disableuser(uid, disabled) {
	$.ajax({
		url: host + "user/",
		type: "PUT",
		dataType: "json",
		data: JSON.stringify({"key": getCookie("key"), "uid":uid, "disabled": disabled}),
		contentType: "application/json; charset=utf-8",
		success: function (msg) {
			showdetail(uid);
		},
		error: function (err) {
			console.log(err)
		}
	})
}

$.ajax({
	url: host + "classes/price",
	type: "GET",
	success: function (msg) {
		paid_class = msg["paid"]
		for (i=0;i<paid_class.length;i++) {
			tr = document.createElement("tr")

			td1 = document.createElement("td")
			td1.appendChild(document.createTextNode(paid_class[i]))

			td2 = document.createElement("td")
			input = document.createElement("input")
			input.id = paid_class[i]
			input.type = "checkbox"
			td2.appendChild(input)

			tr.appendChild(td1)
			tr.appendChild(td2)
			$("#userinfo2")[0].appendChild(tr)
		}
	}
})
</script>
{% endblock %}