{% extends "base.html" %}
{% block title %}Admin 使用者管理{% endblock %}
{% block css %}
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	#userstable td,
	#userstable th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size: 18px;
	}

	#userstable tr {
		background-color: white;
	}

	#userstable tr.i:nth-child(even) {
		background-color: #F39C12;
	}
	#userstable tr.i:nth-child(odd) {
		background-color: #F1C40F;
	}

	div#search-bar {
		position: absolute;
		text-align: center;
		top: 110px;
		left: 400px;
		width: 500px;
		height: 50px;
		transition-duration: 0.5s;
	}

	div#search-bar.big {
		top: calc(50% - 25px);
		left: calc(50% - 250px);
	}
</style>
{% endblock %}
{% block content %}
<div style="width: 90%;padding-left: 10%">
	<br><br>
	<a href="/admin/"><button id="submit">< 回去</button></a>
	<br><br>
	<div id="search-bar" class="big">
		<input id="userid-field" type="text" width="400" placeholder="Search: ">
	</div>
	<table id="userstable" hidden>
		<thead>
			<tr>
				<th>Id</th>
				<th>帳號</th>
				<th>Email</th>
				<th>暱稱</th>
				<th>註冊日期</th>
			</tr>
		</thead>
		<tbody id="users"></tbody>
	</table> 
	<!-- <br><br> -->
</div>
{% endblock %}
{% block bcontent %}
<div id="userinfo-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('userinfo-frame');" style="">X</a>
		<br>
		<div class="frame-content" style="padding-top: 0%;">
			<table id="userinfo2" style="width:90%">
				<tr>
					<td>Id</td>
					<td id="userinfo-id"></td>		
				</tr>
				<tr>
					<td>帳號</td>
					<td id="userinfo-userid"></td>		
				</tr>
				<tr>
					<td>積分</td>
					<td id="userinfo-point"></td>		
				</tr>
				<tr>
					<td>等級</td>
					<td id="userinfo-level"></td>		
				</tr>
				<tr>
					<td>暱稱</td>
					<td id="userinfo-nick"></td>		
				</tr>
				<tr>
					<td>Email</td>
					<td id="userinfo-email"></td>		
				</tr>
				<tr>
					<td>出生年</td>
					<td id="userinfo-birth"></td>		
				</tr>
				<tr>
					<td>註冊日期</td>
					<td id="userinfo-createat"></td>		
				</tr>
				<tr>
					<td>工作</td>
					<td id="userinfo-job"></td>		
				</tr>
				<tr>
					<td>管理者</td>
					<td id="userinfo-admin"></td>		
				</tr>
				<tr>
					<td>Email 認證</td>
					<td id="userinfo-active"></td>		
				</tr>
				<tr>
					<td>被封鎖</td>
					<td id="userinfo-disabled">
						<button id="disable" class="btn btn-danger btn-lg">
							封鎖使用者
						</button>
						<button id="undisable" class="btn btn-success btn-lg">
							解鎖使用者
						</button>
					</td>		
				</tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
var users = {};
var alphabet_index = {};
// var users_table = $("#users")[0]

user_format = `\
<tr class="i">
	<td>{0}</td>
	<td><a onclick="showdetail({0})">{1}</a></td>
	<td>{2}</td>
	<td>{3}</td>
	<td>{4}</td>
</tr>\
`

function showdetail (uid) {
	$.ajax({
		url: host + "user/",
		type: "GET",
		data: {"key": getCookie("key"), "id": uid},
		success: function (msg) {
			show('userinfo-frame');
			$("#userinfo-id")[0].innerHTML = msg["id"];
			$("#userinfo-userid")[0].innerHTML = msg["userid"];
			$("#userinfo-point")[0].innerHTML = msg["point"];
			$("#userinfo-nick")[0].innerHTML = msg["nickname"];
			$("#userinfo-email")[0].innerHTML = msg["email"];
			$("#userinfo-birth")[0].innerHTML = msg["birth_year"];
			$("#userinfo-createat")[0].innerHTML = msg["create_at"];
			$("#userinfo-job")[0].innerHTML = msg["job"];
			$("#userinfo-admin")[0].innerHTML = msg["admin"];
			$("#userinfo-active")[0].innerHTML = msg["active"]

			$("#userinfo-level")[0].innerHTML = "一般";
			point = msg["point"];
			if (point > 200) {$("#userinfo-level")[0].innerHTML = "鑽石"}
			else if (point > 100) {$("#userinfo-level")[0].innerHTML = "白金"}
			else if (point > 20) {$("#userinfo-level")[0].innerHTML = "黃金"}

			if (msg["disabled"]) {
				$("#undisable").show();
				$("#disable").hide();

				$("#undisable")[0].onclick = function () {
					disableuser(msg["id"], false)
				}
			}
			else {
				$("#undisable").hide();
				$("#disable").show();

				$("#disable")[0].onclick = function () {
					disableuser(msg["id"], true)
				}
			}
		}
	})
}

function disableuser (uid, disabled) {
	$.ajax({
		url: host + "user/",
		type: "PUT",
		dataType: "json",
		data: JSON.stringify({"key": getCookie("key"), "uid":uid, "disabled": disabled}),
		contentType: "application/json; charset=utf-8",
		success: function (msg) {
			showdetail(uid);
		},
		error: function (err) {
			console.log(err)
		}
	})
}

$("#userid-field").on("input change", function (e) {
	value = e.currentTarget.value
	if (value == "") {
		$("#search-bar")[0].classList.add("big")
		$("#userstable").hide(600)
	}
	else {
		$("#search-bar")[0].classList.remove("big")	
		$("#userstable").show(600)
	}

	first_chr = String(value[0])

	$("#users").html("")
	if (alphabet_index[first_chr] != undefined) {
		users_show = []
		$.each(alphabet_index[first_chr], function (_, i) {
			if (users[i]["userid"].startsWith(value)) {
				users_show.push(users[i])
			}
		})

		$.each(users_show, function (_, user) {
			$("#users")[0].innerHTML += format(
				user_format,
				user["id"],
				user["userid"],
				user["email"],
				user["nickname"],
				user["create_at"],
				)
		})
	}
})


$(document).ready(function () {
	$.ajax({
		url: host + "user/",
		type: "GET",
		data: {"key": getCookie("key")},
		success: function (msg) {
			$.each(msg, function (_, i) {
				users[i["id"]] = i

				first_chr = String(i["userid"][0])
				if (alphabet_index[first_chr] == undefined) {
					alphabet_index[first_chr] = []
				}
				alphabet_index[first_chr].push(i["id"])
			})
		}
	})
})
</script>
{% endblock %}