{% extends "base.html" %}
{% block title %}Coding for Fun{% endblock %}
{% block css %}
	<link href="/html/stylecss/about.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main class="milestone bm-5">
		<div class="aboutnote_bg">
			<div class="aboutnote">
				<div class="aboutnote_content">
					<img src="/html/images/about/aboutnote_content.png" alt="關於樂學">
				</div>
			</div>
		</div>

    <div class="container">
			<div class="row" style="clear:both">
				<div class="aboutmilestone_border">
					<div class="col-sm-12">
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation" class="active">
								<a href="#year2015" aria-controls="year2015" role="tab" data-toggle="tab">2012-2015</a>
							</li>
							<li role="presentation">
								<a href="#year2016" aria-controls="year2016" role="tab" data-toggle="tab">2016</a>
							</li>
							<li role="presentation">
								<a href="#year2017" aria-controls="year2017" role="tab" data-toggle="tab">2017</a>
							</li>
							<li role="presentation">
								<a href="#year2018" aria-controls="year2018" role="tab" data-toggle="tab">2018</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="year2015">
									<h2 class="h4">2012-2015</h2>
							</div>

							<div role="tabpanel" class="tab-pane" id="year2016">
								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 6月</h2>
									<p>新北市國中小資訊組長與教師研習。講題:「如何教授運算思維與程式語言教學」</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 6-11月</h2>
									<p>Coding for Fun 公益師資培訓, 台北、新竹、台中、台南、高雄共舉辦10場。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 7月</h2>
									<p>推出第二代Python初級課程;「讓孩子快樂學程式」一書出版,三采文化。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 7-9月</h2>
									<p>勾勾GoGo 群眾募資「Coding for Fun 快樂學程式偏鄉推廣計畫」, 將 Coding for Fun 教材與「讓孩子快樂學程式」一書寄至偏鄉國中小, 共900多所。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 9月 - 2017年 2月</h2>
									<p>與富志科技合作, 向財團法人種子教育基金會提案「新竹地區 Coding for Fun 兒童程式推廣計畫」, 提供新竹地區3所學校免費Scratch 課程與師資培訓60人。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 11月</h2>
									<p>屏東縣國中小資訊組長與教師研習。講題:「看見未來新趨勢 — 兒童學程式」嘉義市志航國小教師研習。講題:「看見未來新趨勢 — 兒童學程式」</p>
								</div>

							</div>
							<div role="tabpanel" class="tab-pane" id="year2017">
								<h2 class="h4">2017</h2>
							</div>
							<div role="tabpanel" class="tab-pane" id="year2018">
								<h2 class="h4">2018</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}