{% extends "base.html" %}
{% block title %}媒體報導{% endblock %}
{% block css %}
	<link href="/html/stylecss/about.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main class="bm-5">
		<div class="aboutmedia_bg">
			<div class="aboutmedia">
				<div class="aboutmedia_left">
					<img src="/html/images/about/aboutmedia_left.png" alt="關於樂學">
				</div>
				<div class="aboutmedia_right">
					<img src="/html/images/about/aboutmedia_right.png" alt="關於樂學">
				</div>

			</div>
		</div>

		<div class="container-fluid">
			<div class="row" style="clear:both">
				<div class="col-sm-3 col-xs-6 col-xs-offset-1">
					<div class="aboutmedia_contect">
						<h1 class="tr darkslategray">媒體報導</h1>
					</div>

				</div>
				<div class="col-sm-5 col-xs-10 col-xs-offset-1">
					<div class="aboutmedia_contect">
						<h2 class="h3 darkslategray">科技人 <a>08/16/2017</a></h2>
						<p class="dimgray">用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。</p>
					</div>
					<div class="aboutmedia_contect">
						<h2 class="h3 darkslategray">動腦雜誌 <a>04/02/2016</a></h2>
						<p class="dimgray">用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。</p>
					</div>
					<div class="aboutmedia_contect">
						<h2 class="h3 darkslategray">3C 創客  <a>10/19/2015</a></h2>
						<p class="dimgray">用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。</p>
					</div>
					<div class="aboutmedia_contect">
						<h2 class="h3 darkslategray">電腦王 <a>08/07/2017</a></h2>
						<p class="dimgray">用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。</p>
					</div>
					<div class="aboutmedia_contect">
						<h2 class="h3 darkslategray">數位時代  <a>02/26/2017</a></h2>
						<p class="dimgray">用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。用程式軟體帶動創新和創意,培養多元跨領域的創客,提升台灣在國際的影響力。</p>
					</div>
				</div>
			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}