{% extends "base.html" %}
{% block title %}樂學記事{% endblock %}
{% block css %}
	<link href="/html/stylecss/about.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

	<main class="milestone bm-5">
		<div class="aboutnote_bg">
			<div class="aboutnote">
				<div class="aboutnote_content">
					<img src="/html/images/about/aboutnote_content.png" alt="關於樂學">
				</div>
			</div>
		</div>

    <div class="container">
			<div class="row" style="clear:both">
				<div class="aboutmilestone_border">
					<div class="col-sm-12">
						<!-- Nav tabs -->
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation" class="active">
								<a href="#year2018" aria-controls="year2018" role="tab" data-toggle="tab">2018</a>
							</li>
							<li role="presentation">
								<a href="#year2017" aria-controls="year2017" role="tab" data-toggle="tab">2017</a>
							</li>
							<li role="presentation">
								<a href="#year2016" aria-controls="year2016" role="tab" data-toggle="tab">2016</a>
							</li>
							<li role="presentation">
								<a href="#year2015" aria-controls="year2015" role="tab" data-toggle="tab">2012-2015</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane" id="year2015">
								<div class="aboutmilestone_contect">
									<h2 class="h4">2012年 7月</h2>
									<p>創辦人投入兒童程式教材的研究與發展。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2013年寒假</h2>
									<p>第一次進行實驗教學，發現孩子學程式的秘訣。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2014年 4月</h2>
									<p>開始經營部落格 http://kidscoding.tw，與Facebook 粉絲團「兒童程式設計 KidsCoding」。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2014年 7月</h2>
									<p>推出第一代Python初級課程，以翻轉教室教授Python基礎課程。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2014年 10月</h2>
									<p>以翻轉教室教授Scratch基礎課程，並推出公益線上免費課程 Coding for Fun。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2014年 11月 ~ 2015年 1月</h2>
									<p>FlyingV群眾募資「Coding for Fun 快樂寫程式」沒有成功。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2015年 3~6月</h2>
									<p>推出公益實體課程 Coding for Fun 程式工作坊。</p>
								</div>
								
								<div class="aboutmilestone_contect">
									<h2 class="h4">2015年 6月</h2>
									<p>旺宏電子演講：「看見未來新趨勢 — 程式設計師的世界」。</p>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane" id="year2016">
								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 6月</h2>
									<p>新北市國中小資訊組長與教師研習演講：「如何教授運算思維與程式語言教學」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 6-11月</h2>
									<p>Coding for Fun 公益師資培訓，台北、新竹、台中、台南、高雄共舉辦10場。培訓師資共100人。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 7月</h2>
									<p>推出第二代Python初級課程。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 7月</h2>
									<p>由三采文化出版圖書「讓孩子快樂學程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 7~9月</h2>
									<p>勾勾 GoGo 群眾募資「Coding for Fun 快樂學程式偏鄉推廣計畫」，將 Coding for Fun 教材與「讓孩子快樂學程式」一書寄至偏鄉國中小，共900多所。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 9月 ~ 2017年 2月</h2>
									<p>與富志科技合作，向財團法人種子教育基金會提案「新竹地區 Coding for Fun 兒童程式推廣計畫」，提供新竹地區3所學校免費Scratch 課程與師資培訓60人。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 10月</h2>
									<p>中原大學「電機講座」專題演講：「看見未來新趨勢 — 軟體吃掉全世界」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 11月</h2>
									<p>屏東縣國中小資訊組長與教師研習演講「看見未來新趨勢 — 兒童學程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2016年 11月</h2>
									<p>嘉義市志航國小教師研習演講「看見未來新趨勢 — 兒童學程式」。</p>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane" id="year2017">
								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 1月</h2>
									<p>成立樂學科技股份有限公司，以公益為初心，推廣程式設計教材。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 3~5月</h2>
									<p>屏東縣屏東女中學生與教師各一場演講「看見未來新趨勢 — 輕鬆踏入程式設計的世界」</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 3~5月</h2>
									<p>新北市大埔國小教師研習演講「看見未來新趨勢 — 兒童學程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 4~6月</h2>
									<p>授權培訓並認證第一批「Coding for Fun 樂學科技授權老師」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 6月</h2>
									<p>中鼎工程演講。講題：「看見未來新趨勢 — 軟體吃掉全世界」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 5月 ~ 2019年5月</h2>
									<p>無償授權「Coding for Fun 兒童程式設計推廣教材」予財團法人種子教育基金會於非營利廣用途使用。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 8月</h2>
									<p>台東區網中心演講。講題：「兒童程式設計教學研習─讓孩子快樂學程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 8月</h2>
									<p>環宇廣播電台「交大幫幫忙:用程式軟體帶動創新創意」http://www.uni967.com/newweb/AOD2.php?ID=14925。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 9月</h2>
									<p>2017 新北市立圖書館三峽北大分館 「親親我的寶貝」親子科技教育講座「讓孩子快樂學程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 9月</h2>
									<p>中央大學學習與教學研究所 Seminar 客座2天共4小時課程，以「Coding for Fun」學 Scratch。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 10月</h2>
									<p>台灣婦女團體全國聯合會舉辦數位時代‧台灣女子風光座談會「讓孩子快樂學程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 11月</h2>
									<p>行天宮附設玄空圖書館「圖像化遊戲程式設計體驗秀」，帶領銀髮族學 Scratch。</p>
								</div>
							</div>

							<div role="tabpanel" class="tab-pane active" id="year2018">
								<div class="aboutmilestone_contect">
									<h2 class="h4">2017年 11月 ~ 2018年 3月</h2>
									<p>授權培訓並認證第二批「Coding for Fun 樂學科技」授權老師」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2018年 3月</h2>
									<p>中央大學師資培育課程與學習與教育研究所客座講座「彈指之間 創見未來」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2018年 3月</h2>
									<p>中廣新聞網氣象達人彭啟明專訪「從小開始學寫程式」。</p>
								</div>

								<div class="aboutmilestone_contect">
									<h2 class="h4">2018年 4~6月</h2>
									<p>授權培訓並認證第二批「Coding for Fun 樂學科技」授權老師」。</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div><!--container-fluid end-->
	</main>

{% endblock %}