{% extends "base.html" %}
{% block title %}願景使命{% endblock %}
{% block css %}
	<link href="/html/stylecss/about.css" rel="stylesheet">
{% endblock %}
{% block content %}
	<main class="bm-5">
		<div class="aboutdreambanner_bg">
			<div class="aboutdreambanner">
				<div class="aboutdreambanner_left">
					<img src="/html/images/about/aboutdream_left.png" alt="關於樂學">
				</div>
				<div class="aboutdreambanner_right">
					<img src="/html/images/about/aboutdream_right.png" alt="關於樂學">
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<!-- <div class="row">
				<img src="/html/images/about/aboutdream.jpg" width="100%" alt="關於樂學">
			</div> -->
			<div class="row" style="clear:both">
				<div class="col-sm-5 col-xs-2"></div>
				<div class="col-sm-5 col-xs-8">
					<div class="aboutdream_contect">
						<h2 class="h3 darkslategray">願景 Vision</h2>
						<p class="dimgray">用程式軟體帶動創新和創意，培養多元跨領域的創客，提升台灣在國際的影響力。</p>
					</div>

					<div class="aboutdream_contect">
						<h2 class="h3 darkslategray">承諾 Promise</h2>
						<p class="dimgray">樂學程式學院辦學宗旨要讓孩子快樂學習程式，輕鬆踏出程式設計的第一步。以學生為本、以程式為體的翻轉教室學習，還能養成自學的好習慣，讓家長看見孩子的自信和轉變。</p>
					</div>

					<div class="aboutdream_contect">
						<h2 class="h3 darkslategray">使命 Mission</h2>
						<p class="dimgray">Coding for Fun讓孩子快樂學程式，即使面對資訊速變時代和科技浪潮的革命，擁有程式自學能力，用鍵盤展現創造力，彈指之間為自己的未來創造無限可能。</p>
					</div>
				</div>
			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}