{% extends "base.html" %}
{% block title %}Coding for Fun - {{ subject }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/html/css/class.css">
<style>
	div.ccright {
		position: fixed;
		left: 20px;
		bottom: 20px;
	}
</style>
{% endblock %}
{% block content %}
<span id="subject_id" style="display: none">{{ class_id }}</span>
<br>
<br>
<br>
<center>
<div id="a">
</div>
<!-- <div class="classname-display" id="classname"></div> -->
<br>
<div id="video"></div>
</center>

{% if class_id=="scratch_1" %}
	<div class="ccright"><img src="/html/images/cc_scratch.png" alt=""></div>
{% endif %}

<div class="lesson-display">
	<div id="classname-now"></div>
	<div class="dropdown push-left" style="width:50%;display:inline;font-family:fonta;">
	  <button class="btn btn-default dropdown-toggle" type="button" id="lesson-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		Dropdown
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="lesson-dropdown" id="lessons">
	  </ul>
	</div>
	<div class="button-display" id="buttons" style="display:inline"></div>
	
	<div class="leftarrow">
		<a onclick="prev()">
			<i class="fa fa-chevron-left" aria-hidden="true"></i>
		</a>
	</div>
	<div class="rightarrow">
		<a onclick="next()">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</div>
</div>
<br><br>
{% endblock %}
{% block script %}
<script src="/html/javascript/class.js"></script>
<script>
subject_id = document.getElementById("subject_id").textContent
loadclass(subject_id)
</script>
{% endblock %}