{% extends "base.html" %}
{% block title %}Coding for Fun - {{ subject }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/html/css/class.css">
{% endblock %}
{% block content %}
<span id="subject_id">{{ class_id }}</span>
<div class="menu" id="lessons_bar">
	<div id="description" onclick="show_description()">介紹</div>
</div>
<div class="shrink" id="view-block">
	<div id="toggle_btn" onclick="toggle_menu()">&#9776;</div>
	<h1 id="title"></h1><div id="btns"></div><br>
	<div id="video">
		<h3>&larr; 請選擇課程</h3>
	</div>
	<div id="footer">
		<button id="prev" onclick="prev()">< Prev</button>
		<button id="next" onclick="next()">Next ></button>
	</div>
</div>
<br><br>
{% endblock %}
{% block script %}
<script src="/html/javascript/class.js"></script>
{% endblock %}