{% extends "base.html" %}
{% block title %}Coding for Fun - 參加課程{% endblock %}
{% block css %}
<link rel="stylesheet" href="html/slick/slick.css">
<link rel="stylesheet" href="html/slick/slick-theme.css">
<link rel="stylesheet" href="html/css/classattend.css">
<link rel="stylesheet" href="html/css/calendar.css">
<style>
	ul.second-layer {
		margin-left: 30px;
	}

	#hwcomment {
		border-left: 3px coral solid;
		margin-left: 10px;
		padding-left: 5px;
		font-size: 18px;
	}

	#file {
		line-height:14px;
		overflow-x: scroll;
		white-space: wrap;
		margin-left: 10px;
		margin-right: 10px;
	}

	.numline {
		color: coral;
	}
</style>
{% endblock %}
{% block content %}
	<br><br>
	<div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-2" style="background: #4472CA;border-bottom-left-radius: 10px; border-top-left-radius: 10px">
				<br>
				<ul class="nav nav-pills nav-stacked" id="classroomnames">
					<li role="presentation" onclick="showactivity()"><a>活動</a></li>
					<ul class="nav nav-pills nav-stacked second-layer" id="activities-type">
						<li role="presentation" onclick="showactivity()"><a>行事曆</a></li>
						<li role="presentation" onclick="showparticipant('True')"><a>參加的活動</a></li>
						<li role="presentation" onclick="showparticipant('False')"><a>未參加的活動</a></li>
						<li role="presentation" onclick="showpresent('True')"><a>到場過的活動</a></li>
						<li role="presentation" onclick="showpresent('False')"><a>未到場的活動</a></li>
					</ul>
				</ul>
				<br>
			</div>
			<div class="col-md-8" id="hw-view">
				<br>
				<h3>
					<span id="classroom-name"></span>
					<small>
						<div class="text-right">
							課程種類 - <span id="classroom-type"></span>
						</div>
					</small>
				</h3>
				<hr>
				<table class="table">
					<thead id="hw-thead"></thead>
					<tbody id="hw-tbody"></tbody>
				</table>
				<div class="" id="hw-shelf"></div>

				<div class="text-right">
					<div class="close" style="padding-right:10px;" onclick="show('howtoupload')">
						功課上傳說明
					</div>
					<div id="fileupload" class="close" style="padding-right:10px; color:blue">
						<label for="pythonhomework" style="cursor:pointer">上傳功課</label>
						<form enctype="multipart/form-data" action="rest/1/upload/homework" method="post" id="homeworkupload" hidden>
							<input name="homwork" id="pythonhomework" type="file" onchange="upload()" multiple/>
							<input name="clsroomid" type="text"/>
							<input name="key" type="text"/>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-8 text-left" id="activity-view" hidden>
				<br><br>
				<div class="calendarshow">
					<div class="title" id="yeardisplay" style="font-family: fonta;">
						<div class="g" onclick="today()" style="cursor: pointer;">今天</div>
						<div class="i" onclick="minusOneMonth()">&#10096;</div>
						<div class="e" id="yearmonth">a</div>
						<div class="i" onclick="addOneMonth()">&#10097;</div>
					</div>
					<div class="body">
						<div class="calendar-date">
							<div class="weekday">一</div>
							<div class="weekday">二</div>
							<div class="weekday">三</div>
							<div class="weekday">四</div>
							<div class="weekday">五</div>
							<div class="weekday">六</div>
							<div class="weekday">日</div>
						</div>
						<div class="calendar-date" id="date">
						</div>
					</div>
				</div>
				<br>
				<center id="activities"></center>
				<br>
			</div>
			<div class="col-md-8 text-left" id="activity-list" hidden>
				<br>1
			</div>
		</div>
	</div>
{% endblock %}
{% block bcontent %}
	<div id="project" class="loginsignup-frame" hidden>
		<div class="loginsignup-frame-inside">
			<a id="closeloginframe" onclick="hide('project');" style="">X</a>
			<br>
			<div class="frame-content" style="padding-top: 0%;padding-left: 20px;">
				<h3 class="modal-title" id="project-title"></h3>
				<br>
				<div id="hwcomment"></div>
				<br>
				<iframe id="scratch_iframe" width="580" height="500" frameborder="0"></iframe>
				<div id="file"></div>
				<br>
				<a target="_blank" id="s_project_page">
					<button type="button" class="btn btn-warning">看程式</button>
				</a>
			</div>
		</div>
	</div>
	<div id="howtoupload" class="loginsignup-frame" hidden>
		<div class="loginsignup-frame-inside">
			<a id="closeloginframe" onclick="hide('howtoupload');" style="">X</a>
			<br>
			<div class="frame-content" style="padding-top: 0%;padding-left: 20px;">
				<h3>如何上傳作業</h3>
				<img src="/html/images/howtoupload-scratch.png" alt="">
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
<script src="html/slick/slick.js"></script>
<script src="/html/javascript/classattend.js"></script>
{% endblock %}