{% extends "base.html" %}
{% block title %}實證{% endblock %}
{% block css %}
<link href="/html/stylecss/class.css" rel="stylesheet" type="text/css">
<style>
	.video-index {
		position: relative;
		background: black;
		width: 100px;
		height: 100px;
		bottom: 0;
	}
</style>
{% endblock %}
{% block content %}

	<main class="milestone bm-5">
		<div class="class8BG">
			<div class="class1">
				<!-- <img src="/html/images/class/scratch-sm-min.png" alt=""> -->
				<div class="class1_img08">
					<img src="/html/images/class/classprove_min.png" alt="">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 youtube">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe id="video" class="embed-responsive-item" src="https://www.youtube.com/embed/ytIHIFdYBrQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
					<div style="text-align: right">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li id="pagination-1" class="active"><a href="javascript:;" onclick="jump_video(1)">1</a></li>
								<li id="pagination-2"><a href="javascript:;" onclick="jump_video(2)">2</a></li>
								<li id="pagination-3"><a href="javascript:;" onclick="jump_video(3)">3</a></li>
								<li id="pagination-4"><a href="javascript:;" onclick="jump_video(4)">4</a></li>
							</ul>
						</nav>
					</div>
					<!-- Nav tabs -->
					<ul class="nav nav-pills" role="tablist">
						<li role="presentation" class="active">
							<a href="#studentprove" aria-controls="studentprove" role="tab" data-toggle="tab">學生</a>
						</li>
						<li role="presentation">
							<a href="#parentsprove" aria-controls="parentsprove" role="tab" data-toggle="tab">家長</a>
						</li>
						<li role="presentation">
							<a href="#teacherprove" aria-controls="teacherprove" role="tab" data-toggle="tab">老師</a>
						</li>
					</ul>
				</div>
			</div>
			  <!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="studentprove">
					<div class="row">
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove1">
								<div class="classprove_contect">
									<h2 class="h4">周同學：女</h2>
									<div class="classprove_mom">
										<p class="orange">升小學六年級</p>
									</div>
									<p>
										一開始，上 python 的時候，我覺得很緊張，它不像 scratch 一樣，python 要以打字的方式與電腦溝通，但我漸漸發現， python 和 scratch 很相似。  課堂中，老師會在旁邊看我們，在我眼裡，這不是一種壓力，那是一種...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">周同學：女</h2>
															<div class="classprove_mom">
																<p class="orange">升小學六年級</p>
															</div>
															<p>
																一開始，上 python 的時候，我覺得很緊張，它不像 scratch 一樣，python 要以打字的方式與電腦溝通，但我漸漸發現， python 和 scratch 很相似。  <br><br>

																課堂中，老師會在旁邊看我們，在我眼裡，這不是一種壓力，那是一種能讓我們進步的方法，因為老師會靜靜觀察，我們卡關時給我們提醒。  <br><br>

																老師錄的影片內容都很清楚，讓我不會有聽不懂的地方，還有一本內容詳細的課本，讓我可以隨時翻閱，幫助我學習。  <br><br>

																在寫功課的時候，一開始，我覺得很難，但是後來，我發現，只要認真上課，功課和上課內容習習相關，漸漸的，功課變得沒我想像中難了。  <br><br>

																我覺得， python 是一個很有趣的程式語言，它和很多的程式語言都不太一樣，但又有很多相似的地方。 Python 是一個學程式語言的基礎，上python 後，我開始很想上較難的程式語言，python 讓我開始對程式語言越來越有興趣，每一次的嘗試或卡關，都會讓我停下來思考。  <br><br>

																我希望以後能學更多、更難的程式語言，讓自己對自己的電腦更熟悉。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove2">
								<div class="classprove_contect">
									<h2 class="h4">吳同學：男</h2>
									<div class="classprove_mom">
										<p class="orange">升大學一年級</p>
									</div>
									<p>
										從小學到高中一路都有電腦課程，但就算是認真聽老師上課，也不太能理解，幾次嘗試後，漸漸有點害怕，變得不想接觸。配合墨爾本大學生物醫學系的學程，此次回台灣將停留長達7個月，媽媽鼓勵我...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">吳同學：男</h2>
															<div class="classprove_mom">
																<p class="orange">升大學一年級</p>
															</div>
															<p>
																從小學到高中一路都有電腦課程，但無論是Scratch、C++或autocad，就算是認真聽老師上課，也不太能理解，幾次嘗試後，漸漸有點害怕，變得不想接觸。<br><br>

																配合墨爾本大學生物醫學系的學程，此次回台灣將停留長達7個月，媽媽鼓勵我利用這段時間學習可運用在醫療數據分析的資料分析程式，並事先幫我報名樂學科技Python A初級班，為期4週共8次的課程，讓我發現寫程式也可以是有趣的事！<br><br>

																有別於以往，此次Python A課程是透過許多小短片，讓同學依自己的狀況，循序漸進&amp;重複地學習重要的概念，且短片最後會有例題讓同學練習，以確保理解教學內容，而老師在每堂課中亦會帶著大家複習和解說重要的概念，並針對課後作業進行討論，透過這樣的學習方式，從建立基礎觀念、培養思考能力、並進而願意挑戰嘗試不同的解決方案，讓一向害怕電腦程式的我，也能有效地學習並產生興趣。<br><br>

																科技日益進步，有效地運用電腦技能協助研究與分析，將為未來的專業學習加分，雖然我還是程式初學者，但經由此次Python A的課程，很高興能建立自己繼續學習程式課程的意願與信心，也相信這對我未來醫學相關的求學歷程會有幫助。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove3">
								<div class="classprove_contect">
									<h2 class="h4">黃同學：男</h2>
									<div class="classprove_mom">
										<p class="orange">升高職三年級</p>
									</div>
									<p>
										我覺得這次上了這個課程，感覺都跟以前學Python的時候很不一樣，因為老師的上課方式非常特別。老師讓我們自己帶電腦，自己上網看教學影片，一開始我以為會跟以前的影片一樣講得很艱深難懂，不過老師給我們的影片卻...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">黃同學：男</h2>
															<div class="classprove_mom">
																<p class="orange">升高職三年級</p>
															</div>
															<p>
																我覺得這次上了這個課程，感覺都跟以前學Python的時候很不一樣，因為老師的上課方式非常特別。<br><br>
																 
																老師讓我們自己帶電腦，自己上網看教學影片，一開始我以為會跟以前的影片一樣講得很艱深難懂，不過老師給我們的影片卻教的很詳細，很多奇怪的語法影片都會講解的很詳細。  <br><br>

																因為我是那種需要去理解一個東西的原理以及用法，才能完全了解如何應用，以前的學法總是讓我無法完全理解其用法，才導致我學不起來。不過這次老師的教學影片，讓我們透過實作跟老師詳細的分析來了解每個語法的用法。  <br><br>

																我以前其實有接觸過scratch，scratch因為他是利用堆樂高的原理來完成一個程式，所以學起來比較有成就感。但是真的接觸到程式語言，才了解到原來要從什麼都沒有，到最後有寫出一個程式，是一個很浩大的工程。  <br><br>

																不過長大後學才發現，其實所有的語法都跟以前的scratch一模一樣，甚至能完成的事情還比scratch多很多。以前學覺得scratch比較簡單，現在我覺得Python比較簡單。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--第一列row end-->
					<div class="row">
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove4">
								<div class="classprove_contect">
									<h2 class="h4">羅同學：女</h2>
									<div class="classprove_mom">
										<p class="orange">升小學五年級</p>
									</div>
									<p>
										I want to learn Python because I learned Scratch earlier, and I think it's fun. I always wonder: Is Scratch made by python? Part of me always says: No way! But the other part of me will say: Maybe Scratch...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">羅同學：女</h2>
															<div class="classprove_mom">
																<p class="orange">升小學五年級</p>
															</div>
															<p>
																I want to learn Python because I learned Scratch earlier, and I think it's fun. I always wonder: Is Scratch made by python? Part of me always says: No way! But the other part of me will say: Maybe Scratch was really made by Python. I always want to know the answer, if Scratch was made by Python, I always think: Is Python really so powerful? I got more and more curious in Python, so I decided to learn it.<br><br>

																I was nervous the first day because I was scared that it will be too hard for me to understand, and I can't keep up with the progress. After learning Python for a while, I found out that the teaching film was not very hard to understand. The teacher taught us from the easiest function"print", slowly to some harder program contents, like"File I/O". I learned some Python from MOOCs before, but the teaching films didn't explain clearly about some functions and more, but in this Python class, the teacher taught us step by step, making sure that every one of us understands it before she teaches us another thing.The teaching film was interesting, the video used some easy pictures to explain what the teacher was teaching us clearly. In the teaching film, the teacher will tell us how to do a program and give us some hints, and then we will need to do the rest of the program by ourself. The videos help me a lot.<br><br>

																We have homework almost every day, at first, it was easy, but it was getting harder and harder every time. Some times I have to look the teaching films over again, but because of that, I will always remember it in my mind.Whenever I got stuck, I will always try it again or watch the teaching film again, if I still didn't know the answer, I will ask the teacher, she will give us hints and teach us step by step. If the homework was really hard, and almost the whole class has questions about this homework, the teacher will discuss it with us and find out the answer together.<br><br>

																My favorite unit is EasyGUI, I think it is very useful. Before I learned EasyGUI, I always wonder how they make those apps and games. They couldn't just show the result on the Idle shell, right? But then I learned a new module: EasyGUI. This module could make a new interface, it will be more like an app or a game, and it looks more friendly and interesting. It seems to be a great programmer when you know how to use EasyGUI, but it isn't hard, all you need to do is to type in a few lines of code, and you're done!<br><br>

																The best way to learn programming languages is to self-study, but if you have a question and nobody in your family knows it, you will not be able to know the answer. So the other way to learn it is to have a good class with a nice teacher and students, the good thing is that if you have any questions, the teacher could answer it, and you could discuss it with your classmates. I think Python is a good tool, even though it might be a little hard. Now I know that Python really is a powerful programing language, no matter if Scratch was made by Python or not, Python is still a fun programing language. Just don't give up, study hard and keep practicing, then Python wouldn't be as hard as you thought.
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove5">
								<div class="classprove_contect">
									<h2 class="h4">戴同學：男</h2>
									<div class="classprove_mom">
										<p class="orange">升大學一年級</p>
									</div>
									<p>
										當初會上這個課是因為姑姑問我要不要學程式。我因為好奇才想要上這門課的，因為我完全沒碰過程式設計這類的東西。一開始是很簡單的像計算機那樣，輸入一些公式他會跑出來...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">戴同學：男</h2>
															<div class="classprove_mom">
																<p class="orange">升大學一年級</p>
															</div>
															<p>
																當初會上這個課是因為姑姑問我要不要學程式。我因為好奇才想要上這門課的，因為我完全沒碰過程式設計這類的東西。<br><br>

																一開始是很簡單的像計算機那樣，輸入一些公式他會跑出來。到最後學到可以執行出視窗式的程式，這也是讓我最印象深刻的。因為我常常在玩電腦就一直看到各種視窗。<br><br>

																但我怎麼也沒想到，我可以靠自己的雙手做出這樣很簡單的視窗，就算內容只是一行短短的文字，但這已經讓我感受到莫大的成就感。加上教學模式是看影片聽聲音，打破了傳統的教書感念，讓我覺得不會枯燥乏味。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove6">
								<div class="classprove_contect">
									<h2 class="h4">戴同學：女</h2>
									<div class="classprove_mom">
										<p class="orange">升大學二年級</p>
									</div>
									<p>
										我覺得這個課程非常適合初學者，藉由影片教學的方式一步一腳印搭配實際操作，有問題也能立刻向老師提出、互相討論，漸漸對 python 有初步的了解也更好上手了。
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">戴同學：女</h2>
															<div class="classprove_mom">
																<p class="orange">升大學二年級</p>
															</div>
															<p>
																我覺得這個課程非常適合初學者，藉由影片教學的方式一步一腳印搭配實際操作，有問題也能立刻向老師提出、互相討論，漸漸對 python 有初步的了解也更好上手了。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--第二列row end-->
					<div class="row">
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#studentprove7">
								<div class="classprove_contect">
									<h2 class="h4">中央大學 學習與教學研究所學生</h2>
									<p>
										三年前曾聽老師介紹過Scratch，，當時不以為意，以為只是一個可愛的幼教遊戲軟體，並沒有再深入瞭解。這學期書報討論，老師們安排Scratch程式的自學課程，才開始接觸與研究Scratch，接觸之後才發現程式的概念是以...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="studentprove7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">中央大學 學習與教學研究所學生</h2>
															<p>
																三年前曾聽老師介紹過Scratch，，當時不以為意，以為只是一個可愛的幼教遊戲軟體，並沒有再深入瞭解。這學期書報討論，老師們安排Scratch程式的自學課程，才開始接觸與研究Scratch，接觸之後才發現原來Scratch程式功能非常完整，程式的概念是以舞台與角色為主體，程式語法是編輯在舞台與角色中，這個方式是源自於視覺化視窗程式的表單與元件的概念。<br><br>

																因為我主修資訊管理系，所以自學Scratch程式的門檻不會太高，Scratch程式的運作邏輯與一般視覺化視窗程式相同。而最讓我驚艷的是非資訊科系背景的同學與學弟妹們的表現實在太棒了，同學大家的主修主要是英文、國文、數學、教育與社會科，應該都沒什麼機會學習寫程式，卻能做出這麼高水準的作品，在老師們的自學課程安排下，大家都能設計出豐富多元的程式專案，讓我好佩服。
																記得我大一時必修程式設計，因為上大學前完全沒有程式的概念，上課聽不懂老師的講解，只好下課後在家把教科書上的程式範例一個一個輸入程式編輯軟體來練習與觀察，花了兩個學期才把C語言與VB語言學好。這堂書報討論課，老師提供自學的教材，在專案的目標領導下，大家都能完成超高水準的作品，真的是很成功的學習與教學模式。<br><br>

																與學生我同組的三位碩班學妹，以前都沒有程式設計的經驗，在期中與期末的專案時，她們都很積極的嘗試設計遊戲，當我在做專案整合時去閱讀她們的程式邏輯，發現雖然她們因為還不熟悉元件概念的程式設計而有一些小Bug，例如把同一個造型在不同角色間混用，導致角色的程式邏輯不夠獨立性，但是也可以看出她們在解決問題時的創意與巧思，讓我也學到如何分析閱讀別人的程式設計邏輯，未來如果我擔任資訊電腦教師，也能給學生許多創意的發想。<br><br>

																有人說未來人工智慧的時代，最重要的能力是能用數理邏輯進行思考並描述問題，才能有效的運用人工智慧。這學期書報討論讓我學習到很多，也開始喜歡上Scratch程式設計軟體，有機會我會推薦給我的學生，讓他們也開始學習程式設計，培養數理邏輯思考的基本能力，能夠把抽象的問題轉換為「如果…就」、「如果…否則…」、「若…則重複…」、「當…就…」等結構化的描述。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="parentsprove">
					<div class="row">
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#parentprove1">
								<div class="classprove_contect">
									<h2 class="h4">俞小姐/媽媽</h2>
									<p>
										第一次聽到Coding4fun是在 2017年 4月從一個自學孩子介紹 Scratch的學習。當時只知道是免費網站，有影片教學，馬上引起我的好奇心去了解。接著透過 FB 資訊知道蔡老師有開講座，當下就報名去了解這是一個什麼樣的組織...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="parentprove1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">俞小姐/媽媽</h2>
															<p>
																第一次聽到Coding4fun是在 2017年 4月從一個自學孩子介紹 Scratch的學習。當時只知道是免費網站，有影片教學，馬上引起我的好奇心去了解。接著透過 FB 資訊知道蔡老師有開講座，當下就報名去了解這是一個什麼樣的組織。<br><br>

																蔡老師的演講深深打動我的心。她說 : 她以一個媽媽的心態去思考家長會有的疑慮來辦樂學科技，並以一個孩子的學習歷程來思考影片的設計。應該更直接的說是她不想家長花了大把的鈔票，而沒有相對的學習回報。回到家後，趕緊跟孩子分享網站。接著就是設定目標要把10 堂課上完。<br><br>

																兒子當時是小學四年級。這 10 堂課我陪著孩子上。但是我的腳步無法跟上他，腦子轉的沒有他快，所以只能陪伴。Coding4fun不只提供教學影片，還有教師手冊，更有線上回答的功能。<br><br>

																教學影片內容深入淺出的觀念，一步一步地透過影片詳細的介紹。每一個課程又細分成很多小單元。有任何卡關的地方， 隨時可以再回到不熟習的單元重看，直到了解為止。每個課程後都有作業，老師有交代一定要寫作業。透過寫作業才可以知道自己是不是真的融會貫通。若是有任何疑問， 也可以線上詢問老師。再加上老師溫柔的聲音，帶來一股非常安定的力量。對看影片有很大的助益!<br><br>

																這十堂課的自學影片。不只引燃了孩子對 Scratch 的熱情，更重要的是透過影片「自學」，我發現孩子有別於學校一對多傳授知識的盲點。因為自學，他會有自己的進度。透過寫作業知道「自以為了解」的內容，其實還是不夠清晰，自己會去找出卡關的地方。<br><br>

																我最常聽到他說 : 「為什麼會這樣 ? 」「啊! 我知道了，原來問題出在這 ! 」
																這是一種自我探索發現、自我尋求答案的過程。所以這 10 堂課是紮實的功夫，是往後進階的重要墊石。<br><br>

																表面上看來只是學習電腦程式，但這已經不光是教學影片帶來的效益，而是讓孩子自己跟我看到學習上的的盲點。 讓我更清楚如何在孩子的學習過程上陪伴他。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#paerntprove2">
								<div class="classprove_contect">
									<h2 class="h4">黃老師/家長</h2>
									<p>
										我除了是教師，也是家長。在孩子小學三年級時，我開始教他scratch，做了一些簡單的動畫，但一旦我沒有時間教他，他就停住了，所以孩子的學習進度，和學習動力，都是受到媽媽所左右。孩子四年級時，我參加了...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="paerntprove2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">黃老師/家長</h2>
															<p>
																我除了是教師，也是家長。對於程式學習和程式教學有興趣的我，在孩子小學三年級時，我開始教他scratch，做了一些簡單的動畫，孩子覺得有趣，但一旦我沒有時間教他，他就停住了，所以孩子的學習進度，和學習動力，都是受到媽媽所左右。<br><br>

																孩子四年級時，我參加了程式教育專家蔡淑玲老師所開設的scratch與python師資培訓課程，同時，我也讓孩子看Coding for Fun 的線上課程自學scratch，透過淺顯易懂，循序漸進，且精心設計的課程，孩子從「被動學」程式，變成了「主動學」程式，且樂在其中，每個課程主題裡，老師所設計需要學生動動腦或動動手的部分，他都躍躍欲試......<br><br>

																孩子按照自己的理解和學習進度，自己上線看課，自己做coding練習，只有在遇到困難，或程式執行結果不如預期，且經過苦思不得其解時，才會向我求助，而我也就師資培訓時所學到的教學技巧，引導他如何敘述問題，如何修正思考邏輯，以及如何除錯（debug）。<br><br>

																Coding for Fun的課程還未上完，有一天，孩子突然跟我說：「媽媽，我終於知道為什麼妳寫程式，常常寫到不想休息了！」看著他眼裡閃耀著興奮的光芒，我會心一笑，回答他：「因為你也寫到停不下來了，對不對？」孩子用力且肯定的點了個頭，隨即轉身繼續忘我地寫他自己設計的遊戲專案……至此，我知道，孩子已經嘗到自學的成就感，且身上的自學模式按鈕，已經啟動！

															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--第一列row end-->
				</div>

				<div role="tabpanel" class="tab-pane" id="teacherprove">
					<div class="row">
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove1">
								<div class="classprove_contect">
									<h2 class="h4">張老師</h2>
									<p>
										在樂學科技的教學方法與以往的學習方式很不同，自學是最重要的一部分，有自願學習的能力才懂得解決問題。scratch初階班小朋友從完全不懂程式，到最後能創作出一個作品，覺得寫程式非常好玩。而...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">張老師</h2>
															<p>
																在樂學科技的教學方法與以往的學習方式很不同，自學是最重要的一部分，有自願學習的能力才懂得解決問題。<br><br>

																scratch初階班小朋友從完全不懂程式，到最後能創作出一個作品，覺得寫程式非常好玩。<br><br>

																而scratch應用班和進階班的同學，能夠逐漸瞭解各種複雜的邏輯，創作出更有趣的作品。最喜歡看他們絞盡腦汁的樣子，其實我好羨慕，為什麼以前沒有這樣的環境可以學習程式？<br><br>

																python課程中我發現學生的程式創作有無限的可能，能寫出比scratch更多更自由的想法，覺得python課程是一個容易讓人親近又簡單上手的程式語言。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove2">
								<div class="classprove_contect">
									<h2 class="h4">黃老師/家長</h2>
									<p>
										我除了是教師，也是家長。在孩子小學三年級時，我開始教他scratch，做了一些簡單的動畫，但一旦我沒有時間教他，他就停住了，所以孩子的學習進度，和學習動力，都是受到媽媽所左右。孩子四年級時，我參加了...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">黃老師/家長</h2>
															<p>
																我除了是教師，也是家長。對於程式學習和程式教學有興趣的我，在孩子小學三年級時，我開始教他scratch，做了一些簡單的動畫，孩子覺得有趣，但一旦我沒有時間教他，他就停住了，所以孩子的學習進度，和學習動力，都是受到媽媽所左右。<br><br>

																孩子四年級時，我參加了程式教育專家蔡淑玲老師所開設的scratch與python師資培訓課程，同時，我也讓孩子看Coding for Fun 的線上課程自學scratch，透過淺顯易懂，循序漸進，且精心設計的課程，孩子從「被動學」程式，變成了「主動學」程式，且樂在其中，每個課程主題裡，老師所設計需要學生動動腦或動動手的部分，他都躍躍欲試......<br><br>

																孩子按照自己的理解和學習進度，自己上線看課，自己做coding練習，只有在遇到困難，或程式執行結果不如預期，且經過苦思不得其解時，才會向我求助，而我也就師資培訓時所學到的教學技巧，引導他如何敘述問題，如何修正思考邏輯，以及如何除錯（debug）。<br><br>

																Coding for Fun的課程還未上完，有一天，孩子突然跟我說：「媽媽，我終於知道為什麼妳寫程式，常常寫到不想休息了！」看著他眼裡閃耀著興奮的光芒，我會心一笑，回答他：「因為你也寫到停不下來了，對不對？」孩子用力且肯定的點了個頭，隨即轉身繼續忘我地寫他自己設計的遊戲專案……至此，我知道，孩子已經嘗到自學的成就感，且身上的自學模式按鈕，已經啟動！

															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove3">
								<div class="classprove_contect">
									<h2 class="h4">中央大學 學習與教學研究所學生</h2>
									<p>
										三年前曾聽老師介紹過Scratch，，當時不以為意，以為只是一個可愛的幼教遊戲軟體，並沒有再深入瞭解。這學期書報討論，老師們安排Scratch程式的自學課程，才開始接觸與研究Scratch，接觸之後才發現程式的概念是以...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">中央大學 學習與教學研究所學生</h2>
															<p>
																三年前曾聽老師介紹過Scratch，，當時不以為意，以為只是一個可愛的幼教遊戲軟體，並沒有再深入瞭解。這學期書報討論，老師們安排Scratch程式的自學課程，才開始接觸與研究Scratch，接觸之後才發現原來Scratch程式功能非常完整，程式的概念是以舞台與角色為主體，程式語法是編輯在舞台與角色中，這個方式是源自於視覺化視窗程式的表單與元件的概念。<br><br>

																因為我主修資訊管理系，所以自學Scratch程式的門檻不會太高，Scratch程式的運作邏輯與一般視覺化視窗程式相同。而最讓我驚艷的是非資訊科系背景的同學與學弟妹們的表現實在太棒了，同學大家的主修主要是英文、國文、數學、教育與社會科，應該都沒什麼機會學習寫程式，卻能做出這麼高水準的作品，在老師們的自學課程安排下，大家都能設計出豐富多元的程式專案，讓我好佩服。
																記得我大一時必修程式設計，因為上大學前完全沒有程式的概念，上課聽不懂老師的講解，只好下課後在家把教科書上的程式範例一個一個輸入程式編輯軟體來練習與觀察，花了兩個學期才把C語言與VB語言學好。這堂書報討論課，老師提供自學的教材，在專案的目標領導下，大家都能完成超高水準的作品，真的是很成功的學習與教學模式。<br><br>

																與學生我同組的三位碩班學妹，以前都沒有程式設計的經驗，在期中與期末的專案時，她們都很積極的嘗試設計遊戲，當我在做專案整合時去閱讀她們的程式邏輯，發現雖然她們因為還不熟悉元件概念的程式設計而有一些小Bug，例如把同一個造型在不同角色間混用，導致角色的程式邏輯不夠獨立性，但是也可以看出她們在解決問題時的創意與巧思，讓我也學到如何分析閱讀別人的程式設計邏輯，未來如果我擔任資訊電腦教師，也能給學生許多創意的發想。<br><br>

																有人說未來人工智慧的時代，最重要的能力是能用數理邏輯進行思考並描述問題，才能有效的運用人工智慧。這學期書報討論讓我學習到很多，也開始喜歡上Scratch程式設計軟體，有機會我會推薦給我的學生，讓他們也開始學習程式設計，培養數理邏輯思考的基本能力，能夠把抽象的問題轉換為「如果…就」、「如果…否則…」、「若…則重複…」、「當…就…」等結構化的描述。
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--第一列row end-->
					<div class="row">
						
						<div class="col-sm-4 provediv">
							<button type="button prove" class="btn-whitesmoke" data-toggle="modal" data-target="#teacherprove4">
								<div class="classprove_contect">
									<h2 class="h4">王老師</h2>
									<p>
										十多年前因健康問題提早"退休"離開教職，卻有更多的時間陪伴學習障礙的小兒子，過動的他在小五之前從來待不住教室、是個特殊兒，我那時開始學Flash幫他設計補救教學課程，以早年Fortran...
									</p>
								</div>
							 </button>
							 <!-- Modal -->
							<div class="modal fade" id="teacherprove4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&Chi;</span>
											</button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="layoutprove">
														<div class="classprove_contect">
														<h2 class="h4">王老師</h2>
															<p>
																十多年前因健康問題提早"退休"離開教職，卻有更多的時間陪伴學習障礙的小兒子，過動的他在小五之前從來待不住教室、是個特殊兒，我那時開始學Flash幫他設計補救教學課程，以早年Fortran古董程式語言的概念接軌到物件導向的JavaScript，用Flash作出互動式的數學遊戲出題機，這是我糊裡糊塗的"翻轉教室"初體驗，轉眼小兒子如今也入社會成了上班族。大兒子高中時，我則利用暑假幫他加強英文、並強迫推銷了Flash和js語法，雖說當時效果有限，但後來他自己有興趣在大學學了Java、考過了認證，研究所畢業後進入某上市公司成為軟體工程師，以上是我家親子間非正規的程式應用與交流史。<br><br>

																兩年前偶然在臉書看見(coding4fun/樂學科技) 蔡淑玲老師分享 "讓孩子快樂學程式" 的相關文章，許多理念與我心有戚戚焉，有種相見恨晚的感覺，她主張以孩子為中心設計翻轉教室的教學方式、建立他們自學能力、培養帶得走的技能 (ex.解決問題、邏輯、創意、語言閱讀等)，使不同學習速度 (快思或慢想) 的孩子都被照顧到！同時發現她也是為了幫助家中的孩子學習，才設計了這套線上教學系統 (Scratch &amp; Python初級課程)，這樣的初心也是父母心、讓我蠻容易體會。我花了很大的力氣與摸索才幫到我家孩子一小把，相信這套系統化、有專業背景開發的教材，一定可以幫助更多的孩子、進入高度智能化的未來世界 (AI、工業4.0)。因此，我以年過半百的"高齡"加入樂學的師資培訓，去年通過Scratch初級認證、今年則是Python的初級認證，成為該兩項課程的授權教學老師。<br><br>

																我非資訊科系背景畢業，離開校園與職場多年，但曾經為了解決孩子的需要與當下的問題，我會燃起熱情去自學、尋找解決方案(solution)，因此這樣的初心也可以再次讓我與這世界的知識接軌，正是印證了蔡淑玲老師的教育理念 – 從程式啟蒙教育中培養孩子自學、解決問題的能力，這種帶得走的能力可以令人終身受惠，尤其在資訊變化一日千里的今天，孩子未來需要不斷學習新的技術與理念，才能掌握幸福的工作與生活條件。<br><br>

																在Scratch與Python師資訓練的過程與實際教學的經驗中，我發現翻轉教室的課程設計內容，將龐大陌生的程式語言切成環環相扣的小章節，讓孩子在線上依照自己的速度邊學邊做、從克服小問題累積成就感與能力，加上作業與評量的輔助檢測與隨班老師的解惑通關，孩子們會不知不覺地被課程帶向有趣的樂學彼岸，這大概就是讓孩子快樂學程式的一種具體實現吧！最近我帶過一個Scratch暑期班、一個Python冬令營，目前在帶平日的Python春季班，希望Coding4fun的精神與效果，能從這個程式啟蒙園地裡的師生之間向外繼續蔓延！
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- 第二列 -->
				</div>
			  </div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}
{% block script %}
<script>
	videos = [
		"https://www.youtube.com/embed/ytIHIFdYBrQ?rel=0",
		"https://www.youtube.com/embed/oRVPtrOvFJ4?rel=0",
		"https://www.youtube.com/embed/93FIj3CQils?rel=0",
		"https://www.youtube.com/embed/CQFa5fQGVkY?rel=0",
	]
	function jump_video (index) {
		if (videos[index - 1] != undefined) {
			$("#video")[0].src = videos[index - 1];
			$(".pagination .active")[0].classList.remove("active");
			$("#pagination-" + index)[0].classList.add("active");
		}
	}
</script>
{% endblock %}