{% extends "base.html" %}
{% block title %} FAQ {% endblock %}
{% block css %}
	<link href="/html/stylecss/qa.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main class="faq bm-5">
		<div class="qa_banner_bg">
			<div class="qa_banne">
				<div class="qa_banne_left">
					<img src="/html/images/qa/QA_left.png" alt="FAQ常見問題">
				</div>
				<div class="qa_banne_right">
					<img src="/html/images/qa/QA_right.png" alt="FAQ常見問題">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row" style="clear: both">
				<div class="col-sm-2">
					<div class="qabg">
						<div role="tablist">
							<div class="side_menu">
								<a href="#student" aria-controls="profile" role="tab" data-toggle="tab">
									<div role="presentation">學生學習</div>
								</a>
								<a href="#parents" aria-controls="profile" role="tab" data-toggle="tab">
									<div role="presentation">家長育才</div>
								</a>
								<a href="#teacher" aria-controls="messages" role="tab" data-toggle="tab">
									<div role="presentation">師資培訓</div>
								</a>
								<a href="#class" aria-controls="settings" role="tab" data-toggle="tab">
									<div role="presentation">課程細節</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-10">
				  <div class="tab-content">
					<div role="tabpanel" class="tab-pane" id="student">
						<div class="panel-group" id="accordionstudent" role="tablist" aria-multiselectable="true">
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentOne">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student1" aria-expanded="true" aria-controls="student1">
												學程式很難嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="student1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentOne">
									<div class="panel-body">
										程式一點都不難，玩過積木嗎？<br><br>

										剛開始學習程式，可以從圖像式的程式語言 Scratch 開始。只要像玩積木一樣的嘗試、組合積木，就可以學程式囉！ <br><br>
										<center>
											<img src="/html/images/qa/faq1.png" style="width: 70%;" alt="">
										</center>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentTwo">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student2" aria-expanded="false" aria-controls="student2">
											  	我在學校學過 Scratch，一點都不好玩？
											</a>
									  	</h4>
									</div>
								</div>
								<div id="student2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentTwo">
								  	<div class="panel-body">
										真的嗎？那您一定要體驗學生滿意度 95% 的 <u><b>樂學程式學院</b></u> Scratch 基礎班課程，重新體會寫程式的樂趣！<br><br>

										您可以點選網頁右上方的人像，點選<b>「免費線上體驗」</b>。註冊後，點選<b>「課程列表」</b>，就可以找到 Scratch 基礎班的課程。使用課程前，請先看<b>「介紹」</b>影片，了解課程的正確使用方式，就能開始 <span style="color:#468BE6">快樂學程式 Coding for Fun！</span><br><br>
										<center>
											<img src="/html/images/qa/faq2.png" style="width: 50%" alt="">
										</center><br>
										您也可以在網頁上方的<b>「師資培訓」</b>選單中，點選<b>「授權老師」</b>，就近找到通過 <u><b>樂學程式學院</b></u> 認證的老師，讓他/她給您最棒、最正確的指導，帶領您進入程式設計的美妙世界！
								  	</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student3" aria-expanded="false" aria-controls="collapseThree">
												我在學校學過 C 語言，程式太難了，應該不適合我？
											</a>
										</h4>
									</div>
								</div>
								<div id="student3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										真的嗎？那您一定要體驗學生滿意度 90% 的 <u><b>樂學程式學院</b></u> Python 基礎班課程，顛覆您對程式語言的印象！

										Python 是一個容易學、容易應用的程式語言。在人工智慧、機器學習、大數據、科學等領域，Python 更是常用的程式工具。

										您可以點選網頁右上方的人像，點選<b>「免費線上體驗」</b>。註冊/登入後，點選<b>「課程列表」</b>，就可以找到 Python 基礎班的體驗課程。使用課程前，請先看<b>「介紹」</b>影片，了解課程的正確使用方式，就能開始 <span style="color:#468BE6">快樂學程式 Coding for Fun！</span><br><br>
										<center>
											<img src="/html/images/qa/faq3.png" style="width: 50%" alt="">
										</center><br>
										您也可以在網頁上方的<b>「師資培訓」</b>選單中，點選<b>「授權老師」</b>，就近找到通過 <u><b>樂學程式學院</b></u> 認證的老師，讓他/她給您最棒、最正確的指導，帶領您進入程式設計的美妙世界！
										<center>
											<img src="/html/images/qa/faq4.png" style="width: 50%" alt="">
										</center>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student4" aria-expanded="false" aria-controls="collapseThree">
												我的英文不夠好，打字也不太會，可以學程式嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="student4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										可以的，初學程式所使用的英文並沒有想像中的困難。<br><br>

										如果是學習 Scratch，可以完全使用中文做學習。<br><br>

										如果是學習 Python，初期所使用到的英文字彙也相當有限。<br><br>

										許多同學的經驗告訴我們，當您對程式有興趣時，您就會理解英文是自學力的基礎，英文能力會增加我們未來的競爭力。之後再將英文能力補起來就可以囉！
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student5" aria-expanded="false" aria-controls="collapseThree">
												我喜歡打電動，寫程式會比打電動好玩嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="student5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										打電動，是玩別人設計的遊戲。遊戲規則都是別人訂的。<br><br>

										寫程式不一樣，可以訂定遊戲規則，讓別人在我們的規則下進行遊戲。雖然寫程式需要更多思考，但我們的邏輯與解決問題的能力會變強，比玩遊戲更有成就感喔！
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student6" aria-expanded="false" aria-controls="collapseThree">
												我是女生，適合寫程式嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="student6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										我們公司創辦人是寫過 16 年程式的女生，<b><u>樂學程式學院</u></b> 也有寫程式很棒的女生。<br><br>

										女生也能成為偉大的電腦科學家，您知道嗎？像是世界公認第一位程式設計師 Ada Lovelace，還有第一個高階商用程式語言 COBOL 的設計者 Grace Hopper。<br><br>

										在設計遊戲的時候，女生對於情節的鋪陳與畫面的細膩度，有時比男生更好喔！ 
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#student7" aria-expanded="false" aria-controls="collapseThree">
												我的程式問題有錯誤，可以幫助我嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="student7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										2016 年 Coding for Fun (樂學科技前身)
										建置了兒童與青少年專屬的程式討論區，提供學生程式提問管道。<br><br>

										請先登入網站再發問（樂學網站提供免費註冊）。在網頁上方<b>「我要發問」</b>下點選討論區，就可以提出您的問題。<br><br>
										<center>
											<img src="/html/images/qa/faq5.png" style="width: 50%" alt="">
										</center><br>
										請您將問題描述清楚，並上傳 <b>螢幕截圖</b>、 <b>Scratch 程式 (.sb2)</b> 或是 <b>Python 程式（.py）</b>。當有人回答您的問題，您就會收到 email 通知喔！
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane active" id="parents">
						<div class="panel-group" id="accordionparents" role="tablist" aria-multiselectable="true">
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents1" aria-expanded="false" aria-controls="collapseThree">
												為什麼要學程式？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										若要以一句話來說明，<b><u>樂學程式學院</u></b> 認為是「<a href="https://www.wsj.com/articles/SB10001424053111903480904576512250915629460" target="_blank"><b>軟體正在吃掉全世界，而且吃掉了工作機會。</b></a>」<br><br>

										台灣的教育長期以來追求「標準答案」與「分數」，若能將軟體創新與創意的價值深植於教育中，鼓勵孩子「主動思考」與「發揮創造力」，才能在人工智慧與機器人以外，找到屬於自己的路。雖然孩子距離就業的年齡還有好多年，現在從教育和學習方法的改變，才有機會面對環境的挑戰。<br><br>

										詳情請見數位時代專欄蔡淑玲創辦人主筆：
										<a href="https://www.bnext.com.tw/article/46116/coding-programmer-scratch" target="_blank"><b>程式教育將納入課綱，會不會寫程式有這麼重要嗎？</b></a>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents2" aria-expanded="false" aria-controls="collapseThree">
												幾歲開始學程式比較好呢？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										孩童第一個學習的程式語言通常是「圖像式」的語言，像是 Scratch 或是以 blockly 寫成的程式語言。都是以拖曳積木的方式來組合程式指令。<br><br>

										一般年紀較小的孩子坐不住，家長以為遊戲式的學習可以幫助孩子，反而讓孩子對「程式的本質」產生錯誤認知，甚至陷入對電腦遊戲的狂熱。<br><br>

										「程式的本質」是什麼呢？程式是解決問題的工具。面對問題，能夠思考、並嘗試解決，最後以程式作為解決手段。<br><br>

										問題在於，稚齡的孩子有什麼問題想要主動解決？會定義問題嗎？<br><br>

										孩子缺乏定義問題的主動性，就只能跟著老師的步驟做，改改參數，並不理解程式內涵。<br><br>

										寫程式原本可以發展創意，但為了向家長交差，以填鴨的方式來教，反而適得其反。<br><br>

										如果是想訓練孩子邏輯，未必需要使用電腦。像閱讀、玩桌遊，都可以讓孩子願意「主動思考」。<br><br>

										樂學科技強烈建議家長更應重視孩子的「閱讀力」與「對英文的興趣」。這對孩子未來發展程式能力，增加理解力與續航力。<br><br>

										一般來說，小學四年級學生具備創造力與應用力，可以順利地學會像 Scratch 這樣的「圖像式」程式語言。一但開啟興趣與學習動機，孩子就可以銜接更具挑戰性的文字式程式技能，像是 Python 程式語言。<br><br>

										詳情請見數位時代專欄蔡創辦人主筆：<a href="https://www.bnext.com.tw/article/47279/code-education-scratch" target="_blank"><b>
										何時開始學程式？愈小學愈好嗎？</b></a>

									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents3" aria-expanded="false" aria-controls="collapseThree">
												學校也有教 Scratch，<b><u>樂學程式學院</u></b> 的 Scratch 課程有什麼不一樣？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										Scratch 是充滿創意與樂趣的程式工具。如果您的孩子在學校的 Scratch 課程得到「好簡單」、「好無聊」的印象，那這個課程一定有問題，原因來自於：<br><br>

										<ol>
											<li>
												學校普遍是「老師說，學生做」的教學模式，用教 word 和 powerpoint 的方式讓學生一步一步操作，較難引起學生的學習興趣，因為這中間沒有思考，沒有學生的創作因子。
											</li>
											<li>
												多數老師沒有寫過程式，加上學生人數眾多，教的班級也多。學生若有問題，就會造成老師身心疲憊。保守的教法，成為最省力的教法，難怪學生感受不到寫程式的樂趣。
											</li>
										</ol>

										<b><u>樂學程式學院</u></b> 的 Scratch 課程讓學生邊學邊動手。學生按照自己的學習步調，讓無邊際的想像力，化為一個個獨一無二、生動有趣的作品。真正開啟學生學習程式的動機。<br><br>

										加上精心設計的活動，鼓勵學生與同儕的觀摩、互動中，激發更多思考與創意，也可以隨時向老師提問，才在短期間內累積創作能量與使用工具的能力。
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents4" aria-expanded="false" aria-controls="collapseThree">
												在別的地方上過 Scratch 課程，能上樂學科技的 Scratch 應用班嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										我們的課程不僅開啟孩子學程式的興趣，在 10-12 堂的 Scratch 基礎班就讓孩子超越一般坊間的「初級＋進階」課程。<br><br>

										差別在哪裡呢？<br><br>

										<b><u>樂學程式學院</u></b> 藉由孩子創意的開展，讓孩子自己學會 90％ 的 Scratch 積木。孩子很快地滿手工具，面對問題，可以自己找到解決方案及應用。<br><br>

										而一般坊間的課程以專案做基礎教學，見樹不見林。如果之前教學方式「填鴨」，孩子更會養成被動習慣，老師教一步、才做一步。孩子不僅在過程中沒有思考，更缺乏自主創作的能力。<br><br>

										我們整理了一個九宮格，看看您的孩子能答對幾題？能正確回答 6 - 9 題就有能力參加我們的 Scratch 應用班。
										<center>
											<img src="/html/images/qa/scratch_9_block_test.png" style="width: 70%" alt="">
										</center>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents5" aria-expanded="false" aria-controls="collapseThree">
												要學過<b><u>樂學程式學院</u></b> Scratch的所有課程才有能力學 Python 嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										請您檢視兩個問題：<br><br>

										<ol>
											<li>學過程式語言嗎？如果學過，喜歡寫程式嗎？</li>
											<li>目前幾年級呢？</li>
										</ol>
										
										Python 基礎課程的對象是對程式設計有「高度興趣」的兒童，或是國中以上的學生。<br><br>

										Scratch 基礎課程建立學程式的動機，如果對學校的程式課程「沒有興趣」，或是「沒有任何程式學習經驗」，<b>強烈建議</b> 參加Scratch 基礎課程。 <br><br>

										如果學生是小學四、五年級，在 Scratch 基礎班的扎實基礎上，還可以磨練運算思維的實踐與養成。<b><u>樂學程式學院</u></b> 的 Scratch 應用班/動畫班/進階班 提供孩子更多的「創作體驗」與「實戰指導」。讓學生不受限地發揮「創作力」、「想像力」與「思考力」。<br><br>

										國中以上的學生甚至是社會人士，可以藉由 <b><u>樂學程式學院</u></b> 的 Python 基礎課程，打下扎實的程式基礎，建立自信心與自學力，甚至可以無縫接軌 <a href="http://www.udacity.com" target="_blank">Udacity</a> 的程式設計課程：<a href="https://www.udacity.com/course/programming-foundations-with-python--ud036" target="_blank">Programming Foundations with Python</a>。

									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents6" aria-expanded="false" aria-controls="collapseThree">
												學程式很貴吧？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										<b><u>樂學程式學院</u></b> 提供高品質且平價的實體課程，有老師的指導協助，與同儕觀摩交流加強學習動機，學生可以得到最好的指導與學習。<br><br>

										10~12 堂課達到坊間「初級」加「進階」的學習成效，還享有家教班的品質。<br><br>

										<b><u>樂學程式學院</u></b> 不僅開啟孩子學程式的動機，更養成孩子的「自學力」。網路上有許多免費學習資源可以利用，稱為「大規模開放式線上課程」（Massive Open Online Courses，簡稱 MOOCs）。當學生有了學習動機，加上「自學力」與「英文能力」，就可以享用這些免費教材，減輕家長的經濟負擔。
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#parents7" aria-expanded="false" aria-controls="collapseThree">
												學程式是為了成為程式設計師嗎？
											</a>
										</h4>
									</div>
								</div>
								<div id="parents7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										如同寫文章，目的並不是為了成為作家，而是為了表達。<br><br>

										學程式，目的也不是成為程式設計師，而是學習解決問題的思維（運算思維）。<br><br>

										<b><u>樂學程式學院</u></b> 讓孩子在創作中嘗試、思考、解決問題，並學習表達自己，練習與他人合作。在學習程式過程中培養的運算思維，可以應用在生活與學習的各個層面。<br><br>

										未來 90% 的工作需要數位素養（digital literacy），有許多工作將被取代，也會產生新型態的工作，有解決問題的能力才能因應就業市場的改變。<br><br>

										<center>
											<img src="/html/images/qa/faq6.png" target="_blank" style="width: 70%">
										</center><br>
										了解程式基本運作，就有機會將程式與自己的專業知識相結合，成為跨領域的產品經理人。
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="teacher">
						<div class="panel-group" id="accordionteacher" role="tablist" aria-multiselectable="true">
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#teacher1" aria-expanded="false" aria-controls="collapseThree">
												樂學程式學院如何規劃程式課程？
											</a>
										</h4>
									</div>
								</div>
								<div id="teacher1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										樂學科技以推廣兒童程式設計為公司宗旨，「<b><u>樂學程式學院</u></b>」則是樂學科技所提供的程式設計教材，目的在培育程式設計人才。<br><br>

										我們的課程以「翻轉教室」、「養成自學力」為主軸，讓孩子以自己理解的速度前進，以達到充分的學習與成長。<br><br>

										課程藍圖如下：<br><br>

										<center><img src="/html/images/qa/faq7.png" target="_blank" style="width:70%"></center>
										<br>

										「<b><u>樂學程式學院</u></b>」最大的競爭力在於學生於Python 基礎班後，就可以無縫接軌 <a href="http://www.udacity.com" target="_blank">Udacity</a> 所提供的英文程式線上課程。孩子的學習與世界接軌，實實在在培養「自學力」！<br><br>

										學習英文程式線上課程，英文不夠好不是問題，讓孩子對程式的喜愛，帶動英文的學習。Coding for Fun!
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#teacher2" aria-expanded="false" aria-controls="collapseThree">
												如何成為樂學程式學院的授權老師？
											</a>
										</h4>
									</div>
								</div>
								<div id="teacher2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										在網頁上方的<b>「師資培訓」</b>，選擇<b>「說明會報名」</b>選項。點選<b>「我要報名」</b>即可觀看線上說明會，了解如何成為樂學的合作夥伴。<br><br>

										<center><img src="/html/images/qa/faq8.png" target="_blank" style="width:50%"></center>
										<br>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#teacher3" aria-expanded="false" aria-controls="collapseThree">
												樂學程式學院如何協助授權老師？
											</a>
										</h4>
									</div>
								</div>
								<div id="teacher3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										<u>樂學科技</u>是教材授權公司，不做師資派遣。將教學利潤直接給予授權老師。<br><br>

										<b><u>樂學程式學院</u></b>提供老師「培訓」與「認證」，培育老師實作能力，並教授教學技術。<br><br>

										我們在官網上提供授權老師刊登<b>「聯絡資訊」</b>與<b>「開課訊息」</b>，讓尋找老師的補習班或家長可以自行與老師們接洽。此外，透過 Facebook 社群，<u>樂學</u>會轉貼補習班或家長「找老師」的需求，有興趣的老師可以自行接洽。
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="class">
						<div class="panel-group" id="accordionclass" role="tablist" aria-multiselectable="true">
							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class1" aria-expanded="false" aria-controls="collapseThree">
												什麼是Scratch？
											</a>
										</h4>
									</div>
								</div>
								<div id="class1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										Scratch 是美國麻省理工學院媒體實驗室 (MIT Media Lab) 發展的「程式積木」。像玩積木一樣，只要將「程式積木」做堆疊與組合，就能創造出動畫、遊戲、或數學/科學應用。<br><br>

										簡單的說，Scratch是一套設計舞台劇的工具。<br><br>

										<center>
											<img src="/html/images/qa/faq1.png" style="width: 70%;" alt="">
										</center><br>

										舞台劇不一定是故事，也許是遊戲，也可以做數學、科學的模擬！但一定要有想法，也就是「劇本」。<br><br>

										有了「劇本」，就要決定「角色」與「場景」。<br><br>

										<center>
											<img src="/html/images/qa/faq9.png" style="width: 50%" alt="">
										</center><br>

										每個「角色」都有腳本：何時出現？從哪個角落走進舞台？會有什麼行為？都可以運用「程式積木」來設計。<br><br>

										除了人物主角，「角色」可能是遊戲中飛出來的砲彈、一個會「計時」的小時鐘，甚至是背景中一朵緩緩飄過的雲，都需要透過應用「程式積木」來呈現。<br><br>

										「場景」的設計對舞台劇也相當重要。為了營造故事情境，變換場景可以讓觀眾更沈浸其中。<br><br>

										舞台劇還有「口白」和「配樂」，Scratch 做得到嗎？當然！<br><br>

										Scratch 可以顯示台詞、錄製音效、或輸入音樂。聲色俱全。<br><br>

										從創作出發，表達個人想法與創意， <span style="color:#468BE6">快樂學程式 Coding for Fun！</span>

									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class2" aria-expanded="false" aria-controls="collapseThree">
												什麼是Python？
											</a>
										</h4>
									</div>
								</div>
								<div id="class2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										Python 非常適合做為程式入門，它少了繁瑣的細節，讓程式設計者能專注於思考問題，進而解決問題｡ 對已學過Scratch 的孩子而言，要銜接 Python 也相對地容易｡ <br><br>

										Python 除了常應用在網站設計與科學計算外，人工智慧、機器學習、大數據等領域也都大量使用Python。 <br><br>

										根據學術刊物「<a href="https://cacm.acm.org/news/176567-python-bumps-off-java-as-top-learning-language/fulltext" target="_blank">Communications of ACM</a>」 2014 年 7 月的調查顯示，Python 超越 Java，成為美國大學課程中入門程式語言的主流：<br>

										<ul>
											<li>相較於 Java 和 C++，Python 語法簡單多了，學習者幾乎可以立刻上手，而且 Python 也適用於商業應用。</li>
											<li>10 所美國頂尖的電腦科學系，有 8 所採用 Python 作為入門語言。</li>
											<li>39 所頂尖大學中也有 27 所，使用 Python 作為入門語言。</li>
											<li>3 個熱門的線上課程提供者：Coursera、edX 和 Udacity，都提供 Python 課程。</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class3" aria-expanded="false" aria-controls="collapseThree">
												什麼是Udacity？
											</a>
										</h4>
									</div>
								</div>
								<div id="class3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										<a href="http://www.udacity.com" target="_blank">Udacity</a> 是美國著名的線上課程網站，內容以電腦科學為主，提供部分免費課程。<br><br>

										Udacity 強調實作，不僅自製軟體業界所需的技術課程，也與知名公司合作課程，像是 Google、Facebook、Amazon等等，也與大學系所合作課程，像是美國大學 San Jose State University 與 Georgia Tech 電腦碩士課程合作。<br><br>

										Udacity 的課程主要是為轉職程式設計的大學畢業生所設計，強調實作能力，課程內容也與時俱進，符合當今資訊科學的趨勢。參加課程的學生必須擁有自學力才能順利度過一個個的挑戰。<br><br>

										樂學程式學院的「程式工作坊」陪伴學生度過程式難關與英文障礙，並培育學生的自學力。<br><br>

										<center>
											<img src="/html/images/qa/faq10.png" style="width: 70%" alt="">
										</center>
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class4" aria-expanded="false" aria-controls="collapseThree">
												什麼是「翻轉教室」？
											</a>
										</h4>
									</div>
								</div>
								<div id="class4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										<u><b>樂學程式學院</b></u>的翻轉教室：<br>
										依據孩子思考的脈絡與學習心理，設計了程式基礎課程的教學課程。這些程式基礎課程建立學生對程式設計的觀念與根本原理，已有顯著的教學成效。<br><br>

										老師引導學生每看完一段教學影片，隨即動手嘗試與體驗。若有看不懂的部分，孩子可以將影片暫停、或是從頭播放。老師的角色，並不是催趕孩子的進度，而是隨時救援，為需要的孩子做講解或排除狀況。每一位孩子都能以自己理解的速度前進，即使分心了，也能很快地回到課程中。<br><br>

										<center>
											<img src="/html/images/qa/faq11.png" style="width: 50%" alt="">
										</center><br>

										經過長期的教學觀察：理解力強、積極進取的孩子，完全不需要等待老師下指令就能順暢地完成課程學習。一般孩子則可以在無壓力下，從容、自信地完成課程。
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class5" aria-expanded="false" aria-controls="collapseThree">
												什麼是「自學力」？
											</a>
										</h4>
									</div>
								</div>
								<div id="class5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										自學力包括：
										<ol>
											<li>嘗試的能力</li>
											<li>思考、思辨的能力</li>
											<li>找尋答案、解決問題的能力</li>
											<li>閱讀能力，包括英文能力</li>
										</ol>

										樂學程式學院啟發學生的學習動機，發展自信心，培育孩子自學力。<br><br>

										您若有機會來到樂學程式學院教室參觀，就會發現我們的學生好特別，不分年紀，每個人都認真地嘗試與思考，沈浸在課程中。<br><br>

										即使沒有任何程式經驗，學生都能很快地進入自學模式。對程式有興趣的學生在 Python 基礎課程之後，就能無縫接軌 <a href="http://www.udacity.com" target="_blank">Udacity</a> 的程式設計課程：<a href="https://www.udacity.com/course/programming-foundations-with-python--ud036" target="_blank">Programming Foundations with Python</a>。<br><br>

										樂學程式學院培育學生的自學力，讓孩子擺脫「被動」心態，轉為「主動」探索與思考。我們不以標準答案限制孩子的思維，開啟孩子的創意與天賦。<br><br>

										自學力的養成不僅適用於程式學習，也能應用於各領域的學習。
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class6" aria-expanded="false" aria-controls="collapseThree">
												網站上有免費的線上課程，可以自學嗎？實體課有什麼不一樣？
											</a>
										</h4>
									</div>
								</div>
								<div id="class6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										為了讓城市與偏鄉的孩子都有機會學習程式設計課程，樂學科技的前身Kids Coding Studio 在2015年起就免費提供適合小學四年級以上到成人可自學的程式設計課程（課程網址：http://coding4fun.tw/scratch）。<br><br>

										這套課程以創意為出發點，讓孩子輕鬆快樂地學習程式。學習之前務必詳看「介紹」影片，以正確的方法來進行，邊學邊動手練習，並確實完成作業。學生仍可能因為主動性不足/自學力不足而無法完成課程，家長可以適時陪伴孩子，或者選擇樂學科技所提供的實體課程。<br><br>

										<center>
											<img src="/html/images/qa/faq11.png" style="width: 70%" alt="">
										</center><br>

										使用翻轉教室加上精心設計的活動，媲美家教班教學品質。不僅讓孩子按照自己的學習步調，還」可以隨時向老師提問。學生在與同儕的交流、互動中，激發更多思考與創意。<br><br>

										樂學程式學院的實體課程提供課本，讓孩子在學習上更扎實。
									</div>
								</div>
							</div>

							<div class="panel">
								<div class="panel-heading panel-default" role="tab" id="studentThree">
									<div class="content_title">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordionstudent" href="#class7" aria-expanded="false" aria-controls="collapseThree">
												坊間的課程搭配「硬體」像是 Arduino，micro:bit，機器人等，跟樂學的程式課程有什麼不一樣？
											</a>
										</h4>
									</div>
								</div>
								<div id="class7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="studentThree">
									<div class="panel-body">
										最大的不同是：樂學程式學院專注在「程式課程」。孩子的想像力與創造力本無侷限，我們希望透過學習程式，開發孩子的「創意潛能」。<br><br>

										透過「硬體」學習，雖能短期引起孩子的注意，但受限於「硬體」功能（像是只能點LED燈），即使變換不同的「硬體」，程式能力非常有限。<br><br>

										尤其是多數結合硬體的課程，較為複雜的程式已被廠商包裝起來，像是感測器的使用。孩子撰寫的程式其實相當簡單。<br><br>

										機器人課程則著重於「結構」，常因為結構變化需要調整「程式積木」裡的參數。調整參數的方式是「嘗試錯誤（trial and error）」，並非邏輯思考與計算，並無法加深孩子程式能力，但卻非常花時間。<br><br>

										此外，機器人課程偏重在「硬體與機構的組裝與設計」。若以學習「程式」為目標，所培養的程式能力則相當不足。<br><br>

										<b>「軟體吃掉全世界」</b><br><br>

										從無到有、沒有庫存、發揮腦力，是軟體工作的特色，程式的應用也跨及各行各業。樂學程式學院不僅提升孩子的程式能力，更養成孩子自學力。在資訊爆炸的時代，孩子才能不畏挑戰與變化，勇往直前。<br><br>
									</div>
								</div>
							</div>


							<!-- <center>
								<img src="/html/images/qa/" style="width: %" alt="">
							</center> -->
						</div>
					</div>
				</div>
			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}
{% block script %}
<script src="/html/js/faq.js"></script>
{% endblock %}