{% extends "base.html" %}
{% block title %}為什麼要推廣兒童程式設計{% endblock %}
{% block css %}
<link rel="stylesheet" href="/html/css/about.css">
{% endblock %}
{% block content %}
<br><br>
<center>
	<div class="container-card">
		<div class="card-title">
			為什麼要推廣兒童程式設計
		</div>
		<br>
		<div class="card-content">
			這幾年許多政府認知到兒童程式教育是國家未來的競爭力，<br>
			所以政府或民間紛紛投入大量資源來推動，<br>
			包括美國、英國、芬蘭、愛沙尼亞，以及鄰近的香港、新加坡與韓國。<br>
			例如英國從 2014 年開始，提供 5 歲以上孩童各種不同階段的程式教育。<br>
			台灣也將從 107 年將程式教育納入國高中課綱。<br>
		</div>
	</div>
	<br><br>

	<div class="container-card">
		<div class="card-title">
			小孩學程式的四個理由
		</div>
		<br>
		<div class="card-content">
			<ol>
				<li>寫程式對 3C 世代是一種素養，一種思考方式。</li>
				<li>寫程式並不難，從小快樂的學習更能發展創造力。</li>
				<li>寫程式可以創造並改變我們的生活方式。</li>
				<li>寫程式為孩子創造未來的就業機會。</li>
			</ol>

			軟體鉅子告訴你學程式並不難，每個人都該學程式 :  (可切換為中文字幕)<br><br>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<br><br>

	<div class="container-card">
		<div class="card-title">為什麼做免費的程式設計教材 ? </div>
		<br>
		<div class="card-content">
			許多人問我，為什麼要做程式設計教材，還是免費的 ?<br>
			軟體革命一步步影響我們的生活形態，不僅是下一代，甚至就發生在我們這一代。<br>
			我不希望我們的孩子未來失業或是出走海外。<br>
			至少，透過程式設計的學習，增加孩子的機會與可能性。<br><br>

			Kids Coding Studio 推廣程式教育的策略為 : <br><br>
			<ol class="ident">
				<li>
					普及教育 : 推廣 Coding for Fun 教材，無論城市或偏鄉的孩子，不因資源的匱乏，都有機會學習「程式設計」。
				</li>
				<li>精英教育 : 陪伴對程式設計有興趣的孩子，一路向上學習。</li>
			</ol>
			
			<div class="second-title">
				為什麼不自己教 Scratch ?
			</div>
			<br>
			其實我多年前就自行退休。2012 年重出江湖，一方面是為了陪自己的小孩，一方面是為了賺前往印度「修行」的盤纏。<br><br>

			2013 年追隨 大成就明師 妙禪師父 禪行，找到生命的導師，不需再為出國的盤纏煩心了。<br><br>

			雖然我並不富有，但是我願意將所學與經驗貢獻給這個社會。<br><br>

			況且，一個人的時間與精力有限，永遠滿足不了家長的需求，還是得靠更多老師的參與。<br>
			如果能讓大多數家長了解程式設計的重要，就算成功。<br>
			不論有錢沒錢上補習班，至少有個還不錯的免費課程可以自學。<br>
		</div>
	</div>
	<br><br>

	<div class="container-card">
		<div class="card-title">看見未來新趨勢 : 軟體吃掉全世界，而且吃掉工作機會</div>
		<br>
		2011年8月華爾街日報這篇報導「為什麼軟體吃掉全世界」宣告了世界新趨勢 : <br><br>
		<div class="ident quote">
			“幾乎每一個產業的龍頭公司，要努力轉型為軟體公司，或者，等著被新興的軟體公司吃掉。”
		</div>
		<br><br>
		文章中指出軟體正在改變我們的世界，從產業結構、製造過程、消費習慣，到品牌經營，<br>
		愈來愈多大企業藉由軟體的運作，提供網路與智慧服務，來提升他們的價值。<br>
		而軟體能力將遠遠超越硬體價值，成為商品獲利與成功的關鍵。<br>
		企業不投資軟體，就等著被新興的軟體公司吃掉。<br><br>

		書籍市場、影音市場、遊戲娛樂市場、攝影產業、廣告與通路產業、電信產業、醫療產業、人力仲介產業、汽車產業、實體通路、石油業、農業、金融業、國防工業等等產業都因為軟體的發展而產生劇烈的變化。<br><br>
		<div class="quote ident">
			“任何產業、任何公司，都得假設自己正面臨軟體革命！包括那些本來就在做軟體的公司。”
		</div>
		<br><br>
		<a href="http://www.wsj.com/articles/SB10001424053111903480904576512250915629460">
			<img src="https://1.bp.blogspot.com/-Y_ANek5hzsE/V6xH2OdUIGI/AAAAAAAAE_w/ce7BHtU7_6wagJtewjb6ILRXqOIImfuZwCLcB/s640/%25E8%259E%25A2%25E5%25B9%2595%25E5%25BF%25AB%25E7%2585%25A7%2B2016-08-11%2B%25E4%25B8%258B%25E5%258D%25885.37.21.png">
		</a><br><br>

		台灣全球化教育推廣協會（GEAT）理事長陳超明教授表示，未來白領階級恐會遭機器人取代，<br>
		最快5到10年間，白領階級的工作，會因科技的衝擊轉為自動化，最後進而取代，<br>
		而這些行業包括電話行銷、會計稽核、零售業銷售、房屋仲介經紀等，<br>
		預估在2033年消失的比例會超過80％之多。<br>
	</div>
	<br><br>

	<div class="container-card">
		<div class="card-title">
			台灣危機 : 追逐更低成本、工廠外移
		</div>
		<br>
		<div class="card-content">
			新台幣正流入Facebook、淘寶、Apple、Line、Google、Dropbox、Evernote 等國外軟體公司的帳戶。<br>
			Google 這家軟體公司在 2001 年至 2014 年營收成長了 7 百多倍。<br>
			在台灣，資訊產業多以代工製造為主。<br>
			因為追逐製造成本的降低，不斷地將工廠向外移動，而造成了台灣製造人力的失業。<br><br>

			未來，連製造人力都將被機器人所取代，台灣真的有所準備嗎 ? <br>我們的孩子如何面對下一波的工業革命 ? <br>
		</div>
	</div>
	<br><br>

	<div class="container-card">
		<div class="card-title">
			軟體工程師的機會
		</div>
		<br>
		<div class="card-content">
			2014年，U.S News 報導「軟體開發者」躍升為全美最好的職業。<br>
			美國勞動部預期 2022 年新加入職場的軟體工程師年薪將會高達 144,000 美元。<br>
			排名第二的是從事數據分析的電腦系統分析師，平均年薪 83,800 美元，最高薪者 122,090 美元。<br>
			美國勞動部預期 2022 年電腦系統分析師薪水將成長 24.5%。這些工作待遇將高過牙醫。<br>
			<div class="second-title">
				美國的工作機會和我們有什麼關係 ? 
			</div>

			《世界是平的》一書中提到 : <br><br>
			<div class="quote ident">
				“只要有寬頻﹐只要有雄心﹐不管你在哪裡﹐都不會被邊緣化，因為競爭的立足點變平等了，小蝦米和大鯨魚可以平起平坐了。”
				<br><br>
				“拜科技之賜，即使在家裡開一個工作室，一個人也可以和大企業搶生意；同樣的，大企業也可以比小公司更靈活﹐更細膩。”
			</div><br>
			全球化是危機，也是轉機！孩子的英文能力非常重要，有了好的英文能力，就可以站到全世界的舞台來接案子。<br>
		</div>
	</div>
	<br><br>

	<div class="container-card">
		<div class="card-title">我們的行動</div>
		<br>
		<div class="card-content">
			Kids Coding Studio 將以每單位 300 元的方式，
			將兒童程式教材送到偏鄉，讓偏鄉的學習不落後。<br><br>

			Kids Coding Studio 以自籌經費的方式培養在地師資。<br>
			老師未來授課不需授權，可直接使用 Coding for Fun 的課程，台灣地區老師可以免費索取單機版教材。<br>
		</div>
	</div>
	<br><br>
</center>
{% endblock %}