{% extends "base.html" %}
{% block title %}Coding for Fun / 最新消息{% endblock %}
{% block css %}
	<!-- <link href="/html/stylecss/class.css" rel="stylesheet" type="text/css"> -->
	<style>
		.mynav-sidebar {
			color: white;
			width: 100%;
			background: rgb(6, 48, 68);
			left: 0;
			top: 130px;
		}

		.mynav-sidebar .item {
			padding: 10px 15px;
			cursor: pointer;
			background: transparent;
		}

		.mynav-sidebar .item:hover {
			background: rgb(40, 79, 88);
		}

		.item.active {
			color: rgb(255,131,0);
		}

		.h4 {
			color: darkslategray;
			font-weight: bolder;
		}

		.orange {
			color: rgb(255,131,0);
			font-weight: bold;
		}

		.card {
			background: whitesmoke;
			width: 100%;
			padding: 25px;
		}

		.card div {
			text-align: left;
		}

		#cards h2 {
			padding-left: 0px;
		}
	</style>
{% endblock %}
{% block content %}
<br>
<main>
	<div class="container-fluid">
		<div class="col-md-2 col-sm-1 col-xs-12"></div>
		<div class="col-md-4 col-sm-10 col-xs-12" style="padding: 25px;padding-bottom: 10px">
			<div id="post-title-bar" class="mynav-sidebar"></div>
		</div>
		<div id="cards" class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12" style="padding: 25px;padding-top: 10px"></div>
	</div>
</main>
<br>
{% endblock %}
{% block script %}
<script>
	posts = {}
	title_bar_item_format = `<div class="item" onclick="show_post(this, {1})"> {0}</div>`
	news_format = `<button class="card">
		<div class="classprove_contect">
			<div>{0}</div>
			<p class="orange" style="float: right">{1}</p>
		</div>
	</button>`

	no_news = `
	<br />
	<br />
	<center>
		<div class="well well-lg" style="width:90%">
			沒有任何的發佈
		</div>
	</center>`

	function show_post (e, post_id) {
		active_item = $(".item.active")
		if (active_item.length > 0) {
			active_item[0].classList.remove("active")
		}

		console.log(e)
		e.classList.add("active")
		$("#cards")[0].innerHTML = format(
			news_format,
			posts[post_id]["content"],
			posts[post_id]["create_at"],
			)
	}

	$(document).ready(function () {
		$.ajax({
			url: host +  "post/",
			type: "GET",
			success: function (msg) {
				html = ""
				$.each(msg["posts"], function (_, post) {
					posts[post["id"]] = post
					html += format(
						title_bar_item_format,
						post["title"],
						post["id"],
						)
				})

				$("#post-title-bar")[0].innerHTML = html
				$(".item")[0].onclick()
			}
		})
	})
</script>
{% endblock %}