{% extends "base.html" %}
{% block title %}樂學團隊{% endblock %}
{% block css %}
	<link href="/html/stylecss/about.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
		<main class="ourteam">
		<div class="ourteam_width_gray">
			<div class="container bg bg1">
				<div class="row" style="background-color: #DAD8D6;">
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-4 col-sm-4">
						<figcaption>
							<div class="image_member1">
								<img src="/html/images/about/member1.png" alt="">
							</div>
						</figcaption>
					</div>
					<div class="col-xxsm-12 col-xs-8 col-sm-8 bgword">
						<div class="row">
							<div class="col-xxsm-12 col-xsm-9 col-xs-9">
								<div class="outteam_Introduction">
									<h1>蔡淑玲</h1>
									<h2>SHALLEY TSAY</h2>
									<h3>Principal 創辦人</h3>
								</div>
							</div>
						</div>
						<!-- <hr> -->
						<div class="outteam_Introduction">
							<p>
								德州大學奧斯汀分校電機與資訊工程研究所碩士。以超過15年資訊業界程式設計的經驗，自2012年投入兒童程式教材的研發。積極為台灣社會投入程式設計的教育資源，以翻轉教育的方式教授 Scratch 和 Python 基礎課程，並推出公益線上免費課程；<a href="http://www.books.com.tw/products/0010722171" target="_blank">相關著作。</a><br/>
								 email: <a href="mailto: shalley.tsay@gmail.com ">shalley.tsay@gmail.com </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ourteam_width_lightgray">
			<div class="container bg bg2">
				<div class="row">
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3 top_member2">
						<figcaption>
							<div class="image_member2">
								<img src="/html/images/about/member2.png" alt="">
							</div>
						</figcaption>
					</div>
					<div class="col-xxsm-12 col-xs-8 col-sm-8 bgword">
						<div class="row">
							<div class="col-xxsm-12 col-xsm-9 col-xs-9">
								<div class="outteam_Introduction">
									<h1>黃鐘瑩</h1>
									<h2>JOANNIE HUANG</h2>
									<h3>專案經理兼程式老師</h3>
								</div>
							</div>
						</div>
						<!-- <hr> -->
						<div class="outteam_Introduction">
							<p>
								擁有資訊科學背景，曾於國內外新創公司擔任專案管理職，擅長用程式思維做組織內溝通。喜歡參與國內外技術社群，目前也協助 Girls In Tech Taiwan 與Women Who Code Taipei 國際組織做程式教育推廣。也擔任宜蘭礁溪國中電腦資訊代課老師。<br/>
								email: <a href="mailto: joanie0610@gmail.com ">joanie0610@gmail.com</a>
							</p>
						</div>
					</div>
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3 col-sm-4 down_member2">
						<figcaption>
							<div class="image_member2">
								<img src="/html/images/about/member2.png" alt="">
							</div>
						</figcaption>
					</div>
				</div>
			</div>
		</div>
		<div class="ourteam_width_gray">
			<div class="container bg bg1">
				<div class="row" style="background-color: #DAD8D6;">
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-4 col-sm-4">
						<figcaption>
							<div class="image_member3">
								<img src="/html/images/about/member3.png" alt="">
							</div>
						</figcaption>
					</div>
					<div class="col-xxsm-12 col-xs-8 col-sm-8 bgword">
						<div class="row">
							<div class="col-xxsm-12 col-xsm-9 col-xs-9">
								<div class="outteam_Introduction">
									<h1>潘啟元</h1>
									<h2>MICHAEL PAN</h2>
									<h3>全端工程師</h3>
								</div>
							</div>
						</div>
						<!-- <hr> -->
						<div class="outteam_Introduction">
							<p>
								從升國中的暑假開始學習程式，目前是高三自學生，使用 Python、Javascript、Swift 等程式語言進行創作。所有的作品集結在 <a href="https://github.com/panmpan17" target="_blank">https://github.com/panmpan17</a></a><br/>
								 email: <a href="mailto: panmpan@gmail.com ">panmpan@gmail.com </a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ourteam_width_lightgray">
			<div class="container bg bg2">
				<div class="row">
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3 col-sm-4 top_member2">
						<figcaption>
							<div class="image_member4">
								<img src="/html/images/about/member4.png" alt="">
							</div>
						</figcaption>
					</div>
					<div class="col-xxsm-12 col-xs-8 col-sm-8 bgword">
						<div class="row">
							<div class="col-xxsm-12 col-xsm-9 col-xs-9">
								<div class="outteam_Introduction">
									<h1>潘文偉</h1>
									<h2>ARTHUR PAN</h2>
									<h3>Technical Director 技術總監</h3>
								</div>
							</div>
						</div>
						<div class="outteam_Introduction">
							<p>
								台灣大學資訊工程系、德州大學奧斯汀分校電腦碩士、交通大學資訊科學博士。現職上市公司資深研發處長，累積二十餘年帶領軟硬體研發團隊開發儲存、多媒體、Web-enable服務等產品研發。<br/>
								email: <a href="mailto: arthurpan6701@gmail.com ">arthurpan6701@gmail.com</a>
							</p>
						</div>
					</div>
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-4 down_member2">
						<figcaption>
							<div class="image_member4">
								<img src="/html/images/about/member4.png" alt="">
							</div>
						</figcaption>
					</div>
				</div>
			</div>
		</div>
		<div class="ourteam_width_gray">
			<div class="container bg bg1">
				<div class="row" style="background-color: #DAD8D6;">
					<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-4 col-sm-4">
						<figcaption>
							<div class="image_member5">
								<img src="/html/images/about/member5.png" alt="">
							</div>
						</figcaption>
					</div>
					<div class="col-xxsm-12 col-xs-8 col-sm-8 bgword">
						<div class="row">
							<div class="col-xxsm-12 col-xsm-9 col-xs-9">
								<div class="outteam_Introduction">
									<h1>Unic</h1>
									<!-- <h2>SHALLEY TSAY</h2> -->
									<h3>代言人/小老師</h3>
								</div>
							</div>
						</div>
						<!-- <hr> -->
						<div class="outteam_Introduction">
							<p>
								我覺得學習程式是一件非常快樂的事，因為我可以用電腦語言編寫創作，用程式設計實現心中的想像。喜歡探索未知的新事物，好奇心讓我試圖找出方法解決問題，但我從不怕犯錯更不怕失敗，一次一次增強我的程式能力。</a><br/>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}