{% extends "base.html" %}
{% block title %}Coding for Fun{% endblock %}
{% block css %}
	<link href="/html/stylecss/about.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main class="ourteam">
		<div class="container bg bg1">
			<div class="row">
				<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3">
					<figcaption>
						<img src="/html/images/about/member1.png" alt="">
					</figcaption>
				</div>
				<div class="col-xxsm-12 col-xs-9 bgword">
					<div class="row">
						<div class="col-xxsm-12 col-xsm-9 col-xs-9">
							<div class="outteam_Introduction">
								<h1 class="h3">蔡淑玲  SHALLEY TSAY</h1>
							</div>
						</div>
						<div class="col-xxsm-12 col-xsm-3 col-xs-3 strongtop">
							<div class="outteam_Introduction">
								<strong>Principal 創辦人</strong>
							</div>
						</div>
					</div>
					<hr>
					<div class="outteam_Introduction">
						<p>
							德州大學奧斯汀分校電機與資訊工程研究所碩士。以超過15年資訊業界程式設計的經驗，自2012年投入兒童程式教材的研發。積極為台灣社會投入程式設計的教育資源，以翻轉教育的方式教授 Scratch 和 Python 初級課程，並推出公益線上免費課程;<a href="#">相關著作。</a><br/>
							 email: <a href="mailto: shalley.tsay@gmail.com ">shalley.tsay@gmail.com </a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container bg bg2">
			<div class="row">
				<div class="col-xxsm-12 col-xs-9 bgword">
					<div class="row">
						<div class="col-xsm-9 col-xs-9">
							<div class="outteam_Introduction">
								<h1 class="h3">黃鐘瑩 JOANNIE HUANG</h1>
							</div>
						</div>
						<div class="col-xxsm-12 col-xsm-3 col-xs-3 strongtop">
							<div class="outteam_Introduction">
								<strong>專案經理兼程式老師</strong>
							</div>
						</div>
					</div>
					<hr>
					<div class="outteam_Introduction">
						<strong>專案經理兼程式老師</strong>
						<p>
							擁有資訊科學背景，曾於國內外新創公司擔任專案管理職，擅長用程式思維做組織內溝通。喜歡參與國內外技術社群，目前也協助 Girls In Tech Taiwan 與Women Who Code Taipei 國際組織做程式教育推廣。也擔任宜蘭礁溪國中電腦資訊代課老師。<br/>
							email: <a href="mailto: joanie0610@gmail.com ">joanie0610@gmail.com</a>
						</p>
					</div>
				</div>
				<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3">
					<figcaption>
						<img src="/html/images/about/member2.png" alt="">
					</figcaption>
				</div>
			</div>
		</div>
		<div class="container bg bg3">
			<div class="row">
				<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3">
					<figcaption>
						<img src="/html/images/about/member3.png" alt="">
					</figcaption>
				</div>
				<div class="col-xxsm-12 col-xs-9 bgword">
					<div class="row">
						<div class="col-xsm-9 col-xs-9">
							<div class="outteam_Introduction">
								<h1 class="h3">潘啟元 MICHAEL PAN</h1>
							</div>
						</div>
						<div class="col-xxsm-12 col-xsm-3 col-xs-3 strongtop">
							<div class="outteam_Introduction">
								<strong>全端工程師</strong>
							</div>
						</div>
					</div>
					<hr>
					<div class="outteam_Introduction">
						<p>
							從升國中的暑假開始學習程式，目前是高三自學生，使用 Python、Javascript、Swift 等程式語言進行創作。所有的作品集結在<a href="https://github.com/panmpan17">https://github.com/panmpan17</a><br/>
							email: <a href="mailto: panmpan@gmail.com ">panmpan@gmail.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container bg bg4">
			<div class="row">
				<div class="col-xxsm-12 col-xs-9 bgword">
					<div class="row">
						<div class="col-xsm-9 col-xs-8">
							<div class="outteam_Introduction">
								<h1 class="h3">潘文偉 ARTHUR PAN</h1>
							</div>
						</div>
						<div class="col-xxsm-12 col-xsm-3 col-xs-4 strongtop">
							<div class="outteam_Introduction">
								<strong>Technical Director 技術總監</strong>
							</div>
						</div>
					</div>
					<hr>
					<div class="outteam_Introduction">
						<p>
							交通大學資訊科學博士。20年以上資訊業界程式設計的經驗。<br/>
							email: <a href="mailto: arthurpan6701@gmail.com ">arthurpan6701@gmail.com</a>
						</p>
					</div>
				</div>
				<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3">
					<figcaption>
						<img src="/html/images/about/member4.png" alt="">
					</figcaption>
				</div>
			</div>
		</div>
		<div class="container bg bg5">
			<div class="row">
				<div class="col-xxsm-8 col-xxsm-offset-2 col-xs-3">
					<figcaption>
						<img src="/html/images/about/member5.png" alt="">
					</figcaption>
				</div>
				<div class="col-xxsm-12 col-xs-9 bgword">
					<div class="row">
						<div class="col-xsm-9 col-xs-9">
							<div class="outteam_Introduction">
								<div class="outteam_Introduction">
									<h1 class="h3">Unic</h1>
								</div>								
							</div>
						</div>
						<div class="col-xxsm-12 col-xsm-3 col-xs-3 strongtop">
							<div class="outteam_Introduction">
								<strong>代言人/小老師</strong>
							</div>
						</div>
					</div>
					<hr>
					<p>
						<div class="outteam_Introduction">
							我覺得學習程式是一件非常快樂的事，因為我可以用電腦語言編寫創作，用程式設計實現心中的想像。喜歡探索未知的新事物，好奇心讓我試圖找出方法解決問題，但我從不怕犯錯更不怕失敗，一次一次增強我的程式能力。
						</div>
					</p>
				</div>
			</div>
		</div>
	</main>
{% endblock %}