{% extends "base.html" %}
{% block title %}Coding for Fun / 授權說明會{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/html/css/about.css">
{% endblock %}
{% block content %}
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2 col-sm-1"></div>
		<div class="col-md-8 col-sm-10" style="background: white">
			<div id="presentation"></div>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFy4e500Y6SBuAUG0pb6ZZnEJ9AATt1GHzvpLYbk6ABeQX-A/closedform" target="_blank">
				<!-- <button class="btn btn-orange">我要報名</button> -->
				<button class="btn btn-orange">按此報名</button>
			</a>
		</div>
	</div>
</div>
<br>
{% endblock %}
{% block script %}
<script>
	$(document).ready(function () {
		$.ajax({
			url: host + "presentation/",
			success: function (msg) {
				if (msg["success"]) {
					$("#presentation")[0].innerHTML = msg["success"]
				}
			}
		})
	})
</script>
{% endblock %}