{% extends "base.html" %}
{% block title %}C-Python 進階班{% endblock %}
{% block css %}
<link href="/html/stylecss/class.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main>
		<div class="class6BG">
			<div class="class1">
				<!-- <img src="/html/images/class/scratch-sm-min.png" alt=""> -->
				<div class="class1_img03">
					<img src="/html/images/class/python-1-min-02_left.png" alt="">
				</div>
				<div class="class1_img05">
					<img src="/html/images/class/python-1-min-02_right.png" alt="">
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="class1_content">
					<div class="col-xxsm-1 col-xxsm-offset-0 col-xs-offset-1 col-xs-1 i-item">
						<img src="/html/images/class/item-min.png" width="40px" alt="">
					</div>
					<div class="col-xxsm-10 col-xs-9">
						<div class="row">
							<div class="col-xxsm-12 col-xs-9 col-sm-9 col-md-4 class1_content_title">
								<h1 class="h3">C-Python應用班</h1>
							</div>
							<div class="col-xxsm-12 col-xs-3 col-sm-2 col-md-8 classbutton">
								<button class="btn btn-orange">我要報名</button>
							</div>
						</div>
						<div>
							<div class="scratchcs_content">
								<span class="warning">課程特色：</span>
								<div class="">
									<p></p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">適合對象：</span>
								<div class="">
									<p></p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">課程介紹：</span>
								<div class="">
									<p></p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">上課時數：</span>
								<div class="">
									<p>？堂/每堂？小時</p>
								</div>
							</div>



							<div class="scratchcs_content">
								<span class="warning">課程代碼：</span>
								<div class="">
									<p>CP-2</p>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}