{% extends "base.html" %}
{% block title %}Coding for Fun / 討論區{% endblock %}
{% block css %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="/html/css/question.css">
<style>
	iframe#video {
		transform: translate(0, 50px);
	}

	.pagination > li.press > a {
		background-color: #428bca;
		color: white;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-12"><!--  style="background-color:red"> -->
		<br><br>
			<center>
				<ul class="nav nav-pills" style="width:90%">
					<li role="presentation" id="all" class="label-button active">
						<a class="text-primary" onclick="getallquestion('all', null)"> 所有問題 </a>
					</li>
					<li role="presentation" id="writer" class="label-button">
						<a class="text-primary" onclick="getallquestion('writer', getCookie('id'))"> 我的問題 </a>
					</li>
					<li role="presentation" id="solved" class="label-button">
						<a class="text-primary" onclick="getallquestion('solved', 'True')"> 已解問題 </a>
					</li>
					<li role="presentation" id="unsolved" class="label-button">
						<a class="text-primary" onclick="getallquestion('solved', 'False')"> 未解的問題 </a>
					</li>
					<li role="presentation" id="answer" class="label-button">
						<a class="text-primary" onclick="getallquestion('answer', getCookie('id'))"> 回答過的問題 </a>
					</li>
				</ul>
				<ul class="nav nav-pills" style="width:90%;font-size: 12px;">
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle text-primary" id="type-filter" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							問題種類
						</a>
						<ul class="dropdown-menu" style="padding-left: 10px;font-size: 14p2">
							<li onclick="addfilter('type', null)" style="cursor: pointer;font-size: 18px;">全部</li>
							<li onclick="addfilter('type', 0)" style="cursor: pointer;font-size: 18px;">Scratch</li>
							<li onclick="addfilter('type', 1)" style="cursor: pointer;font-size: 18px;">Python</li>
							<li onclick="addfilter('type', 2)" style="cursor: pointer;font-size: 18px;">Other</li>
						</ul>
					</li>
				</ul>
				<div id="cards">
					<span style="font-size:48px;color:#aaa">請稍等</span>
				</div>
			</center>
		</div>
	</div>
</div>

<div class="askframe">
	<img width="64" onclick="openask()" onmouseover="show('askquestion-frame')" onmouseout="hide('askquestion-frame')" src="/html/images/writequestion.png">
	<img style="display: inline-block;" width="64" onclick="show('helpquestion-frame');playVideo()" onmouseover="show('howto-frame')" onmouseout="hide('howto-frame')" src="/html/images/howto.png">
</div>
<div id="howto-frame" class="toggle-label" style="left: 170px;">
	示範
</div>
<div id="askquestion-frame" class="toggle-label">
	問問題
</div>
<div id="notlogin-frame" class="toggle-label" style="bottom: 90px;color:red;font-weight: bold;">
	請先登錄
</div>
{% endblock %}
{% block bcontent %}
<div id="question-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('question-frame');" style="">X</a><br>
		<div class="frame-content" style="padding-top: 0%;padding-left: 10%">
			<span id="title"></span><br>
			<span id="question-writer"></span>
			<span id="type" class="type"></span>
			<span id="create_at"></span>
			<button class="btn btn-warning btn-xs" id="closequestion"> 關閉問題 </button>
			<hr>
			<span id="content"></span>
			<br>
			<div id="files">
				沒有檔案
			</div>
			<br>
			<div id="answer-div" style="display: none;">
				<br>
				<textarea id="answer-content" placeholder="請在這裡回答問題"></textarea><br>
				<label for="f1-a"  class="file-button" style="width: 500px">
					上傳檔案 (Python, Scratch 或圖片檔) <span id="f1-a-filename"></span>
				</label>
				<label for="f2-a"  class="file-button" style="width: 500px">
					上傳檔案 (Python, Scratch 或圖片檔) <span id="f2-a-filename"></span>
				</label>
				<label for="f3-a"  class="file-button" style="width: 500px">
					上傳檔案 (Python, Scratch 或圖片檔) <span id="f3-a-filename"></span>
				</label>

				<form method="post" enctype="multipart/form-data" id="answerform" hidden>
					<input accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="file1" id="f1-a" type="file" onchange="selectfile(this)" />
					<input accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="file2" id="f2-a" type="file" onchange="selectfile(this)" />
					<input accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="file3" id="f3-a" type="file" onchange="selectfile(this)" />
					<input type="text" readonly=1 name="answerkey" id="answerkey" style="display:none;">
				</form>
				<br><br>
				<button id="answer-submit" class="btn btn-primary" onclick="answer()"> 回答 </button>
			</div>
			<div id="answers" style="padding-left: 50px"></div>
			<br>
		</div>
	</div>
</div>

<div id="ask-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('ask-frame');" style="">X</a><br>
		<div class="frame-content" style="padding-top: 5%;">
			<center>
				<input placeholder="標題" id="ask-title" type="text"><br><br>
				<textarea id="ask-content" cols="30" rows="10"></textarea>
				<div class="dropdown" style="width: 30%">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:90%">
						問題種類 <span class="caret">
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a onclick="changetype(0)">Scratch</a></li>
						<li><a onclick="changetype(1)">Python</a></li>
						<li><a onclick="changetype(2)">其他</a></li>
					</ul>
				</div>
				<br>

				<label for="f1-q"  class="file-button" style="width: 500px">
					上傳檔案 (Python, Scratch 或圖片檔) <span id="f1-q-filename"></span>
				</label>
				<label for="f2-q"  class="file-button" style="width: 500px">
					上傳檔案 (Python, Scratch 或圖片檔) <span id="f2-q-filename"></span>
				</label>
				<label for="f3-q"  class="file-button" style="width: 500px">
					上傳檔案 (Python, Scratch 或圖片檔) <span id="f3-q-filename"></span>
				</label>

				<form method="post" enctype="multipart/form-data" id="questionform" hidden>
					<input accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="file1" id="f1-q" type="file" onchange="selectfile(this)" />
					<input accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="file2" id="f2-q" type="file" onchange="selectfile(this)" />
					<input accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg" name="file3" id="f3-q" type="file" onchange="selectfile(this)" />
					<input type="text" readonly name="questionkey" id="questionkey" style="display:none;">
				</form>

				<br><br>
				<button onclick="ask()" id="submit">發問</button><br><br><br>
			</center>
		</div>
	</div>
</div>

<div id="helpquestion-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('helpquestion-frame');stopVideo()" style="">X</a><br>
		<div class="frame-content" style="padding-top: 5%;">
			<center>
				<div id="player"></div>
			</center>
		</div>
	</div>
</div>

<div id="image-frame" class="loginsignup-frame" hidden>
	<div class="loginsignup-frame-inside">
		<a id="closeloginframe" onclick="hide('image-frame');" style="">X</a><br>
		<div class="frame-content" style="padding-top: 5%;">
			<center>
				<img id="image-frame-image" style="width: 80%">
			</center>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="/html/javascript/question.js"></script>
<script src="http://www.youtube.com/iframe_api"></script>
<script>
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('player', {
			height: '600',
			width: '800',
			videoId: 'epJKYQiJP8w',
			playerVars: {"rel": 0},
			events: {
			'onStateChange': onPlayerStateChange
			}
		});
	}
	function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.PLAYING && !done) {
			setTimeout(stopVideo, 6000);
			done = true;
		}
	}
	function playVideo() {
		player.playVideo();
	}
	function stopVideo() {
		player.stopVideo();
	}
</script>
{% endblock %}