{% extends "base.html" %}
{% block title %}討論區{% endblock %}
{% block css %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="/html/css/question.css">
<style>
	iframe#video {
		transform: translate(0, 50px);
	}

	.pagination > li.press > a {
		background-color: #428bca;
		color: white;
	}

	input.multi-file-input {
		display: none;
	}
	.delete-file {
		color: red;
		cursor: pointer;
	}
</style>
{% endblock %}
{% block content %}
<br><br>
<div id="page-control"></div>
<div class="mynav-sidebar">
	<div id="question-range-btn" class="item" onclick="toggle('question-range')"> 問題範圍</div>
	<ul id="question-range" class="nav-dropdown">
		<li onclick="getallquestion('all', null)">所有問題</li>
		<li onclick="getallquestion('solved', 'True')">已解問題 <div id="green-dot"></div></li>
		<li onclick="getallquestion('solved', 'False')">未解問題 <div id="red-dot"></div></li>
		<li onclick="getallquestion('writer', getCookie('id'))"> 我的問題 </li>
		<li onclick="getallquestion('answer', getCookie('id'))"> 回答過的問題 </li>
	</ul>
	<div id="question-type-btn" class="item" onclick="toggle('question-type')"> 問題種類</div>
	<ul id="question-type" class="nav-dropdown">
		<li onclick="addfilter('type', null)">全部</li>
		<li onclick="addfilter('type', 0)">Scratch</li>
		<li onclick="addfilter('type', 1)">Python</li>
		<li onclick="addfilter('type', 2)">Other</li>
	</ul>
	<div class="item" onclick="openask()">
		<i class="fa fa-pencil-square-o" aria-hidden="true"></i> 問問題
	</div>
	<div class="item" onclick="show_popup('helpquestion-frame');playVideo()">
		<i class="fa fa-info-circle" aria-hidden="true"></i> 如何提問
	</div>
</div>
<div id="cards">
	<span style="font-size:48px;color:#aaa">請稍等</span>
</div>
{% endblock %}
{% block bcontent %}
<div id="question-frame" class="popup-frame" hidden>
	<a class="close" onclick="hidequestion()">X</a><br>
	<div style="padding: 3% 5%">
		<span id="title"></span><br>
		<span id="question-writer"></span>
		<span id="type" class="type"></span>
		<span id="create_at"></span>
		<button class="btn btn-orange btn-xs" id="closequestion"> 關閉問題 </button>
		<hr>
		<span id="content"></span>
		<br>
		<div id="files">沒有檔案</div>
		<br>
		<div id="answer-div" style="display: none;">
			<br>
			<textarea id="answer-content" placeholder="請在這裡回答問題"></textarea><br>
			<label id="answer-upload" class="multi-file-btn" for-list="f1-a f2-a f3-a">
				<button class="btn btn-orange">+ 上傳</button>
			</label><br>
			<table id="answer-upload-files" class="multi-files"></table>

			<form method="post" enctype="multipart/form-data" id="answerform" hidden>
				<input id="f1-a" name="file1" class="multi-file-input" type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg">
				<input id="f2-a" name="file2" class="multi-file-input" type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg">
				<input id="f3-a" name="file3" class="multi-file-input" type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg">
				<input type="text" readonly=1 name="answerkey" id="answerkey" style="display:none;">
			</form>
			<button class="btn btn-orange" onclick="answer()"> 回答 </button>
		</div>
		<div id="answers" style="padding-left: 50px"></div>
		<br>
	</div>
</div>

<div id="ask-frame" class="popup-frame" hidden>
	<a class="close" onclick="hide_popup('ask-frame')">X</a><br>
	<div style="padding-top: 5%;">
		<div class="row">
			<div class="col-md-1 col-xs-12"></div>
			<div class="col-md-7 col-xs-8" style="padding-left: 30px">
				<input id="ask-title" class="form-control" placeholder="標題" type="text"><br>
			</div>
			<div class="col-md-3 col-xs-4">
				<div class="dropdown">
					<button class="btn btn-orange dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:90%">
						問題種類 <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a class="pointer" onclick="changetype(0)">Scratch</a></li>
						<li><a class="pointer" onclick="changetype(1)">Python</a></li>
						<li><a class="pointer" onclick="changetype(2)">其他</a></li>
					</ul>
				</div><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-xs-12"></div>
			<div class="col-md-10 col-xs-12" style="padding-left: 30px">
				<textarea id="ask-content" class="form-control" rows="10"></textarea><br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-5">
				<label id="question-upload" class="multi-file-btn" for-list="f1-q f2-q f3-q">
					<button class="btn btn-orange">+ 上傳</button>
				</label><br>
				<table id="question-upload-files" class="multi-files"></table>
			</div>
			<div class="col-xs-3">
				<button class="btn btn-orange" onclick="ask()">發問</button>
			</div>
		</div>
		<form method="post" enctype="multipart/form-data" id="questionform" hidden>
			<input id="f1-q" name="file1" class="multi-file-input" type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg">
			<input id="f2-q" name="file2" class="multi-file-input" type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg">
			<input id="f3-q" name="file3" class="multi-file-input" type="file" accept=".py,.sb,.sb2,.png,.gif,.jpeg,.jpg">
			<input type="text" readonly name="questionkey" id="questionkey" style="display:none;">
		</form><br><br><br>
	</div>
</div>

<div id="helpquestion-frame" class="popup-frame" hidden>
	<a class="close" onclick="hide_popup('helpquestion-frame');stopVideo()">X</a><br>
	<div style="padding-top: 5%;">
		<center>
			<div id="player"></div>
		</center>
	</div>
</div>

<div id="image-frame" class="popup-frame" hidden>
	<a class="close" onclick="hide('image-frame')">X</a><br>
	<div>
		<center>
			<img id="image-frame-image" style="width: 95%;height:auto">
		</center>
	</div>
</div>
{% endblock %}
{% block script %}
<script src="/html/js/question.js"></script>
<script src="http://www.youtube.com/iframe_api"></script>
<script>
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('player', {
			height: '600',
			width: '800',
			videoId: 'epJKYQiJP8w',
			playerVars: {"rel": 0},
			events: {
			'onStateChange': onPlayerStateChange
			}
		});
	}
	function onPlayerStateChange(event) {
		if (event.data == YT.PlayerState.PLAYING && !done) {
			setTimeout(stopVideo, 6000);
			done = true;
		}
	}
	function playVideo() {
		player.playVideo();
	}
	function stopVideo() {
		player.stopVideo();
	}
</script>
{% endblock %}