{% extends "base.html" %}
{% block title %}Coding for Fun{% endblock %}
{% block css %}
<link href="/html/stylecss/class.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main>
		<div class="class4BG">
			<div class="class1">
				<!-- <img src="/html/images/class/scratch-sm-min.png" alt=""> -->
				<div class="class1_img01">
					<img src="/html/images/class/scratch-sm-min-04_left.png" alt="">
				</div>
				<div class="class1_img02">
					<img src="/html/images/class/scratch-sm-min-01_right.png" alt="">
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="class1_content">
					<div class="col-xxsm-1 col-xxsm-offset-0 col-xs-offset-1 col-xs-1 i-item">
						<img src="/html/images/class/item-min.png" width="40px" alt="">
					</div>
					<div class="col-xxsm-10 col-xs-9">
						<div class="row">
							<div class="col-xxsm-12 col-xs-9 col-sm-9 col-md-4">
								<h1 class="h3">CS-4</h1>
							</div>
							<div class="col-xxsm-7 col-xs-8 col-sm-9 col-md-10 classbutton">
								<button class="btn btn-orange">我要報名</button>
							</div>
						</div>
						<div>
							<div class="scratchcs_content">
								<p class="h4">總時數二十四小時，每堂兩小時，共十二堂<br/>
								每週二、四，14:00 - 1630</p>
							</div>

							<div class="scratchcs_content">
								<span class="warning">適合對象：</span>
								<div class="">
									<p>小學生四年級以上，具備使用電腦基礎能力（例如記事本或小畫家）。適合完全無程式經驗的學生。</p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">課程介紹：</span>
								<div class="">
									<p>一般的Scratch程式課程只教孩子寫遊戲，但CS-1讓孩子結合生活、想像與創意，寫自己的故事做自己的遊戲。多數男孩喜歡遊戲，多數女孩喜歡說故事，每個孩子都能找到創作的動機。</p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">課程特色：</span>
								<div class="">
									<p>在探索、遊戲與創作中，了解Scratch的全貌，給孩子全方位的學習，開啟學習程式興趣，讓孩子按照自己的節奏學習，增加自信心，養成孩子探索與嘗試的自學能力，成果相當於一般坊間&lceil;初級&rfloor;加&lceil;進階&rfloor;的程度。</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}