{% extends "base.html" %}
{% block title %}Coding for Fun{% endblock %}
{% block css %}
<link href="/html/stylecss/class.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main>
		<div class="class2BG">
			<div class="class1">
				<!-- <img src="/html/images/class/scratch-sm-min.png" alt=""> -->
				<div class="class1_img01">
					<img src="/html/images/class/scratch-sm-min-02_left.png" alt="">
				</div>
				<div class="class1_img02">
					<img src="/html/images/class/scratch-sm-min-01_right.png" alt="">
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="class1_content">
					<div class="col-xxsm-1 col-xxsm-offset-0 col-xs-offset-1 col-xs-1 i-item">
						<img src="/html/images/class/item-min.png" width="40px" alt="">
					</div>
					<div class="col-xxsm-10 col-xs-9">
						<div class="row">
							<div class="col-xxsm-12 col-xs-9 col-sm-9 col-md-4">
								<h1 class="h3">C-Scratch動畫班</h1>
							</div>

							<div class="col-xxsm-12 col-xs-3 col-sm-2 col-md-8 classbutton">
								<button class="btn btn-orange">我要報名</button>
							</div>
						</div>
						<div>
							<div class="scratchcs_content">
								<span class="warning">課程特色：</span>
								<div class="">
									<p>撰寫 Scratch 程式就像舞台劇的導演一樣, 要有劇本, 角色與場景, 還可以加上口白與特效。 這堂課帶領孩子運用Scratch 來發展舞台創意, 打造獨一無二的動畫作品。讓創意引導孩子自發性地寫程式, 快樂寫程式!</p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">適合對象：</span>
								<div class="">
									<p>有 CS-1 基礎的學生可以進階到 C-Scratch 應用班(CS-3)。如參加其他課程, 需經過能力鑑定, 確定孩子有Scratch基礎能力，並具備探索與嘗試的自學能力。</p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">課程介紹：</span>
								<div class="">
									<p>帶領孩子處理圖片、塑造人物、畫面設計與故事佈局，最佳導演由你來當！</p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">上課時數：</span>
								<div class="">
									<p>2堂/每堂2小時</p>
								</div>
							</div>

							<div class="scratchcs_content">
								<span class="warning">課程代碼：</span>
								<div class="">
									<p>CP-2</p>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}