{% extends "base.html" %}
{% block title %}C-Udacity 工作坊{% endblock %}
{% block css %}
<link href="/html/stylecss/class.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<main>
		<div class="class7BG">
			<div class="class1">
				<!-- <img src="/html/images/class/scratch-sm-min.png" alt=""> -->
				<div class="class1_img06">
					<img src="/html/images/class/udacity-min-01_left.png" alt="">
				</div>
				<div class="class1_img07">
					<img src="/html/images/class/udacity-min-01_right.png" alt="">
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xxsm-1 col-xxsm-offset-0 col-xs-offset-1 col-xs-1 i-item">
					<img src="/html/images/class/item-min.png" width="40px" alt="">
				</div>
				<div class="col-xxsm-10 col-xs-9">
					<div class="row">
						<div class="col-xxsm-12 col-xs-9 col-sm-9 col-md-4 class1_content_title">
							<h1 class="h3">C-Udacity 工作坊</h1>
						</div>
						<div class="col-xxsm-7 col-xs-8 col-sm-9 col-md-10 classbutton" style="padding-top: 20px;">
							<button class="btn btn-orange">我要報名</button>
						</div>
					</div>
					<div>
						<div class="scratchcs_content">
							<span class="warning">課程特色：</span>
							<div class="">
								<p>CU 根據 Udacity 的開放課程 (http://www.udacity.com) 提供實體課程。具備 CP-1 課程基礎，學生即有能力進行 Udacity 的程式課程。我們會根據學生特質與興趣，建議不同的課程。學生自主學習，老師輔助學生克服英文障礙，並培養學生解決問題的能力。</p>
							</div>
						</div>

						<div class="scratchcs_content">
							<span class="warning">適合對象：</span>
							<div class="">
								<p>具備 CP-1 課程基礎，對程式設計有興趣，不害怕英文的學生。</p>
							</div>
						</div>

						<div class="scratchcs_content">
							<span class="warning">課程介紹：</span>
							<div class="">
								<p>Udacity 是著名的線上課程網站，提供部分免費課程，內容以電腦科學為主。Udacity 強調實作，養成學生百分百的自學力。不僅自製軟體業界所需的技術課程，並與知名公司如 Google、Facebook、Amazon 等合作，也與美國大學 San Jose State University 與 Georgia Tech 電腦碩士課程合作。</p>
							</div>
						</div>

						<div class="scratchcs_content">
							<span class="warning">上課時數：</span>
							<div class="">
								<p>每堂 2 小時/可隨時插班</p>
							</div>
						</div>

						<div class="scratchcs_content">
							<span class="warning">課程代碼：</span>
							<div class="">
								<p>CU</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div><!--container-fluid end-->
	</main>
{% endblock %}