{% extends "base.html" %}
{% block title %}Coding for Fun / 課程{% endblock %}
{% block css %}
<style>
  div.classview-card {
    width: 100%;
    min-height: 190px;
    max-height: 190px;
    overflow-y: scroll;
    background-color:rgba(245,245,245,1);
    border-radius: 7px;
    box-shadow: 3px 2px 5px 0px rgba(25,85,109,0.7);
    padding: 20px;
    padding-left: 0px;
  }

  img.card-image {
    border-radius: 50%;
    background-color: #454d59;
    max-height: 100px;
    padding: 10px;
    transform: translate(0, 27px);
  }

  div.title {
    color: black;
    font-size: 20px;
    color: #3a91c4;
    font-weight: 400;
  }

  div.describe {
    font-weight: 200;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    font-size: 18px;
  }

  div.col-md-6 {
    padding-bottom: 20px;
  }

  div.container {
    width: 80%;
  }

  div.col-sm-4 {
    padding-bottom: 50px;
    vertical-align: middle;
  }

  div.col-sm-8 {
    padding-top: 20px;
    text-align: left;
  }

  span#time {
    color: rgba(160, 160, 160, 1);
    font-weight: 200;
    font-size: 16px;
  }

  span#price {
    color:rgba(220, 185, 99, 1);
  }

  button#description {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2c037;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    div.classview-card {
      /*height: 400px;*/
      max-height: 1000px;
    }

    div.col-sm-8 {
      padding-top: 0px;
      text-align: center;
    }
  }
</style>

<style>
button#goclass {
  background-color: rgb(43,142,183);
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 24px;
  color: white;
}

span#describe-title {
  font-size: 20px;
  color: CornflowerBlue;
}

span#describe-content {
  padding-left: 20px;
  display: block;
}

span#indent {
  color: rgb(200, 200, 200);
  letter-spacing: -1px;
  padding-right: 6px;
}

#describe-content a{
  padding-left: 5px;
  padding-right: 5px;
  color: Coral;
  text-decoration: none;
}

#describe-content ul {
    list-style: none;
}

#describe-content li:before {
    content: "• ";
    color: rgb(160, 160, 160);
}
</style>
{% endblock %}
{% block content %}
<br>
<div class="container">

<br>
<div class="row">
  {% for i in classes %}
  <div class="col-md-6 col-sm-12">
    <!-- <a href="/class/c/{{i.id}}"> -->
      <div class="classview-container" onclick="goclass('{{ i.id }}')">
        <div class="classview-card">
          <center>
            <div class="col-sm-4 col-xs-12">
              <img src="/html/images/{{ i.image }}" class="card-image" />
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="title">
                  {{ i.subject }}
                  <span id="time">{{ i.time }}</span>
                </div>
                <div class="describe">
                  {{ i.summary }}
                </div>
                <span id="price">
                  {% if i.price == "0" %}
                    免費
                  {% else %}
                    $ {{ i.price }}
                  {% endif %}
                </span>
                <!-- {% if i.description %}
                  <button id="description">介紹</button>
                {% endif %} -->
            </div>
          </center>
        </div>
      </div>
    <!-- </a> -->
  </div>
  {% endfor %}
</div>

</div>
<br><br>
{% endblock %}
{% block bcontent %}
  {% for i in classes %}
    {% if i.description %}
      <div id="{{ i.id }}-frame" class="loginsignup-frame">
        <div class="loginsignup-frame-inside">
          <a id="closeloginframe" onclick="hide('{{ i.id }}-frame');" style="">X</a>
          <br>
          <center>
            <a href="/class/c/{{ i.id }}">
              <button id="goclass">前往課程</button>
            </a>
          </center>
          <hr>
          <div class="frame-content" style="padding:15px;padding-top: 0%;padding-bottom: 50px;">
            {{ i.description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
{% block script %}
  <script>
    function goclass(id) {
      a = document.getElementById(id + "-frame");
      if (a != undefined) {
        show(id + "-frame")
      }
      else {
        window.location.href = "/class/c/" + id
      }
    }
  </script>
{% endblock %}